/* Style the Sign Up navbar link as an orange button */
li.navbar-link a[href*="firecrawl.dev/signin"] {
    background-color: #ff4d00;
    color: #fff;
}

li.navbar-link a[href*="firecrawl.dev/signin"]:hover {
    background-color: #e64500;
}

/* Dark mode adjustments */
.dark li.navbar-link a[href*="firecrawl.dev/signin"] {
    background-color: #ff4d00;
    color: #fff;
}

.dark li.navbar-link a[href*="firecrawl.dev/signin"]:hover {
    background-color: #e64500;
}

/* Move Sign Up button to the right */
li.navbar-link:has(a[href*="firecrawl.dev/signin"]) {
    order: 99;
}

/* Move GitHub button to the left (before Status/Support) */
nav ul li:has(a[href="https://github.com/firecrawl/firecrawl"])
{
    order: -1;
}
