{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v0",
    "description": "Webスクレイピングやクロール処理を行うためのFirecrawlサービス向けAPIです。",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v0"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "単一のURLをスクレイピングし、必要に応じてLLMで情報を抽出します",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "スクレイピング対象のURL"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "リクエストに付与するヘッダー。Cookie や User-Agent などを送信する際に使用します。"
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "ページ内コンテンツの HTML バージョンを含めます。レスポンスに html キーが追加されます。",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "ページの生の HTML コンテンツを含めます。レスポンスに rawHtml キーが含まれます。",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "最終的な出力には、ページ内に存在するタグ・クラス・id のみを含めてください。値はカンマ区切りで指定します。例: 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "ヘッダー、ナビゲーション、フッターなどを除いたページのメインコンテンツのみを返します。",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "ページから削除するタグ、クラス、ID を指定します。カンマ区切りの値で入力してください。例: 'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "画像やリンクの相対パスをすべて絶対パスに置き換える",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "スクレイピング対象のページの先頭部分のスクリーンショットを含めてください。",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "スクレイピングしているページの全体が写ったスクリーンショットを含めてください。",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "コンテンツを取得する前に、ページの読み込みのために x ミリ秒待機します",
                        "default": 0
                      }
                    }
                  },
                  "extractorOptions": {
                    "type": "object",
                    "description": "ページ内容から構造化情報を抽出するためのオプションです。注意：LLM ベースの抽出はデフォルトでは行われず、明示的に設定された場合にのみ実行されます。`markdown` モードはスクレイピングした Markdown を単に返すだけのモードであり、スクレイピング時のデフォルトモードです。",
                    "default": {},
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "markdown",
                          "llm-extraction",
                          "llm-extraction-from-raw-html",
                          "llm-extraction-from-markdown"
                        ],
                        "description": "使用する抽出モードです。`markdown`：スクレイピングしたMarkdownコンテンツをそのまま返し、LLMによる抽出は行いません。`llm-extraction`：クリーニングおよび解析済みコンテンツから、LLMを用いて情報を抽出します。`llm-extraction-from-raw-html`：生のHTMLから直接、LLMを用いて情報を抽出します。`llm-extraction-from-markdown`：Markdownコンテンツから、LLMを用いて情報を抽出します。"
                      },
                      "extractionPrompt": {
                        "type": "string",
                        "description": "ページからどのような情報を抽出するかを指定するプロンプト。LLM 抽出モードで使用されます。"
                      },
                      "extractionSchema": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "抽出するデータのスキーマ。LLM 抽出モードの場合にのみ必須です。",
                        "required": [
                          "company_mission",
                          "supports_sso",
                          "is_open_source"
                        ]
                      }
                    }
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "リクエストのタイムアウト時間（ミリ秒）",
                    "default": 30000
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "オプションに応じて複数のURLをクロールする",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "クロールの開始地点となるベースURL"
                  },
                  "crawlerOptions": {
                    "type": "object",
                    "properties": {
                      "includes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "含める URL パターン"
                      },
                      "excludes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "除外対象のURLパターン"
                      },
                      "generateImgAltText": {
                        "type": "boolean",
                        "description": "LLM を使って画像の代替テキストを生成（有料プランが必要）",
                        "default": false
                      },
                      "returnOnlyUrls": {
                        "type": "boolean",
                        "description": "true の場合、クロールステータスでは URL のみをリストとして返します。注意：レスポンスは data 内の URL のリストであり、ドキュメントのリストではありません。",
                        "default": false
                      },
                      "maxDepth": {
                        "type": "integer",
                        "description": "入力したURLを基準としてクロールする最大の階層深さです。maxDepth が 0 の場合は、入力したURLのみをスクレイピングします。maxDepth が 1 の場合は、入力したURLと、その1階層下にあるすべてのページをスクレイピングします。maxDepth が 2 の場合は、入力したURLと、その2階層下までのすべてのページをスクレイピングします。より大きな値でも同様のルールで動作します。"
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "default",
                          "fast"
                        ],
                        "description": "使用するクロールモードです。Fast モードはサイトマップがないウェブサイトを通常の 4 倍の速度でクロールできますが、精度が低くなる可能性があり、JavaScript によるレンダリングに大きく依存するウェブサイトでは使用しないでください。",
                        "default": "default"
                      },
                      "ignoreSitemap": {
                        "type": "boolean",
                        "description": "クロール時にサイトマップを無視する",
                        "default": false
                      },
                      "limit": {
                        "type": "integer",
                        "description": "クロールするページの最大数",
                        "default": 10000
                      },
                      "allowBackwardCrawling": {
                        "type": "boolean",
                        "description": "クローラーが特定のURLから、そこに至るまでにリンクで辿ってきたページへ戻れるようにします。例えば、`example.com/product/123` から `example.com/product` へ戻るといった動作を可能にします。",
                        "default": false
                      },
                      "allowExternalContentLinks": {
                        "type": "boolean",
                        "description": "クローラーが外部のウェブサイトへのリンクをたどれるようにします。",
                        "default": false
                      }
                    }
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "リクエストに付与するヘッダー。クッキーや User-Agent などを送信するために使用できます。"
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "ページ内コンテンツの HTML バージョンを含めます。レスポンスには html キーが含まれます。",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "ページの生の HTML コンテンツを含めます。レスポンスには rawHtml キーが含まれます。",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "最終出力には、そのページ内に存在するタグ・クラス・ID のみを含めてください。値はカンマ区切りで指定します。例: 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "ヘッダーやナビゲーション、フッターなどを除いたページのメインコンテンツのみを返します。",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "ページから削除するタグ、クラス、ID を指定します。カンマ区切りの値で入力してください。例: 'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "画像およびリンクの相対パスをすべて絶対パスに置き換えます",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "スクレイピングしているページの上部のスクリーンショットを含めてください。",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "スクレイピング対象ページの全体が映ったスクリーンショットを含めてください。",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "ページ読み込みのために x ミリ秒待機してからコンテンツを取得します",
                        "default": 0
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Googleでキーワードを検索し、各ページのMarkdown形式コンテンツを含む上位ページの結果を返します",
        "operationId": "searchGoogle",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "format": "uri",
                    "description": "検索するクエリ文字列"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "ヘッダーやナビゲーション、フッターなどを除き、ページのメインコンテンツのみを返してください。",
                        "default": false
                      },
                      "fetchPageContent": {
                        "type": "boolean",
                        "description": "各ページのコンテンツを取得します。false の場合は、高速な基本 search API をデフォルトで使用します。",
                        "default": true
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "ページ内コンテンツの HTML 版を含めます。レスポンスには html キーが含まれます。",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "ページの生の HTML コンテンツをレスポンスに含めます。レスポンスには rawHtml キーが含まれます。",
                        "default": false
                      }
                    }
                  },
                  "searchOptions": {
                    "type": "object",
                    "properties": {
                      "limit": {
                        "type": "integer",
                        "description": "結果の最大件数。ベータ期間中は最大 20 件です。"
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/status/{jobId}": {
      "get": {
        "tags": [
          "Crawl"
        ],
        "summary": "クロールジョブのステータスを取得する",
        "operationId": "getCrawlStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "クロールジョブのID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "ジョブのステータス（completed／active／failed／paused）"
                    },
                    "current": {
                      "type": "integer",
                      "description": "現在のページ番号"
                    },
                    "total": {
                      "type": "integer",
                      "description": "総ページ数"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "ジョブから返されるデータ（実行中は null）"
                    },
                    "partial_data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "クロール中のドキュメントは部分的に返されます（ストリーミング）。**この機能は現在アルファ版のため、破壊的な変更が発生する可能性があります。** ページの処理が完了すると、そのページが partial_data 配列に追加されるため、サイト全体のクロール完了を待つ必要はありません。クロールが完了すると、partial_data は空になり、結果は `data` に格納されます。レスポンスの配列内の項目数は最大 50 件です。配列に新しい項目が追加されると、最も古い項目（配列の先頭）が削除されます。"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト回数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/cancel/{jobId}": {
      "delete": {
        "tags": [
          "Crawl"
        ],
        "summary": "クロールジョブをキャンセルする",
        "operationId": "cancelCrawlJob",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "クロールジョブのID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功したレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "キャンセルを返します。"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "`includeHtml` が true の場合、そのページのコンテンツの HTML 版"
              },
              "rawHtml": {
                "type": "string",
                "nullable": true,
                "description": "`includeRawHtml` が true の場合のページの生の HTML コンテンツ"
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "sourceURL": {
                    "type": "string",
                    "format": "uri"
                  },
                  "<any other metadata> ": {
                    "type": "string"
                  },
                  "pageStatusCode": {
                    "type": "integer",
                    "description": "ページのHTTPステータスコード"
                  },
                  "pageError": {
                    "type": "string",
                    "nullable": true,
                    "description": "ページのエラーメッセージ"
                  }
                }
              },
              "llm_extraction": {
                "type": "object",
                "description": "LLM Extraction 使用時に表示されます。定義したスキーマに従ってページから抽出されたデータです。",
                "nullable": true
              },
              "warning": {
                "type": "string",
                "nullable": true,
                "description": "LLM Extraction の使用時に表示されます。抽出に問題がある場合は、警告メッセージで通知されます。"
              }
            }
          }
        }
      },
      "CrawlStatusResponseObj": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "nullable": true,
            "description": "`includeHtml` が true の場合、そのページの内容の HTML 版"
          },
          "rawHtml": {
            "type": "string",
            "nullable": true,
            "description": "`includeRawHtml` が true の場合のページの生の HTML コンテンツ"
          },
          "index": {
            "type": "integer",
            "description": "クロールされたページの番号です。`partial_data` を利用する際に、データがどのページ由来かを特定するのに役立ちます。"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "language": {
                "type": "string",
                "nullable": true
              },
              "sourceURL": {
                "type": "string",
                "format": "uri"
              },
              "<any other metadata> ": {
                "type": "string"
              },
              "pageStatusCode": {
                "type": "integer",
                "description": "ページのステータスコード"
              },
              "pageError": {
                "type": "string",
                "nullable": true,
                "description": "ページのエラーメッセージ"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "markdown": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "sourceURL": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}