{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v0",
    "description": "API pour interagir avec les services Firecrawl et effectuer des tâches de web scraping et de crawling.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v0"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Scraper une seule URL et, en option, en extraire des informations à l’aide d’un LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "L’URL à analyser"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "En-têtes à inclure dans la requête. Peuvent être utilisés pour envoyer des cookies, un user-agent, etc."
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Inclure la version HTML du contenu de la page. La réponse contiendra une clé html.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Inclure le contenu HTML brut de la page. Retourne une clé rawHtml dans la réponse.",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "N’incluez dans le résultat final que les balises, classes et ID présents sur la page. Utilisez des valeurs séparées par des virgules. Exemple : 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Renvoyez uniquement le contenu principal de la page, en excluant les en-têtes, barres de navigation, pieds de page, etc.",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Balises, classes et ID à supprimer de la page. Utilisez des valeurs séparées par des virgules. Exemple : « script, .ad, #footer »"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "Remplacez tous les chemins relatifs par des chemins absolus pour les images et les liens",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "Incluez une capture d’écran de la partie supérieure de la page que vous scrapez.",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "Incluez une capture d’écran de la page entière que vous scrapez.",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "Attendre x millisecondes que la page se charge avant de récupérer le contenu",
                        "default": 0
                      }
                    }
                  },
                  "extractorOptions": {
                    "type": "object",
                    "description": "Options d’extraction d’informations structurées à partir du contenu de la page. Remarque : l’extraction basée sur un LLM n’est pas effectuée par défaut et n’est lancée que lorsqu’elle est explicitement configurée. Le mode « markdown » renvoie simplement le markdown récupéré et constitue le mode de scraping par défaut.",
                    "default": {},
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "markdown",
                          "llm-extraction",
                          "llm-extraction-from-raw-html",
                          "llm-extraction-from-markdown"
                        ],
                        "description": "Le mode d’extraction à utiliser. 'markdown' : renvoie le contenu Markdown extrait, sans effectuer d’extraction via LLM. 'llm-extraction' : extrait des informations à partir du contenu nettoyé et analysé à l’aide d’un LLM. 'llm-extraction-from-raw-html' : extrait des informations directement à partir du HTML brut à l’aide d’un LLM. 'llm-extraction-from-markdown' : extrait des informations à partir du contenu Markdown à l’aide d’un LLM."
                      },
                      "extractionPrompt": {
                        "type": "string",
                        "description": "Un prompt décrivant les informations à extraire de la page, applicable aux modes d’extraction LLM."
                      },
                      "extractionSchema": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Schéma des données à extraire, nécessaire uniquement pour les modes d’extraction LLM.",
                        "required": [
                          "company_mission",
                          "supports_sso",
                          "is_open_source"
                        ]
                      }
                    }
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Délai d’attente de la requête, en millisecondes",
                    "default": 30000
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Explorer plusieurs URL selon les options",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "L’URL de base à partir de laquelle lancer le crawl"
                  },
                  "crawlerOptions": {
                    "type": "object",
                    "properties": {
                      "includes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Modèles d’URL à inclure"
                      },
                      "excludes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Modèles d’URL à exclure"
                      },
                      "generateImgAltText": {
                        "type": "boolean",
                        "description": "Générer du texte alternatif pour les images à l’aide de modèles de langage (LLM) (nécessite un abonnement payant)",
                        "default": false
                      },
                      "returnOnlyUrls": {
                        "type": "boolean",
                        "description": "Si la valeur est true, renvoie uniquement les URL sous forme de liste dans le statut de crawl. Attention : la réponse renvoyée sera une liste d’URL dans le champ data, et non une liste de documents.",
                        "default": false
                      },
                      "maxDepth": {
                        "type": "integer",
                        "description": "Profondeur maximale d’exploration par rapport à l’URL fournie. Une valeur maxDepth de 0 n’extrait que l’URL fournie. Une valeur maxDepth de 1 extrait l’URL fournie et toutes les pages à un niveau de profondeur. Une valeur maxDepth de 2 extrait l’URL fournie et toutes les pages jusqu’à deux niveaux de profondeur. Les valeurs plus élevées suivent le même principe."
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "default",
                          "fast"
                        ],
                        "description": "Le mode d’exploration à utiliser. Le mode rapide explore les sites web sans sitemap jusqu’à 4 fois plus vite, mais peut être moins précis et ne doit pas être utilisé sur des sites fortement dépendants du rendu JavaScript.",
                        "default": "default"
                      },
                      "ignoreSitemap": {
                        "type": "boolean",
                        "description": "Ignorer le sitemap du site lors du crawl",
                        "default": false
                      },
                      "limit": {
                        "type": "integer",
                        "description": "Nombre maximal de pages à explorer",
                        "default": 10000
                      },
                      "allowBackwardCrawling": {
                        "type": "boolean",
                        "description": "Permet au crawler de remonter d’une URL spécifique vers des pages précédemment liées. Par exemple, de « example.com/product/123 » à « example.com/product »",
                        "default": false
                      },
                      "allowExternalContentLinks": {
                        "type": "boolean",
                        "description": "Permet au crawler de suivre les liens pointant vers des sites web externes.",
                        "default": false
                      }
                    }
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "En-têtes à inclure dans la requête. Ils peuvent être utilisés pour envoyer des cookies, un user-agent, etc."
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Inclut la version HTML du contenu de la page. La réponse contiendra une clé html.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Inclut le contenu HTML brut de la page. Produit une clé rawHtml dans la réponse.",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "N’incluez dans le résultat final que les balises, classes et IDs présents sur la page. Utilisez des valeurs séparées par des virgules. Exemple : 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Renvoyer uniquement le contenu principal de la page, en excluant les en-têtes, éléments de navigation, pieds de page, etc.",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Balises, classes et ID à supprimer de la page. Utilisez des valeurs séparées par des virgules. Exemple : 'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "Remplacez tous les chemins relatifs des images et des liens par des chemins absolus",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "Incluez une capture d’écran de la partie supérieure de la page que vous scrapez.",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "Incluez une capture d’écran de la page entière que vous scrapez.",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "Attendre x millisecondes pour laisser la page se charger avant de récupérer le contenu",
                        "default": 0
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Recherche un mot-clé sur Google et renvoie les principaux résultats, avec pour chacun le contenu de la page au format Markdown",
        "operationId": "searchGoogle",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "format": "uri",
                    "description": "La requête à rechercher"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Ne renvoyez que le contenu principal de la page, sans les en-têtes, éléments de navigation, pieds de page, etc.",
                        "default": false
                      },
                      "fetchPageContent": {
                        "type": "boolean",
                        "description": "Récupère le contenu de chaque page. S’il est à false, une API SERP simple et rapide est utilisée par défaut.",
                        "default": true
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Inclure la version HTML du contenu de la page. Une clé html sera présente dans la réponse.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Inclut le contenu HTML brut de la page. Produit une clé rawHtml dans la réponse.",
                        "default": false
                      }
                    }
                  },
                  "searchOptions": {
                    "type": "object",
                    "properties": {
                      "limit": {
                        "type": "integer",
                        "description": "Nombre maximal de résultats. Limite fixée à 20 pendant la bêta."
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/status/{jobId}": {
      "get": {
        "tags": [
          "Crawl"
        ],
        "summary": "Obtenir l’état d’une tâche de crawl",
        "operationId": "getCrawlStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Identifiant de la tâche de crawl",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Statut du job (terminé, en cours, échoué, en pause)"
                    },
                    "current": {
                      "type": "integer",
                      "description": "Numéro de la page actuelle"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de pages"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "Données renvoyées par la tâche (null lorsqu’elle est en cours)"
                    },
                    "partial_data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "Documents partiels renvoyés au fur et à mesure du crawl (streaming). **Cette fonctionnalité est actuellement en alpha – attendez-vous à des changements majeurs**. Lorsqu’une page est prête, elle est ajoutée au tableau `partial_data`, il n’est donc pas nécessaire d’attendre que l’ensemble du site ait été exploré. Quand le crawl est terminé, `partial_data` est vidé et le résultat est disponible dans `data`. Il y a un maximum de 50 éléments dans le tableau de réponse. L’élément le plus ancien (en haut du tableau) est supprimé lorsqu’un nouvel élément est ajouté au tableau."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/cancel/{jobId}": {
      "delete": {
        "tags": [
          "Crawl"
        ],
        "summary": "Annuler une tâche de crawl",
        "operationId": "cancelCrawlJob",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "ID de la tâche de crawl",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Retours annulés."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "Version HTML du contenu de la page si `includeHtml` a la valeur `true`"
              },
              "rawHtml": {
                "type": "string",
                "nullable": true,
                "description": "Contenu HTML brut de la page si `includeRawHtml` vaut true"
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "sourceURL": {
                    "type": "string",
                    "format": "uri"
                  },
                  "<any other metadata> ": {
                    "type": "string"
                  },
                  "pageStatusCode": {
                    "type": "integer",
                    "description": "Le code de statut HTTP de la page"
                  },
                  "pageError": {
                    "type": "string",
                    "nullable": true,
                    "description": "Le message d’erreur de la page"
                  }
                }
              },
              "llm_extraction": {
                "type": "object",
                "description": "Affiché lors de l’utilisation de l’extraction LLM. Données extraites de la page conformément au schéma défini.",
                "nullable": true
              },
              "warning": {
                "type": "string",
                "nullable": true,
                "description": "Peut s’afficher lors de l’utilisation de l’extraction LLM. Un message d’avertissement vous indiquera tout problème rencontré lors de l’extraction."
              }
            }
          }
        }
      },
      "CrawlStatusResponseObj": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "nullable": true,
            "description": "Version HTML du contenu de la page si `includeHtml` vaut `true`"
          },
          "rawHtml": {
            "type": "string",
            "nullable": true,
            "description": "Contenu HTML brut de la page si `includeRawHtml` vaut `true`"
          },
          "index": {
            "type": "integer",
            "description": "Le numéro de la page explorée. Utile avec `partial_data` pour savoir de quelle page proviennent les données."
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "language": {
                "type": "string",
                "nullable": true
              },
              "sourceURL": {
                "type": "string",
                "format": "uri"
              },
              "<any other metadata> ": {
                "type": "string"
              },
              "pageStatusCode": {
                "type": "integer",
                "description": "Le code d’état HTTP de la page"
              },
              "pageError": {
                "type": "string",
                "nullable": true,
                "description": "Le message d'erreur de la page"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "markdown": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "sourceURL": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}