{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v0",
    "description": "API para interactuar con los servicios de Firecrawl y realizar tareas de scraping y rastreo web.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v0"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Hacer scraping de una sola URL y, opcionalmente, extraer información con un LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "La URL que se va a scrapear"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "Cabeceras que se envían con la solicitud. Pueden usarse para enviar cookies, el user-agent, etc."
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Incluye la versión HTML del contenido de la página. Devolverá una clave html en la respuesta.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Incluye el contenido HTML sin procesar de la página. Esto devolverá una clave rawHtml en la respuesta.",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Incluye únicamente las etiquetas, clases e ID de la página en el resultado final. Usa valores separados por comas. Ejemplo: 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Devuelve únicamente el contenido principal de la página, excluyendo encabezados, barras de navegación, pies de página, etc.",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Etiquetas, clases e ID que se eliminarán de la página. Usa valores separados por comas. Ejemplo: 'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "Reemplaza todas las rutas relativas de imágenes y enlaces por rutas absolutas",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "Incluye una captura de pantalla de la parte superior de la página que estás rastreando.",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "Incluye una captura de pantalla de página completa de la página que estás rastreando.",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "Espera x milisegundos a que cargue la página antes de obtener el contenido",
                        "default": 0
                      }
                    }
                  },
                  "extractorOptions": {
                    "type": "object",
                    "description": "Opciones para la extracción de información estructurada a partir del contenido de la página. Nota: la extracción basada en LLM no se realiza de manera predeterminada y solo se lleva a cabo cuando se configura explícitamente. El modo 'markdown' simplemente devuelve el markdown extraído y es el modo predeterminado para el scraping.",
                    "default": {},
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "markdown",
                          "llm-extraction",
                          "llm-extraction-from-raw-html",
                          "llm-extraction-from-markdown"
                        ],
                        "description": "El modo de extracción a utilizar. 'markdown': devuelve el contenido en formato Markdown obtenido por scraping, no realiza extracción mediante LLM. 'llm-extraction': extrae información del contenido limpiado y analizado utilizando un LLM. 'llm-extraction-from-raw-html': extrae información directamente del HTML sin procesar utilizando un LLM. 'llm-extraction-from-markdown': extrae información del contenido en Markdown utilizando un LLM."
                      },
                      "extractionPrompt": {
                        "type": "string",
                        "description": "Un prompt que describa qué información se debe extraer de la página, aplicable a los modos de extracción con LLM."
                      },
                      "extractionSchema": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Esquema de los datos que se van a extraer, requerido únicamente para los modos de extracción con LLM.",
                        "required": [
                          "company_mission",
                          "supports_sso",
                          "is_open_source"
                        ]
                      }
                    }
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tiempo de espera de la solicitud en milisegundos",
                    "default": 30000
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Rastrear varias URL según las opciones configuradas",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "La URL base desde la que se iniciará el rastreo"
                  },
                  "crawlerOptions": {
                    "type": "object",
                    "properties": {
                      "includes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Patrones de URL que se deben incluir"
                      },
                      "excludes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Patrones de URL para excluir"
                      },
                      "generateImgAltText": {
                        "type": "boolean",
                        "description": "Generar texto alternativo para imágenes usando LLMs (requiere un plan de pago)",
                        "default": false
                      },
                      "returnOnlyUrls": {
                        "type": "boolean",
                        "description": "Si es `true`, devuelve solo las URLs como una lista en el estado del rastreo. Ten en cuenta que la respuesta será una lista de URLs dentro de `data`, no una lista de documentos.",
                        "default": false
                      },
                      "maxDepth": {
                        "type": "integer",
                        "description": "Profundidad máxima de rastreo respecto a la URL indicada. Un maxDepth de 0 rastrea solo la URL indicada. Un maxDepth de 1 rastrea la URL indicada y todas las páginas a un nivel de profundidad. Un maxDepth de 2 rastrea la URL indicada y todas las páginas hasta dos niveles de profundidad. Los valores más altos siguen el mismo patrón."
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "default",
                          "fast"
                        ],
                        "description": "El modo de rastreo a utilizar. El modo rápido rastrea sitios web sin sitemap 4 veces más rápido, pero puede no ser tan preciso y no debería usarse en sitios con mucho contenido renderizado con JavaScript.",
                        "default": "default"
                      },
                      "ignoreSitemap": {
                        "type": "boolean",
                        "description": "Ignorar el sitemap del sitio al rastrear",
                        "default": false
                      },
                      "limit": {
                        "type": "integer",
                        "description": "Número máximo de páginas para rastrear",
                        "default": 10000
                      },
                      "allowBackwardCrawling": {
                        "type": "boolean",
                        "description": "Permite que el rastreador navegue desde una URL específica hacia páginas enlazadas previamente. Por ejemplo, desde \"example.com/product/123\" de vuelta a \"example.com/product\".",
                        "default": false
                      },
                      "allowExternalContentLinks": {
                        "type": "boolean",
                        "description": "Permite que el rastreador siga enlaces a sitios web externos.",
                        "default": false
                      }
                    }
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "Encabezados que se enviarán con la solicitud. Se pueden usar para enviar cookies, user-agent, etc."
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Incluir la versión HTML del contenido de la página. Devolverá una clave html en la respuesta.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Incluye el contenido HTML sin procesar de la página. Devolverá una clave rawHtml en la respuesta.",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Incluye únicamente en la salida final las etiquetas, clases e IDs de la página. Usa valores separados por comas. Ejemplo: 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Devuelve únicamente el contenido principal de la página, excluyendo encabezados, elementos de navegación, pies de página, etc.",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Etiquetas, clases e IDs que eliminar de la página. Usa valores separados por comas. Ejemplo: 'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "Reemplazar todas las rutas relativas por rutas absolutas en imágenes y enlaces",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "Incluye una captura de pantalla de la parte superior de la página de la que estás extrayendo datos.",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "Incluye una captura de pantalla de toda la página que estás rastreando.",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "Espera x milisegundos a que cargue la página antes de extraer el contenido",
                        "default": 0
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Busca una palabra clave en Google y devuelve las páginas mejor posicionadas, con el contenido de cada una en formato Markdown.",
        "operationId": "searchGoogle",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "format": "uri",
                    "description": "La consulta de búsqueda"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Devuelve solo el contenido principal de la página, excluyendo encabezados, elementos de navegación, pies de página, etc.",
                        "default": false
                      },
                      "fetchPageContent": {
                        "type": "boolean",
                        "description": "Obtiene el contenido de cada página. Si es false, se usará por defecto una API search básica y rápida.",
                        "default": true
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Incluye la versión HTML del contenido de la página. Devolverá una clave html en la respuesta.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Incluye el HTML sin procesar de la página. Generará una clave rawHtml en la respuesta.",
                        "default": false
                      }
                    }
                  },
                  "searchOptions": {
                    "type": "object",
                    "properties": {
                      "limit": {
                        "type": "integer",
                        "description": "Número máximo de resultados. El límite máximo es 20 durante la beta."
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/status/{jobId}": {
      "get": {
        "tags": [
          "Crawl"
        ],
        "summary": "Obtener el estado de una tarea de rastreo",
        "operationId": "getCrawlStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "ID de la tarea de rastreo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Estado del trabajo (completed, active, failed, paused)"
                    },
                    "current": {
                      "type": "integer",
                      "description": "Número de página actual"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Número total de páginas"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "Datos devueltos por la tarea (null mientras está en ejecución)"
                    },
                    "partial_data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "Documentos parciales devueltos mientras se rastrea (en streaming). **Esta funcionalidad se encuentra actualmente en fase alfa: espera cambios incompatibles**. Cuando una página esté lista, se añadirá al array `partial_data`, por lo que no es necesario esperar a que se rastree todo el sitio web. Cuando el rastreo termine, `partial_data` quedará vacío y el resultado estará disponible en `data`. Hay un máximo de 50 elementos en el array de respuesta. El elemento más antiguo (parte superior del array) se eliminará cuando se añada un nuevo elemento al array."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/cancel/{jobId}": {
      "delete": {
        "tags": [
          "Crawl"
        ],
        "summary": "Cancelar un trabajo de rastreo",
        "operationId": "cancelCrawlJob",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "ID de la tarea de rastreo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Devoluciones canceladas."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "Versión HTML del contenido de la página si `includeHtml` es `true`"
              },
              "rawHtml": {
                "type": "string",
                "nullable": true,
                "description": "Contenido HTML bruto de la página si `includeRawHtml` es `true`"
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "sourceURL": {
                    "type": "string",
                    "format": "uri"
                  },
                  "<any other metadata> ": {
                    "type": "string"
                  },
                  "pageStatusCode": {
                    "type": "integer",
                    "description": "El código de estado de la página"
                  },
                  "pageError": {
                    "type": "string",
                    "nullable": true,
                    "description": "El mensaje de error de la página"
                  }
                }
              },
              "llm_extraction": {
                "type": "object",
                "description": "Se muestra cuando se usa LLM Extraction. Datos extraídos de la página según el esquema definido.",
                "nullable": true
              },
              "warning": {
                "type": "string",
                "nullable": true,
                "description": "Puede mostrarse al usar la extracción con LLM. El mensaje de advertencia indicará cualquier problema con la extracción."
              }
            }
          }
        }
      },
      "CrawlStatusResponseObj": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "nullable": true,
            "description": "Versión HTML del contenido de la página si `includeHtml` es true"
          },
          "rawHtml": {
            "type": "string",
            "nullable": true,
            "description": "Contenido HTML bruto de la página si `includeRawHtml` es true"
          },
          "index": {
            "type": "integer",
            "description": "El número de la página que fue rastreada. Esto es útil para `partial_data`, ya que indica de qué página provienen los datos."
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "language": {
                "type": "string",
                "nullable": true
              },
              "sourceURL": {
                "type": "string",
                "format": "uri"
              },
              "<any other metadata> ": {
                "type": "string"
              },
              "pageStatusCode": {
                "type": "integer",
                "description": "El código de estado de la página"
              },
              "pageError": {
                "type": "string",
                "nullable": true,
                "description": "El mensaje de error de la página"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "markdown": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "sourceURL": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}