{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v1",
    "description": "API para interagir com os serviços da Firecrawl e realizar tarefas de web scraping e crawling.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v1"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Raspar uma única URL e, opcionalmente, extrair informações usando um LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL a ser raspada"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se definido como true, isso ativará retenção zero de dados para este scrape. Para ativar esse recurso, entre em contato com help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "Raspe várias URLs e, opcionalmente, extraia informações usando um LLM",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "A URL a ser coletada"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Um objeto de especificação de webhook.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "A URL para onde o webhook será enviado. Ele será acionado quando a raspagem em lote for iniciada (batch_scrape.started), para cada página raspada (batch_scrape.page) e quando a raspagem em lote for concluída (batch_scrape.completed ou batch_scrape.failed). A resposta será a mesma do endpoint `/scrape`."
                          },
                          "headers": {
                            "type": "object",
                            "description": "Cabeçalhos que serão enviados para a URL do webhook.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Metadados personalizados que serão incluídos em todos os payloads de webhook deste rastreamento",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Tipo de eventos a serem enviados para a URL do webhook. (padrão: todos)",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "Número máximo de raspagens concorrentes. Este parâmetro permite definir um limite de concorrência para esta raspagem em lote. Se não for especificado, a raspagem em lote seguirá o limite de concorrência da sua equipe."
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se URLs inválidas forem especificadas no array urls, elas serão ignoradas. Em vez de fazer com que toda a requisição falhe, será criada uma raspagem em lote usando apenas as URLs válidas restantes, e as URLs inválidas serão retornadas no campo invalidURLs da resposta."
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se definido como true, isso ativará a não retenção de dados para esta raspagem em lote. Para ativar esse recurso, entre em contato com help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas requisições",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de raspagem em lote",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtenha o status de uma tarefa de raspagem em lote",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar uma tarefa de raspagem em lote",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelamento concluído com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job de raspagem em lote não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de raspagem em lote",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter erros de um job de raspagem em lote",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de rastreamento",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status de um rastreamento",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar uma tarefa de rastreamento",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelamento concluído com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tarefa de rastreamento não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID da tarefa de rastreamento",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter os erros de uma tarefa de rastreamento",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Rastrear várias URLs de acordo com opções",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A URL base de onde o rastreamento será iniciado"
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Padrões de regex para o pathname da URL que excluem URLs correspondentes do crawl. Por exemplo, se você definir `\"excludePaths\": [\"blog/.*\"]` para a URL base firecrawl.dev, quaisquer resultados que corresponderem a esse padrão serão excluídos, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Padrões de regex para o pathname da URL que definem quais URLs serão incluídas no rastreamento. Somente os caminhos que corresponderem aos padrões especificados serão incluídos na resposta. Por exemplo, se você definir `\"includePaths\": [\"blog/.*\"]` para a URL base firecrawl.dev, apenas resultados que correspondam a esse padrão serão incluídos, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "regexOnFullURL": {
                    "type": "boolean",
                    "description": "Quando configurado como true, os padrões de regex em includePaths e excludePaths são comparados com a URL completa (incluindo parâmetros de query), em vez de apenas com o caminho (pathname) da URL. Útil quando você precisa filtrar URLs com base em query strings.",
                    "default": false
                  },
                  "maxDepth": {
                    "type": "integer",
                    "description": "Profundidade absoluta máxima de rastreamento a partir da base da URL informada. Basicamente, é o número máximo de barras (/) que o pathname de uma URL coletada pode conter.",
                    "default": 10
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "Profundidade máxima de rastreamento com base na ordem de descoberta. O site raiz e as páginas do sitemap têm profundidade de descoberta igual a 0. Por exemplo, se você definir como 1 e ativar ignoreSitemap, você só irá rastrear a URL informada e todas as URLs que estiverem linkadas nessa página."
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Ignorar o sitemap do site durante o rastreamento",
                    "default": false
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Não reextraia o mesmo path com parâmetros de consulta diferentes (ou sem nenhum)",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de páginas a serem rastreadas. O limite padrão é 10.000.",
                    "default": 10000
                  },
                  "allowBackwardLinks": {
                    "type": "boolean",
                    "description": "⚠️ DESCONTINUADO: Use \"crawlEntireDomain\" em vez disso. Permite que o crawler siga links internos para URLs irmãs ou URL de nível superior, não apenas caminhos filhos.",
                    "default": false,
                    "deprecated": true
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "Permite que o rastreador siga links internos para URLs no mesmo nível (irmãs) ou URLs pai, não apenas caminhos filhos.\n\nfalse: Somente rastreia URLs mais profundas (filhas).\n→ ex.: /features/feature-1 → /features/feature-1/tips ✅\n→ Não seguirá /pricing ou / ❌\n\ntrue: Rastreia qualquer link interno, incluindo URLs no mesmo nível e URLs pai.\n→ ex.: /features/feature-1 → /pricing, /, etc. ✅\n\nUse true para obter uma cobertura interna mais ampla, além de caminhos aninhados.",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "Permite que o rastreador siga links para sites externos.",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "Permite que o crawler rastreie links que apontam para subdomínios do domínio principal.",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "Intervalo, em segundos, entre as coletas. Isso ajuda a respeitar os limites de requisições dos sites."
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "Número máximo de raspagens simultâneas. Esse parâmetro permite definir um limite de concorrência para este rastreamento. Se não for especificado, o rastreamento usará o limite de concorrência da sua equipe."
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Objeto de especificação de webhook.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "A URL para a qual o webhook será enviado. O webhook será acionado quando o crawl for iniciado (crawl.started), a cada página rastreada (crawl.page) e quando o crawl for concluído (crawl.completed ou crawl.failed). A resposta será a mesma do endpoint `/scrape`."
                      },
                      "headers": {
                        "type": "object",
                        "description": "Cabeçalhos que serão enviados para a URL do webhook.",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadados personalizados que serão incluídos em todos os payloads de webhook deste rastreamento",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "Tipo de eventos que devem ser enviados para a URL do webhook. (padrão: todos)",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se definido como true, não haverá retenção de dados para este crawl. Para habilitar esse recurso, entre em contato pelo e-mail help@firecrawl.dev"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "Mapear várias URLs de acordo com as opções",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A URL base de onde iniciar o rastreamento"
                  },
                  "search": {
                    "type": "string",
                    "description": "Consulta de pesquisa usada para mapeamento. Durante a fase Alpha, o componente \"inteligente\" da funcionalidade de pesquisa é limitado a 500 resultados. Porém, se o mapeamento encontrar mais resultados, nenhum limite será aplicado."
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Ignorar o sitemap do site durante o rastreamento.",
                    "default": true
                  },
                  "sitemapOnly": {
                    "type": "boolean",
                    "description": "Retorne apenas os links encontrados no sitemap do site",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Incluir subdomínios do site",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de links a retornar",
                    "default": 5000,
                    "maximum": 30000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tempo limite em milissegundos. Não há tempo limite definido por padrão."
                  },
                  "location": {
                    "type": "object",
                    "description": "Configurações de localização da requisição. Quando definidas, será usado um proxy apropriado, se disponível, e serão emuladas as configurações correspondentes de idioma e fuso horário. O padrão é \"US\" se não for especificado.",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "Código de país ISO 3166-1 alfa-2 (por exemplo, \"US\", \"AU\", \"DE\", \"JP\")",
                        "pattern": "^[A-Z]{2}$",
                        "default": "US"
                      },
                      "languages": {
                        "type": "array",
                        "description": "Idiomas e localidades preferidos para a requisição, em ordem de prioridade. Por padrão, usa o idioma da localidade especificada. Consulte https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                        "items": {
                          "type": "string",
                          "example": "en-US"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro de servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extraia dados estruturados de páginas com LLMs",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "As URLs das quais os dados serão extraídos. As URLs devem estar no formato glob."
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt para guiar o processo de extração"
                  },
                  "schema": {
                    "type": "object",
                    "description": "Esquema que define a estrutura dos dados extraídos. Deve estar em conformidade com o [JSON Schema](https://json-schema.org/)."
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "Quando definido como true, a extração utilizará pesquisa na web para encontrar dados adicionais",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Quando definido como `true`, os arquivos sitemap.xml serão ignorados durante a varredura do site",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Quando definido como verdadeiro, os subdomínios das URLs fornecidas também serão rastreados",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "Quando definido como `true`, as fontes usadas para extrair os dados serão incluídas na resposta como a chave `sources`",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se URLs inválidas forem especificadas no array urls, elas serão ignoradas. Em vez de fazer com que a requisição inteira falhe, será realizada uma extração usando apenas as URLs válidas restantes, e as URLs inválidas serão retornadas no campo invalidURLs da resposta."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extração concluída com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitação inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de extração",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status de uma tarefa de extração",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "Retorna todos os rastreamentos ativos da equipe autenticada",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "O identificador único do rastreamento"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "O ID da equipe proprietária do crawl"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL de origem do rastreamento"
                          },
                          "options": {
                            "type": "object",
                            "description": "Opções do crawler utilizadas neste rastreamento",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas requisições",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deep-research": {
      "post": {
        "summary": "Iniciar uma operação de pesquisa aprofundada com base em uma consulta",
        "operationId": "startDeepResearch",
        "tags": [
          "Research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Consulta de pesquisa"
                  },
                  "maxDepth": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12,
                    "default": 7,
                    "description": "Profundidade máxima de iterações de pesquisa"
                  },
                  "timeLimit": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 600,
                    "default": 300,
                    "description": "Limite de tempo em segundos"
                  },
                  "maxUrls": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 20,
                    "description": "Número máximo de URLs para analisar"
                  },
                  "analysisPrompt": {
                    "type": "string",
                    "description": "O prompt a ser usado na análise final. Útil para definir o formato do markdown da análise final de uma maneira específica."
                  },
                  "systemPrompt": {
                    "type": "string",
                    "description": "O prompt de sistema a ser usado pelo agente de pesquisa. Útil para orientar o agente de pesquisa em uma direção específica."
                  },
                  "formats": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "markdown",
                        "json"
                      ],
                      "default": [
                        "markdown"
                      ]
                    }
                  },
                  "jsonOptions": {
                    "type": "object",
                    "description": "Opções de saída em JSON",
                    "properties": {
                      "schema": {
                        "type": "object",
                        "description": "O esquema a ser usado para a saída JSON. Deve estar em conformidade com o padrão [JSON Schema](https://json-schema.org/)."
                      },
                      "systemPrompt": {
                        "type": "string",
                        "description": "Prompt de sistema a ser usado para a saída JSON"
                      },
                      "prompt": {
                        "type": "string",
                        "description": "O prompt a ser usado para saída em JSON"
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processo de pesquisa iniciado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID da tarefa de pesquisa"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros da requisição inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters provided"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deep-research/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID do job de pesquisa",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtenha o status e os resultados de uma operação de pesquisa aprofundada",
        "operationId": "getDeepResearchStatus",
        "tags": [
          "Research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "finalAnalysis": {
                          "type": "string"
                        },
                        "json": {
                          "type": "object",
                          "description": "Exibido ao utilizar o formato JSON",
                          "nullable": true
                        },
                        "activities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "depth": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "title": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Título extraído da página; pode ser uma string ou um array de strings"
                              },
                              "description": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Descrição extraída da página; pode ser uma string ou um array de strings"
                              },
                              "favicon": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "processing",
                            "completed",
                            "failed"
                          ]
                        },
                        "error": {
                          "type": "string"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "currentDepth": {
                          "type": "integer"
                        },
                        "maxDepth": {
                          "type": "integer"
                        },
                        "totalUrls": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job de pesquisa não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Research job not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "Obter os créditos restantes da equipe autenticada",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remaining_credits": {
                          "type": "number",
                          "description": "Número de créditos restantes da equipe",
                          "example": 1000
                        },
                        "plan_credits": {
                          "type": "number",
                          "description": "Número de créditos do plano. Isso não inclui créditos de cupons, pacotes de créditos ou créditos de recarga automática.",
                          "example": 500000
                        },
                        "billing_period_start": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de início do período de faturamento. null se você estiver usando o plano gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billing_period_end": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de término do período de faturamento. null se estiver usando o plano gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Informação sobre uso de créditos não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "Obtenha o histórico de uso de créditos da equipe autenticada",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obtenha o histórico de uso de créditos por chave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de início do período de faturamento",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de término do período de faturamento",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nome da chave de API usada no período de cobrança. null se byApiKey for false (padrão)",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "Número total de créditos utilizados no período de faturamento",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "Obter os tokens restantes para a equipe autenticada (apenas Extract)",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remaining_tokens": {
                          "type": "number",
                          "description": "Quantidade de tokens restantes para a equipe",
                          "example": 1000
                        },
                        "plan_tokens": {
                          "type": "number",
                          "description": "Número de tokens incluídos no plano. Não inclui tokens de cupom.",
                          "example": 500000
                        },
                        "billing_period_start": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de início do período de faturamento. null se estiver usando o plano gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billing_period_end": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de término do período de faturamento. null se estiver usando o plano gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Informações sobre o uso de tokens não encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "Obtenha o histórico de uso de tokens da equipe autenticada (somente Extract)",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obter uso histórico de tokens por chave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de início do período de faturamento",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de encerramento do período de faturamento",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nome da chave de API utilizada durante o período de cobrança. null se byApiKey for false (padrão)",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "Número total de tokens utilizados no período de faturamento",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/queue-status": {
      "get": {
        "summary": "Métricas da fila de scraping da sua equipe",
        "operationId": "getQueueStatus",
        "tags": [
          "Miscellaneous"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "jobsInQueue": {
                      "type": "number",
                      "description": "Número de jobs atualmente na sua fila"
                    },
                    "activeJobsInQueue": {
                      "type": "number",
                      "description": "Número de jobs ativos atualmente"
                    },
                    "waitingJobsInQueue": {
                      "type": "number",
                      "description": "Número de jobs aguardando no momento"
                    },
                    "maxConcurrency": {
                      "type": "number",
                      "description": "Número máximo de jobs ativos em execução simultânea, de acordo com o seu plano"
                    },
                    "mostRecentSuccess": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp do job mais recente bem-sucedido",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Pesquisar e, opcionalmente, raspar os resultados da busca",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "A consulta de pesquisa"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de resultados a retornar",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "tbs": {
                    "type": "string",
                    "description": "Parâmetro de pesquisa baseado em tempo. Suporta períodos de tempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) e intervalos de datas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)"
                  },
                  "location": {
                    "type": "string",
                    "description": "Parâmetro de localização para resultados de pesquisa"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tempo limite em milissegundos",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "Exclui dos resultados de pesquisa as URLs que são inválidas para outros endpoints do Firecrawl. Isso ajuda a reduzir erros se você estiver encaminhando dados da pesquisa para outros endpoints da API do Firecrawl.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/BaseScrapeOptions"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "formats": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "markdown",
                                "html",
                                "rawHtml",
                                "links",
                                "screenshot",
                                "screenshot@fullPage",
                                "json",
                                "extract"
                              ]
                            },
                            "default": []
                          }
                        }
                      }
                    ],
                    "description": "Opções para extrair resultados de busca",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Título do resultado da pesquisa"
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do resultado da pesquisa"
                          },
                          "url": {
                            "type": "string",
                            "description": "URL do resultado da pesquisa"
                          },
                          "markdown": {
                            "type": "string",
                            "nullable": true,
                            "description": "Conteúdo em Markdown, se a raspagem tiver sido solicitada"
                          },
                          "html": {
                            "type": "string",
                            "nullable": true,
                            "description": "Conteúdo HTML, quando solicitado nos formatos"
                          },
                          "rawHtml": {
                            "type": "string",
                            "nullable": true,
                            "description": "Conteúdo HTML bruto, se solicitado nos formatos"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Links encontrados, se solicitado nos formatos"
                          },
                          "screenshot": {
                            "type": "string",
                            "nullable": true,
                            "description": "URL da captura de tela, caso tenha sido solicitada em formatos. As capturas de tela expiram após 24 horas e deixam de estar disponíveis para download."
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Título extraído da página, pode ser uma string ou um array de strings"
                              },
                              "description": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Descrição extraída da página; pode ser uma string ou um array de strings"
                              },
                              "sourceURL": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "integer"
                              },
                              "error": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "Mensagem de aviso caso ocorra algum problema"
                    },
                    "id": {
                      "type": "string",
                      "description": "O ID da tarefa de busca"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Tempo limite da requisição excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro de servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llmstxt": {
      "post": {
        "summary": "Gerar o arquivo LLMs.txt para um site",
        "operationId": "generateLLMsTxt",
        "tags": [
          "LLMs.txt"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A URL usada para gerar o LLMs.txt"
                  },
                  "maxUrls": {
                    "type": "integer",
                    "description": "Número máximo de URLs para análise",
                    "default": 2
                  },
                  "showFullText": {
                    "type": "boolean",
                    "description": "Inclua todo o conteúdo de texto na resposta",
                    "default": false
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tarefa de geração de LLMs.txt iniciada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID da tarefa de geração do arquivo LLMs.txt"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros de requisição inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters provided"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llmstxt/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de geração do arquivo LLMs.txt",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status e os resultados de um job de geração do arquivo LLMs.txt",
        "operationId": "getLLMsTxtStatus",
        "tags": [
          "LLMs.txt"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "llmstxt": {
                          "type": "string",
                          "description": "O conteúdo gerado do arquivo LLMs.txt"
                        },
                        "llmsfulltxt": {
                          "type": "string",
                          "description": "O conteúdo de texto completo quando showFullText é true"
                        }
                      }
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Quando o conteúdo gerado vai expirar"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job de geração de LLMs.txt não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "LLMs.txt generation job not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BaseScrapeOptions": {
        "type": "object",
        "properties": {
          "onlyMainContent": {
            "type": "boolean",
            "description": "Retorne apenas o conteúdo principal da página, excluindo cabeçalhos, áreas de navegação, rodapés etc.",
            "default": true
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags para incluir na saída."
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags a serem excluídas da saída."
          },
          "maxAge": {
            "type": "integer",
            "description": "Retorna uma versão em cache da página se ela tiver menos que essa idade, em milissegundos. Se a versão em cache da página for mais antiga que esse valor, a página será raspada novamente. Se você não precisar de dados extremamente atualizados, ativar essa opção pode acelerar suas raspagens em até 500%. O padrão é 0, o que desativa o cache.",
            "default": 0
          },
          "headers": {
            "type": "object",
            "description": "Cabeçalhos a serem enviados com a requisição. Podem ser usados para enviar cookies, user-agent etc."
          },
          "waitFor": {
            "type": "integer",
            "description": "Defina um atraso, em milissegundos, antes de buscar o conteúdo, permitindo que a página tenha tempo suficiente para carregar.",
            "default": 0
          },
          "mobile": {
            "type": "boolean",
            "description": "Defina como true para emular a raspagem de dados a partir de um dispositivo móvel. Útil para testar páginas responsivas e gerar capturas de tela da versão mobile.",
            "default": false
          },
          "skipTlsVerification": {
            "type": "boolean",
            "description": "Ignorar a verificação do certificado TLS ao fazer requisições",
            "default": false
          },
          "timeout": {
            "type": "integer",
            "description": "Tempo limite da requisição em milissegundos",
            "default": 30000
          },
          "parsePDF": {
            "type": "boolean",
            "description": "Controla como os arquivos PDF são processados durante o scraping. Quando definido como true, o conteúdo do PDF é extraído e convertido para o formato Markdown, com cobrança baseada no número de páginas (1 crédito por página). Quando definido como false, o arquivo PDF é retornado codificado em base64, com uma tarifa fixa de 1 crédito no total.",
            "default": true
          },
          "jsonOptions": {
            "type": "object",
            "description": "Objeto JSON de opções",
            "properties": {
              "schema": {
                "type": "object",
                "description": "O schema a ser usado para extração (opcional). Deve estar em conformidade com o [JSON Schema](https://json-schema.org/)."
              },
              "systemPrompt": {
                "type": "string",
                "description": "O prompt do sistema a ser usado na extração (opcional)"
              },
              "prompt": {
                "type": "string",
                "description": "O prompt a ser usado para extração sem esquema (opcional)"
              }
            }
          },
          "actions": {
            "type": "array",
            "description": "Ações a serem realizadas na página antes de extrair o conteúdo",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "title": "Wait",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "Aguardar por uma quantidade especificada de milissegundos"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "Número de milissegundos a esperar"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Seletor de consulta (query selector) para localizar o elemento por",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Screenshot",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "screenshot"
                      ],
                      "description": "Tire uma captura de tela. Os links estarão no array `actions.screenshots` da resposta."
                    },
                    "fullPage": {
                      "type": "boolean",
                      "description": "Define se a captura de tela deve ser da página inteira ou apenas da área visível atual (viewport).",
                      "default": false
                    },
                    "quality": {
                      "type": "integer",
                      "description": "A qualidade da captura de tela, de 1 a 100. 100 é a qualidade máxima."
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Click",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "click"
                      ],
                      "description": "Clique em um elemento"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Seletor para localizar o elemento por",
                      "example": "#load-more-button"
                    },
                    "all": {
                      "type": "boolean",
                      "description": "Clica em todos os elementos que correspondem ao seletor, não apenas no primeiro. Não gera erro caso nenhum elemento corresponda ao seletor.",
                      "default": false
                    }
                  },
                  "required": [
                    "type",
                    "selector"
                  ]
                },
                {
                  "type": "object",
                  "title": "Write text",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "write"
                      ],
                      "description": "Digite um texto em um campo de entrada, área de texto ou elemento com contenteditable. Observação: primeiro é necessário focar o elemento usando uma ação de “click” antes de escrever. O texto será digitado caractere por caractere para simular a entrada via teclado."
                    },
                    "text": {
                      "type": "string",
                      "description": "Texto para digitar",
                      "example": "Hello, world!"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "title": "Press a key",
                  "description": "Pressione uma tecla na página. Consulte https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html para ver os códigos de teclas.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "press"
                      ],
                      "description": "Pressione uma tecla nesta página"
                    },
                    "key": {
                      "type": "string",
                      "description": "Tecla a ser pressionada",
                      "example": "Enter"
                    }
                  },
                  "required": [
                    "type",
                    "key"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scroll",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scroll"
                      ],
                      "description": "Rolar a página ou um elemento específico"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "Direção da rolagem",
                      "default": "down"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Seletor de consulta para o elemento a ser rolado",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scrape",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scrape"
                      ],
                      "description": "Extrai o conteúdo da página atual e retorna a URL e o HTML."
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Execute JavaScript",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "executeJavascript"
                      ],
                      "description": "Executar código JavaScript na página"
                    },
                    "script": {
                      "type": "string",
[...]
