{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v2",
    "description": "API para interagir com os serviços do Firecrawl e executar tarefas de web scraping e crawling.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Fazer scraping de uma única URL e, opcionalmente, extrair informações usando um LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL a ser raspada"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se definido como true, isso ativará a retenção zero de dados para este scrape. Para habilitar esse recurso, entre em contato com help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas requisições",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "Raspe várias URLs e, opcionalmente, extraia informações com um LLM",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL a ser raspada"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Objeto de especificação de webhook.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "A URL para onde o webhook será enviado. Ele será disparado quando a raspagem em lote for iniciada (batch_scrape.started), a cada página raspada (batch_scrape.page) e quando a raspagem em lote for concluída (batch_scrape.completed ou batch_scrape.failed). A resposta será a mesma do endpoint `/scrape`."
                          },
                          "headers": {
                            "type": "object",
                            "description": "Cabeçalhos a serem enviados para a URL do webhook.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Metadados personalizados que serão incluídos em todos os payloads de webhook deste rastreamento",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Tipos de eventos que devem ser enviados para a URL do webhook. (padrão: todos)",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "Número máximo de scrapes simultâneos. Este parâmetro permite definir um limite de concorrência para este scrape em lote. Se não for especificado, o scrape em lote seguirá o limite de concorrência da sua equipe."
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": true,
                        "description": "Se URLs inválidas forem especificadas no array urls, elas serão ignoradas. Em vez de fazer com que toda a requisição falhe, será criada uma raspagem em lote usando apenas as URLs válidas restantes, e as URLs inválidas serão retornadas no campo invalidURLs da resposta."
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se definido como true, isso ativará a política de não retenção de dados para esta execução de scraping em lote. Para habilitar esse recurso, entre em contato com help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas requisições",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID do job de raspagem em lote",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtenha o status de uma tarefa de raspagem em lote",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar um job de raspagem em lote",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelamento concluído com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job de raspagem em lote não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de raspagem em lote",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter os erros de uma tarefa de raspagem em lote",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de rastreamento",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status de uma tarefa de rastreamento",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar uma tarefa de rastreamento",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelamento realizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tarefa de rastreamento não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de rastreamento",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter erros de um job de rastreamento",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro de servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Rastrear várias URLs de acordo com opções",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL base para iniciar o rastreamento"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Um prompt em linguagem natural para gerar as opções do crawler (todos os parâmetros abaixo). Parâmetros definidos explicitamente substituem os equivalentes gerados."
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Padrões de regex para o pathname da URL que excluem URLs correspondentes do rastreamento. Por exemplo, se você definir `\"excludePaths\": [\"blog/.*\"]` para a URL base firecrawl.dev, quaisquer resultados que correspondam a esse padrão serão excluídos, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Padrões de regex para paths de URL que definem quais URLs serão incluídas no crawl. Apenas os paths que corresponderem aos padrões especificados serão incluídos na resposta. Observação: a URL inicial também é validada em relação a esses padrões — se ela não corresponder, o crawl pode retornar zero páginas. Por exemplo, se você configurar \"includePaths\": [\"blog/.*\"] tendo como URL base firecrawl.dev/blog, apenas as páginas em /blog/ serão incluídas nos resultados, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "Profundidade máxima de crawl com base na ordem de descoberta. O site raiz e as páginas do sitemap têm profundidade de descoberta igual a 0. Por exemplo, se você definir para 1 e usar `sitemap: 'skip'`, você só fará o crawl da URL fornecida e de todas as URLs que tiverem links nessa página."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "Modo de uso do sitemap durante o rastreamento. Se você definir como \"skip\", o crawler vai ignorar o sitemap do site e rastrear apenas a URL inicial, descobrindo novas páginas a partir dela. Se você definir como \"only\", o crawler vai rastrear somente as URLs presentes no sitemap (mais a URL inicial) e não vai seguir links encontrados no HTML.",
                    "default": "include"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Não faça scraping novamente do mesmo caminho com parâmetros de consulta diferentes (ou sem parâmetros)",
                    "default": false
                  },
                  "regexOnFullURL": {
                    "type": "boolean",
                    "description": "Quando definido como true, os padrões de regex de includePaths e excludePaths serão comparados com a URL completa (incluindo parâmetros de consulta/query strings), em vez de apenas com o pathname da URL. Útil quando você precisa filtrar URLs com base em query strings.",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de páginas a rastrear. O limite padrão é 10.000.",
                    "default": 10000
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "Permite que o crawler siga links internos para URLs no mesmo nível (irmãs) ou em níveis superiores (pai), não apenas subcaminhos (filhos).\n\nfalse: Só rastreia URLs em níveis inferiores (filhas).\n→ ex.: /features/feature-1 → /features/feature-1/tips ✅\n→ Não seguirá /pricing ou / ❌\n\ntrue: Rastreia quaisquer links internos, incluindo URLs irmãs e pai.\n→ ex.: /features/feature-1 → /pricing, /, etc. ✅\n\nUse true para uma cobertura interna mais ampla, além dos caminhos aninhados.",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "Permite que o rastreador siga links para sites externos.",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "Permite que o rastreador siga links para subdomínios do domínio principal.",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "Intervalo, em segundos, entre as raspagens. Isso ajuda a respeitar os limites de acesso dos sites."
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "Número máximo de raspagens concorrentes. Este parâmetro permite definir um limite de concorrência para este rastreamento. Se não for especificado, o rastreamento seguirá o limite de concorrência da sua equipe."
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Objeto de especificação de webhook.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "A URL para a qual o webhook será enviado. Ele será disparado quando o rastreamento for iniciado (crawl.started), para cada página rastreada (crawl.page) e quando o rastreamento for concluído (crawl.completed ou crawl.failed). A resposta será a mesma do endpoint `/scrape`."
                      },
                      "headers": {
                        "type": "object",
                        "description": "Cabeçalhos que devem ser enviados para a URL do webhook.",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadados personalizados que serão incluídos em todos os payloads de webhook deste rastreamento",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "Tipos de eventos a serem enviados para a URL do webhook. (padrão: todos)",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se definido como true, isso garantirá que nenhum dado seja retido para este crawl. Para ativar esse recurso, entre em contato com help@firecrawl.dev"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/params-preview": {
      "post": {
        "summary": "Pré-visualizar parâmetros de rastreamento gerados a partir de um prompt em linguagem natural",
        "operationId": "crawlParamsPreview",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL a ser rastreada"
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "Prompt em linguagem natural que descreve o que você deseja rastrear"
                  }
                },
                "required": [
                  "url",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida com parâmetros de rastreamento gerados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "A URL que será rastreada"
                        },
                        "includePaths": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Padrões de URL a serem incluídos"
                        },
                        "excludePaths": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Padrões de URL a serem excluídos"
                        },
                        "maxDepth": {
                          "type": "integer",
                          "description": "Profundidade máxima de rastreamento"
                        },
                        "maxDiscoveryDepth": {
                          "type": "integer",
                          "description": "Profundidade máxima de descoberta"
                        },
                        "crawlEntireDomain": {
                          "type": "boolean",
                          "description": "Se deve rastrear todo o domínio"
                        },
                        "allowExternalLinks": {
                          "type": "boolean",
                          "description": "Define se links externos serão permitidos"
                        },
                        "allowSubdomains": {
                          "type": "boolean",
                          "description": "Permitir subdomínios"
                        },
                        "sitemap": {
                          "type": "string",
                          "enum": [
                            "skip",
                            "include"
                          ],
                          "description": "Estratégia de tratamento de sitemaps"
                        },
                        "ignoreQueryParameters": {
                          "type": "boolean",
                          "description": "Indica se os parâmetros de consulta devem ser ignorados"
                        },
                        "deduplicateSimilarURLs": {
                          "type": "boolean",
                          "description": "Se URLs semelhantes devem ser deduplicadas"
                        },
                        "delay": {
                          "type": "number",
                          "description": "Intervalo entre requisições em milissegundos"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Número máximo de páginas para rastrear"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitação inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid request parameters"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Failed to process natural language prompt"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "Mapear várias URLs com base em opções",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL base de onde o rastreamento será iniciado"
                  },
                  "search": {
                    "type": "string",
                    "description": "Especifique uma consulta de pesquisa para ordenar os resultados por relevância. Exemplo: \"blog\" retornará URLs que contenham a palavra \"blog\" na URL, ordenadas por relevância."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "Modo de uso do sitemap durante o mapeamento. Se você definir como `skip`, o sitemap não será usado para encontrar URLs. Se você definir como `only`, apenas URLs que estiverem no sitemap serão retornadas. Por padrão (`include`), o sitemap e outros métodos serão usados em conjunto para encontrar URLs.",
                    "default": "include"
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Incluir subdomínios do site",
                    "default": true
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Não retorne URLs com parâmetros de query",
                    "default": true
                  },
                  "ignoreCache": {
                    "type": "boolean",
                    "description": "Ignora o cache do sitemap para obter URLs atualizadas. Os dados do sitemap ficam em cache por até 7 dias; use este parâmetro quando o seu sitemap tiver sido atualizado recentemente.",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de links retornados",
                    "default": 5000,
                    "maximum": 100000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tempo limite, em milissegundos. Não há tempo limite definido por padrão."
                  },
                  "location": {
                    "type": "object",
                    "description": "Configurações de localização para a requisição. Quando especificadas, será usado um proxy apropriado, se disponível, e serão emulados o idioma e o fuso horário correspondentes. O padrão é 'US' caso não seja especificado.",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "Código de país alfa-2 da ISO 3166-1 (por exemplo, 'US', 'AU', 'DE', 'JP')",
                        "pattern": "^[A-Z]{2}$",
                        "default": "US"
                      },
                      "languages": {
                        "type": "array",
                        "description": "Idiomas e localidades preferenciais da requisição, em ordem de prioridade. Por padrão, usa o idioma da localidade especificada. Consulte https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                        "items": {
                          "type": "string",
                          "example": "en-US"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              },
              "examples": {
                "example1": {
                  "summary": "Exemplo 1",
                  "value": {
                    "url": "<string>",
                    "search": "<string>",
                    "sitemap": "include",
                    "includeSubdomains": true,
                    "ignoreQueryParameters": true,
                    "ignoreCache": false,
                    "limit": 5000,
                    "location": {
                      "country": "US",
                      "languages": [
                        "en-US"
                      ]
                    },
                    "timeout": 60000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas requisições",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extraia dados estruturados de páginas da web usando LLMs",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "As URLs das quais os dados serão extraídos. As URLs devem estar no formato glob."
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt para guiar o processo de extração"
                  },
                  "schema": {
                    "type": "object",
                    "description": "Esquema que define a estrutura dos dados extraídos. Deve estar em conformidade com o [JSON Schema](https://json-schema.org/)."
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "Quando definido como true, a extração usará busca na web para encontrar dados adicionais",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Quando definido como `true`, arquivos sitemap.xml serão ignorados durante a varredura do site",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Quando definido como true, os subdomínios das URLs fornecidas também serão rastreados",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "Quando definido como true, as fontes usadas para extrair os dados serão incluídas na resposta sob a chave `sources`",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": true,
                    "description": "Se URLs inválidas forem especificadas no array urls, elas serão ignoradas. Em vez de fazer com que a requisição inteira falhe, será feita uma extração usando as URLs válidas restantes, e as URLs inválidas serão retornadas no campo invalidURLs da resposta."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extração bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitação inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de extração",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status de uma tarefa de extração",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent": {
      "post": {
        "summary": "Iniciar uma tarefa de agente para extração de dados orientada a agentes",
        "operationId": "startAgent",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Lista opcional de URLs às quais o agente ficará restrito"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "O prompt que descreve quais dados devem ser extraídos",
                    "maxLength": 10000
                  },
                  "schema": {
                    "type": "object",
                    "description": "Esquema JSON opcional para estruturar os dados extraídos"
                  },
                  "maxCredits": {
                    "type": "number",
                    "description": "Número máximo de créditos a serem usados nesta tarefa do agente. O valor padrão é 2500, caso não seja especificado."
                  },
                  "strictConstrainToURLs": {
                    "type": "boolean",
                    "description": "Se verdadeiro, o agente visitará somente as URLs fornecidas no array urls"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "spark-1-mini",
                      "spark-1-pro"
                    ],
                    "default": "spark-1-mini",
                    "description": "Modelo a ser usado na tarefa do agente. spark-1-mini (padrão) é 60% mais barato; spark-1-pro oferece maior precisão em tarefas complexas."
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tarefa do agente iniciada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{jobId}": {
      "parameters": [
        {
          "name": "jobId",
          "in": "path",
          "description": "O ID da tarefa do agente",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status de um job de agente",
        "operationId": "getAgentStatus",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "description": "Os dados extraídos (apenas presentes quando o status é \"completed\")"
                    },
                    "model": {
                      "type": "string",
                      "enum": [
                        "spark-1-pro",
                        "spark-1-mini"
                      ],
                      "default": "spark-1-pro",
                      "description": "Predefinição de modelo usada na execução do agente"
                    },
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro (apenas quando o status for \"failed\")"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "creditsUsed": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar uma tarefa de agente",
        "operationId": "cancelAgent",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Job do agente cancelado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "Recuperar todos os crawls ativos da equipe autenticada",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único do rastreamento"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "O ID da equipe proprietária do rastreamento"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL de origem do rastreamento"
                          },
                          "options": {
                            "type": "object",
                            "description": "Opções do rastreador utilizadas neste rastreamento",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "Obter créditos restantes da equipe autenticada",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingCredits": {
                          "type": "number",
                          "description": "Número de créditos restantes da equipe",
                          "example": 1000
                        },
                        "planCredits": {
                          "type": "number",
                          "description": "Número de créditos do plano. Isso não inclui créditos de cupons, pacotes de crédito ou créditos de recarga automática.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de início do período de cobrança. null se você estiver usando o plano gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de término do período de faturamento. null se estiver usando o plano gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Informações sobre o uso de créditos não encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "Obtém o histórico de uso de créditos da equipe autenticada",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obter histórico de uso de créditos por chave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de início do período de faturamento",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de término do período de cobrança",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nome da chave de API usada durante o período de cobrança. null se byApiKey for false (padrão)",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "Número total de créditos utilizados no período de faturamento",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "Obter tokens restantes da equipe autenticada (apenas Extract)",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingTokens": {
                          "type": "number",
                          "description": "Número de tokens restantes da equipe",
                          "example": 1000
                        },
                        "planTokens": {
                          "type": "number",
                          "description": "Quantidade de tokens do plano. Não inclui tokens de cupom.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de início do período de faturamento. null se você estiver usando o plano gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de término do período de cobrança. null se estiver usando o plano gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Informações sobre o uso de tokens não encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "Obter o uso histórico de tokens da equipe autenticada (somente Extract)",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obtenha o histórico de uso de tokens por chave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de início do período de faturamento",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de término do período de faturamento",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nome da chave de API usada no período de cobrança. null se byApiKey for false (padrão)",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "Número total de tokens utilizados no período de cobrança",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/queue-status": {
      "get": {
        "summary": "Métricas da fila de raspagem da sua equipe",
        "operationId": "getQueueStatus",
        "tags": [
          "Miscellaneous"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "jobsInQueue": {
                      "type": "number",
                      "description": "Número de tarefas atualmente na sua fila"
                    },
                    "activeJobsInQueue": {
                      "type": "number",
                      "description": "Número de tarefas ativas no momento"
                    },
                    "waitingJobsInQueue": {
                      "type": "number",
                      "description": "Número de tarefas atualmente na fila"
                    },
                    "maxConcurrency": {
                      "type": "number",
                      "description": "Número máximo de tarefas ativas simultâneas conforme seu plano"
                    },
                    "mostRecentSuccess": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp do job mais recente concluído com sucesso",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Pesquise e, opcionalmente, faça scraping dos resultados de busca",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "A consulta de busca"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de resultados a retornar",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Web",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "web"
                              ]
                            },
                            "tbs": {
                              "type": "string",
                              "description": "Parâmetro de pesquisa temporal. Suporta intervalos de tempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) e intervalos de datas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)"
                            },
                            "location": {
                              "type": "string",
                              "description": "Parâmetro de localização para resultados de pesquisa"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Images",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "images"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "News",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "news"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "Fontes a serem pesquisadas. Determina os arrays disponíveis na resposta. O padrão é ['web'].",
                    "default": [
                      "web"
                    ]
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "GitHub",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "github"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Research",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "research"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "PDF",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "pdf"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "Categorias pelas quais filtrar os resultados. O padrão é [], o que significa que os resultados não serão filtrados por nenhuma categoria."
                  },
                  "tbs": {
                    "type": "string",
                    "description": "Parâmetro de pesquisa temporal. Suporta intervalos de tempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) e intervalos de datas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)."
                  },
                  "location": {
                    "type": "string",
                    "description": "Parâmetro de localização para resultados de busca (por exemplo, `San Francisco,California,United States`). Para melhores resultados, defina tanto este quanto o parâmetro `country`."
                  },
                  "country": {
                    "type": "string",
                    "description": "Código de país ISO para segmentação geográfica dos resultados de pesquisa (por exemplo, `US`). Para obter melhores resultados, configure este parâmetro e também o parâmetro `location`.",
                    "default": "US"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tempo limite em milissegundos",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "Exclui dos resultados de pesquisa as URLs que são inválidas para outros endpoints do Firecrawl. Isso ajuda a reduzir erros se você estiver direcionando dados da pesquisa para outros endpoints da API do Firecrawl.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ScrapeOptions"
                      }
                    ],
                    "description": "Opções para raspagem de resultados de busca",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "web": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título do resultado da pesquisa"
                              },
                              "description": {
                                "type": "string",
                                "description": "Descrição do resultado da pesquisa"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL do resultado de busca"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo em Markdown caso a raspagem tenha sido solicitada"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML, se solicitado nos formatos"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML bruto, se solicitado em formatos"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Links encontrados, se solicitado nos formatos"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL da captura de tela, se solicitada em formatos. As capturas de tela expiram após 24 horas e não podem mais ser baixadas."
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string",
                                    "description": "A URL original solicitada. Pode ser diferente da URL final da página se houver redirecionamentos."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "A URL final da página após seguir todos os redirecionamentos."
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título do resultado da pesquisa"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL da imagem"
                              },
                              "imageWidth": {
                                "type": "integer",
                                "description": "Largura da imagem"
                              },
                              "imageHeight": {
                                "type": "integer",
                                "description": "Altura da imagem"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL do resultado da pesquisa"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Posição do resultado de pesquisa"
                              }
                            }
                          }
                        },
                        "news": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título do artigo"
                              },
                              "snippet": {
                                "type": "string",
                                "description": "Trecho do artigo"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL do artigo"
                              },
                              "date": {
                                "type": "string",
                                "description": "Data do artigo"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL da imagem do artigo"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Posição do artigo"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo em Markdown, caso a raspagem tenha sido solicitada"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML se solicitado nos formatos"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML bruto, caso seja solicitado em formatos"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Links encontrados, se solicitados, nos formatos"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL da captura de tela, se solicitado nos formatos. As capturas de tela expiram após 24 horas e não podem mais ser baixadas."
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string",
                                    "description": "A URL original solicitada. Pode ser diferente da URL final da página se houver redirecionamentos."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "A URL final da página após seguir todos os redirecionamentos."
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "Os resultados da pesquisa. Os arrays disponíveis dependerão das fontes que você especificar na requisição. Por padrão, o array `web` será retornado."
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "Mensagem de aviso caso ocorra algum problema"
                    },
                    "id": {
                      "type": "string",
                      "description": "O ID da tarefa de pesquisa"
                    },
                    "creditsUsed": {
                      "type": "integer",
                      "description": "O número de créditos utilizados na busca"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Tempo limite da requisição esgotado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/browser": {
      "post": {
        "summary": "Criar uma sessão de navegador",
        "operationId": "createBrowserSession",
        "tags": [
          "Browser"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ttl": {
                    "type": "integer",
                    "default": 300,
                    "minimum": 30,
                    "maximum": 3600,
                    "description": "Tempo de vida máximo, em segundos, da sessão de navegador"
                  },
                  "activityTtl": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 3600,
                    "description": "Tempo, em segundos, antes de a sessão ser encerrada por inatividade"
                  },
                  "streamWebView": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indica se uma visualização ao vivo do navegador deve ser transmitida"
                  }
                }
              }
            }
          }
        },
        "responses": {
[...]
