{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v2",
    "description": "Firecrawlのサービスを利用して、Webスクレイピングやクロールを行うためのAPIです。",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "1つのURLをスクレイピングし、必要に応じてLLMで情報を抽出します",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "スクレイピング対象のURL"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "true の場合、このスクレイプではデータ保持が一切行われません。この機能を有効にするには、help@firecrawl.dev までご連絡ください。"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "複数のURLをスクレイピングし、必要に応じてLLMを用いて情報を抽出する",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "スクレイプ対象のURL"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Webhook の仕様を表すオブジェクト。",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Webhook を送信する URL。バッチスクレイプの開始時（batch_scrape.started）、各ページのスクレイプ時（batch_scrape.page）、およびバッチスクレイプの完了時（batch_scrape.completed または batch_scrape.failed）にトリガーされます。レスポンスは `/scrape` エンドポイントと同じです。"
                          },
                          "headers": {
                            "type": "object",
                            "description": "Webhook URL に送信するヘッダー情報。",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "このクロールで送信されるすべてのWebhookペイロードに含めるカスタムメタデータ",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Webhook URL に送信するイベントの種類を指定します（デフォルト: すべて）。",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "同時に実行されるスクレイプの最大数。このパラメータで、このバッチスクレイプに対する同時実行数の上限を設定できます。指定しない場合、このバッチスクレイプはチームで設定された同時実行数の上限に従います。"
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": true,
                        "description": "urls 配列に無効な URL が含まれている場合、それらは無視されます。無効な URL が原因でリクエスト全体が失敗するのではなく、残りの有効な URL を使ってバッチスクレイプが作成され、無効な URL はレスポンスの invalidURLs フィールドで返されます。"
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "true の場合、このバッチスクレイプではゼロデータ保持が有効になり、データは一切保持されません。この機能を有効にするには、help@firecrawl.dev までご連絡ください。"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "バッチスクレイピングジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "バッチスクレイピングジョブのステータスを取得する",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "バッチスクレイピングジョブをキャンセルする",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "キャンセルに成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "バッチスクレイピングジョブが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "バッチスクレイピングジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "バッチスクレイピングジョブで発生したエラーを取得する",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "クロールジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "クロールジョブの状態を取得する",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "クロールジョブをキャンセルする",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "キャンセルが完了しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "クロールジョブが見つかりませんでした",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "クロールジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "クロールジョブのエラーを取得",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "オプション設定に基づいて複数のURLをクロールする",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "クロールを開始するベースURL"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "自然言語からクローラーオプション（以下のすべてのパラメーター）を生成するために使用するプロンプトです。明示的に設定されたパラメーターは、生成された対応する値よりも優先されます。"
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "クロールから除外する URL パス名の正規表現パターンです。たとえば、ベース URL が firecrawl.dev の場合に `\"excludePaths\": [\"blog/.*\"]` を設定すると、`https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap` のようにそのパターンにマッチする URL はすべて除外されます。"
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "クロールに含めるURLを指定するための、URLパス名に対する正規表現パターンです。指定したパターンにマッチしたパスのみがレスポンスに含まれます。注意：開始URLもこれらのパターンでチェックされるため、マッチしない場合は1ページもクロールされず、ページ数が0になる可能性があります。例えば、ベースURLが firecrawl.dev/blog のときに \"includePaths\": [\"blog/.*\"] を指定すると、/blog/ 配下のページのみが結果に含まれます（例：https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap）。"
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "検出順序に基づいてクロールする最大深度です。ルートサイトおよびサイトマップに含まれるページの検出深度は 0 です。例えば、これを 1 に設定し、かつ `sitemap: 'skip'` を指定した場合、入力した URL と、そのページからリンクされているすべての URL だけをクロールします。"
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "クロール時のサイトマップモードを指定します。`skip` を指定すると、クローラーはウェブサイトのサイトマップを無視し、指定した開始URLを起点として、そこから発見したページだけをクロールします。`only` を指定すると、クローラーはサイトマップ内のURL（＋開始URL）のみをクロールし、HTML内のリンクから新たなページをたどることはありません。",
                    "default": "include"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "同じパスを、クエリパラメータの有無や値を変えて再スクレイプしないでください",
                    "default": false
                  },
                  "regexOnFullURL": {
                    "type": "boolean",
                    "description": "true の場合、includePaths および excludePaths の正規表現パターンは、URL パス名だけでなく、クエリパラメータを含む URL 全体に対してマッチングされます。クエリ文字列に基づいて URL をフィルタリングしたい場合に便利です。",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "クロールするページ数の最大値。デフォルトの上限は 10,000 です。",
                    "default": 10000
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "クローラーが子パスだけでなく、同一階層（兄弟）や親の URL への内部リンクもたどれるようにします。\n\nfalse: より深い（子）URL だけをクロールします。\n→ 例: /features/feature-1 → /features/feature-1/tips ✅\n→ /pricing や / には遷移しません ❌\n\ntrue: 同一階層や親階層を含む、あらゆる内部リンクをクロールします。\n→ 例: /features/feature-1 → /pricing、/ など ✅\n\n入れ子になったパスよりも広く内部ページ全体をカバーしたい場合は true を使用します。",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "クローラーが外部のウェブサイトへのリンクをたどれるようにします。",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "クローラーがメインドメイン配下のサブドメインへのリンクをたどれるようにします。",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "スクレイプ実行間の待機時間（秒）。ウェブサイト側のレート制限を尊重するのに役立ちます。"
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "同時スクレイプ数の上限。このパラメータで、このクロールに対する同時実行数の上限を設定できます。指定しない場合、このクロールはチームに設定されている同時実行数の上限に従います。"
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Webhook 仕様オブジェクト。",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "Webhook の送信先 URL です。クロールの開始時（crawl.started）、各ページのクロール時（crawl.page）、およびクロール完了または失敗時（crawl.completed または crawl.failed）にトリガーされます。レスポンスは `/scrape` エンドポイントのものと同じです。"
                      },
                      "headers": {
                        "type": "object",
                        "description": "Webhook URL に送信する HTTP ヘッダー。",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "このクロールのすべてのウェブフックペイロードに含まれるカスタムメタデータ",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "Webhook URL に送信するイベントの種類です。（デフォルト: all）",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "true の場合、このクロールではデータを一切保持しないゼロデータ保持モードが有効になります。この機能を有効化するには、help@firecrawl.dev までご連絡ください。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/params-preview": {
      "post": {
        "summary": "自然言語プロンプトから生成されたクロールパラメーターをプレビュー",
        "operationId": "crawlParamsPreview",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "クロールするURL"
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "クロールしたい対象を自然言語で記述したプロンプト"
                  }
                },
                "required": [
                  "url",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "生成されたクロールパラメータを含む成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "クロール対象のURL"
                        },
                        "includePaths": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "含める URL パターン"
                        },
                        "excludePaths": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "除外対象のURLパターン"
                        },
                        "maxDepth": {
                          "type": "integer",
                          "description": "最大クロール深さ"
                        },
                        "maxDiscoveryDepth": {
                          "type": "integer",
                          "description": "最大探索深度"
                        },
                        "crawlEntireDomain": {
                          "type": "boolean",
                          "description": "ドメイン全体をクロールするかどうか"
                        },
                        "allowExternalLinks": {
                          "type": "boolean",
                          "description": "外部リンクを許可するか"
                        },
                        "allowSubdomains": {
                          "type": "boolean",
                          "description": "サブドメインを許可するか"
                        },
                        "sitemap": {
                          "type": "string",
                          "enum": [
                            "skip",
                            "include"
                          ],
                          "description": "サイトマップ処理戦略"
                        },
                        "ignoreQueryParameters": {
                          "type": "boolean",
                          "description": "クエリパラメータを無視するかどうかを指定"
                        },
                        "deduplicateSimilarURLs": {
                          "type": "boolean",
                          "description": "類似するURLを重複排除するかどうか"
                        },
                        "delay": {
                          "type": "number",
                          "description": "リクエスト間の遅延時間（ミリ秒）"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "クロールする最大ページ数"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid request parameters"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証されていません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Failed to process natural language prompt"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "オプションを指定して複数のURLをマップする",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "クロールの開始地点となるベースURL"
                  },
                  "search": {
                    "type": "string",
                    "description": "検索クエリを指定すると、結果が関連度の高い順に並べ替えられます。例: 「blog」を指定すると、URL 内に「blog」を含むものが関連度順に返されます。"
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "マッピング時のサイトマップモードです。`skip` に設定すると、URL の検出にサイトマップは使用されません。`only` に設定すると、サイトマップ内にある URL だけが返されます。デフォルトの `include` では、サイトマップとその他の手法を併用して URL を検出します。",
                    "default": "include"
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "このサイトのサブドメインを含める",
                    "default": true
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "クエリパラメータ付きのURLを返さない",
                    "default": true
                  },
                  "ignoreCache": {
                    "type": "boolean",
                    "description": "サイトマップキャッシュを無視して最新のURLを取得します。サイトマップデータは最大7日間キャッシュされるため、サイトマップを最近更新した場合はこのパラメータを指定してください。",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "返すリンクの最大数",
                    "default": 5000,
                    "maximum": 100000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "タイムアウト（ミリ秒単位）。既定ではタイムアウトはありません。"
                  },
                  "location": {
                    "type": "object",
                    "description": "リクエストのロケーション設定です。指定すると、利用可能な場合は適切なプロキシを使用し、対応する言語およびタイムゾーン設定をエミュレートします。指定しない場合は、デフォルトで「US」が使用されます。",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 の alpha-2 国コード（例: 「US」「AU」「DE」「JP」）",
                        "pattern": "^[A-Z]{2}$",
                        "default": "US"
                      },
                      "languages": {
                        "type": "array",
                        "description": "リクエストに対して優先度順に指定する言語およびロケール。指定された location の言語がデフォルトになります。詳細は https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language を参照してください。",
                        "items": {
                          "type": "string",
                          "example": "en-US"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              },
              "examples": {
                "example1": {
                  "summary": "例 1",
                  "value": {
                    "url": "<string>",
                    "search": "<string>",
                    "sitemap": "include",
                    "includeSubdomains": true,
                    "ignoreQueryParameters": true,
                    "ignoreCache": false,
                    "limit": 5000,
                    "location": {
                      "country": "US",
                      "languages": [
                        "en-US"
                      ]
                    },
                    "timeout": 60000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功したレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "LLM を使ってページから構造化データを抽出",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "データを抽出する対象のURLです。URLはグロブ形式で指定してください。"
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "抽出プロセスをガイドするプロンプト"
                  },
                  "schema": {
                    "type": "object",
                    "description": "抽出されたデータの構造を定義するためのスキーマ。[JSON Schema](https://json-schema.org/) に準拠する必要があります。"
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "true の場合、抽出処理で Web 検索を使用して追加データを取得します",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "true の場合、サイトのスキャン時に sitemap.xml ファイルは無視されます",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "true の場合、指定した URL のサブドメインもスキャンされます",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "true の場合、データ抽出に使用されたソースがレスポンスの `sources` キーに含まれます",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": true,
                    "description": "urls 配列に無効な URL が含まれている場合、それらは無視されます。無効な URL が原因でリクエスト全体が失敗するのではなく、有効な URL のみを使用して抽出が実行され、無効な URL はレスポンスの invalidURLs フィールドで返されます。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "抽出が成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエストです",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "抽出ジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "抽出ジョブの状態を取得する",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent": {
      "post": {
        "summary": "エージェントによるデータ抽出タスクを開始する",
        "operationId": "startAgent",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "エージェントのアクセス先を制限するための任意のURLリスト"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "抽出するデータ内容を指定するプロンプト",
                    "maxLength": 10000
                  },
                  "schema": {
                    "type": "object",
                    "description": "抽出データを構造化するためのオプションの JSON スキーマ"
                  },
                  "maxCredits": {
                    "type": "number",
                    "description": "このエージェントタスクで使用できるクレジット数の上限。指定しない場合のデフォルトは 2500 です。"
                  },
                  "strictConstrainToURLs": {
                    "type": "boolean",
                    "description": "true の場合、エージェントは urls 配列で指定された URL にのみアクセスします"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "spark-1-mini",
                      "spark-1-pro"
                    ],
                    "default": "spark-1-mini",
                    "description": "エージェントタスクで使用するモデルを指定します。デフォルトの spark-1-mini はコストを約 60% 削減でき、spark-1-pro はより複雑なタスク向けに高い精度を提供します。"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "エージェントタスクが正常に開始されました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{jobId}": {
      "parameters": [
        {
          "name": "jobId",
          "in": "path",
          "description": "エージェントジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "エージェントジョブのステータスを取得",
        "operationId": "getAgentStatus",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "description": "抽出されたデータ（ステータスが completed の場合にのみ存在）"
                    },
                    "model": {
                      "type": "string",
                      "enum": [
                        "spark-1-pro",
                        "spark-1-mini"
                      ],
                      "default": "spark-1-pro",
                      "description": "エージェント実行時に使用されたモデルプリセット"
                    },
                    "error": {
                      "type": "string",
                      "description": "エラーメッセージ（status が failed の場合にのみ含まれます）"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "creditsUsed": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "エージェントジョブをキャンセルする",
        "operationId": "cancelAgent",
        "tags": [
          "Agent"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "エージェントジョブが正常にキャンセルされました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "認証済みのチームに対するすべてのアクティブなクロールを取得します",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "クロールを一意に識別するID"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "クロールを所有するチームのID"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "クロールの起点となる URL"
                          },
                          "options": {
                            "type": "object",
                            "description": "このクロールで使用したクローラーオプション",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "認証済みのチームの残りクレジット数を取得する",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingCredits": {
                          "type": "number",
                          "description": "チームの残りクレジット数",
                          "example": 1000
                        },
                        "planCredits": {
                          "type": "number",
                          "description": "プランに含まれるクレジット数です。クーポンクレジット、クレジットパック、自動チャージで付与されるクレジットは含まれません。",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の開始日。無料プランを利用している場合は null となります",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の終了日。無料プランの場合は null です",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "クレジット使用状況が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "認証済みチームのクレジット利用履歴を取得します",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "APIキーごとのクレジット使用履歴を取得",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の開始日",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の終了日",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "請求期間に使用された API キーの名前。byApiKey が false（デフォルト）の場合は null",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "請求期間中に使用したクレジットの総数",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "認証済みのチームの残りトークン数を取得（Extract 専用）",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingTokens": {
                          "type": "number",
                          "description": "チームの残りトークン数",
                          "example": 1000
                        },
                        "planTokens": {
                          "type": "number",
                          "description": "プランに含まれるトークン数です。クーポン分のトークンは含まれません。",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の開始日。無料プランを利用している場合は null になります",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の終了日。無料プランを利用している場合は null です",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "トークン使用量情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "認証済みチームの履歴トークン使用量を取得します（Extract のみ）",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "APIキーごとのトークン使用量の履歴を取得する",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の開始日",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の終了日",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "課金期間中に使用された API キー名。byApiKey が false（デフォルト）の場合は null。",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "課金期間内に使用されたトークンの総数",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/queue-status": {
      "get": {
        "summary": "チームのスクレイプキューに関する指標",
        "operationId": "getQueueStatus",
        "tags": [
          "Miscellaneous"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "jobsInQueue": {
                      "type": "number",
                      "description": "現在キュー内にあるジョブ数"
                    },
                    "activeJobsInQueue": {
                      "type": "number",
                      "description": "現在実行中のジョブ数"
                    },
                    "waitingJobsInQueue": {
                      "type": "number",
                      "description": "現在待機中のジョブ数"
                    },
                    "maxConcurrency": {
                      "type": "number",
                      "description": "ご利用プランごとの同時実行可能なアクティブジョブ数の上限"
                    },
                    "mostRecentSuccess": {
                      "type": "string",
                      "format": "date-time",
                      "description": "最新の正常終了したジョブのタイムスタンプ",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "検索し、必要に応じて検索結果をスクレイピングする",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "検索クエリ"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "返す結果の最大数",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Web",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "web"
                              ]
                            },
                            "tbs": {
                              "type": "string",
                              "description": "時間に基づく検索パラメータ。あらかじめ定義された時間範囲（`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`）と、カスタム日付範囲（`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`）をサポートします。"
                            },
                            "location": {
                              "type": "string",
                              "description": "検索結果用の Location パラメータ"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Images",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "images"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "News",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "news"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "検索対象とするソース。レスポンスに含まれる配列の種類を決定します。デフォルトは ['web'] です。",
                    "default": [
                      "web"
                    ]
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "GitHub",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "github"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Research",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "research"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "PDF",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "pdf"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "結果をカテゴリでフィルタリングするための指定。デフォルト値は [] で、この場合はカテゴリによるフィルタリングは行われません。"
                  },
                  "tbs": {
                    "type": "string",
                    "description": "時間ベースの検索パラメータです。あらかじめ定義された時間範囲（`qdr:h`、`qdr:d`、`qdr:w`、`qdr:m`、`qdr:y`）と、カスタム日付範囲（`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`）をサポートします。"
                  },
                  "location": {
                    "type": "string",
                    "description": "検索結果のロケーションを指定するパラメータ（例: `San Francisco,California,United States`）。最適な結果を得るには、このパラメータと `country` パラメータの両方を設定してください。"
                  },
                  "country": {
                    "type": "string",
                    "description": "検索結果のジオターゲティングに使用する ISO 国コード（例：`US`）。最適な結果を得るには、これと `location` パラメータの両方を設定してください。",
                    "default": "US"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "タイムアウト時間（ミリ秒）",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "他の Firecrawl エンドポイントでは無効となる URL を検索結果から除外します。これにより、検索から取得したデータを他の Firecrawl API エンドポイントに渡す際のエラーを減らせます。",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ScrapeOptions"
                      }
                    ],
                    "description": "検索結果をスクレイピングする際のオプション",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "web": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "検索結果のタイトル"
                              },
                              "description": {
                                "type": "string",
                                "description": "検索結果の説明文"
                              },
                              "url": {
                                "type": "string",
                                "description": "検索結果のURL"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "スクレイピングをリクエストした場合の Markdown コンテンツ"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "フォーマットで指定された場合の HTML コンテンツ"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "フォーマットで指定された場合の生のHTMLコンテンツ"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "フォーマットで links を指定した場合に取得されるリンク"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "フォーマットでスクリーンショットが指定されている場合の、スクリーンショットのURLです。スクリーンショットは24時間後に失効し、それ以降はダウンロードできません。"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string",
                                    "description": "リクエストされた元の URL。リダイレクトが発生した場合、ページの最終的な URL と異なることがあります。"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "すべてのリダイレクトをフォローした後の、ページの最終的な URL。"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "検索結果のタイトル"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "画像URL"
                              },
                              "imageWidth": {
                                "type": "integer",
                                "description": "画像の幅"
                              },
                              "imageHeight": {
                                "type": "integer",
                                "description": "画像の高さ"
                              },
                              "url": {
                                "type": "string",
                                "description": "検索結果のURL"
                              },
                              "position": {
                                "type": "integer",
                                "description": "検索結果の位置"
                              }
                            }
                          }
                        },
                        "news": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "記事タイトル"
                              },
                              "snippet": {
                                "type": "string",
                                "description": "記事からの抜粋"
                              },
                              "url": {
                                "type": "string",
                                "description": "記事のURL"
                              },
                              "date": {
                                "type": "string",
                                "description": "記事の公開日"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "記事画像のURL"
                              },
                              "position": {
                                "type": "integer",
                                "description": "記事の位置"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "スクレイピングをリクエストした場合の Markdown コンテンツ"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "フォーマットとしてリクエストされた場合のHTMLコンテンツ"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "フォーマットで指定された場合の生の HTML コンテンツ"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "フォーマットでのリクエスト時に検出されたリンク"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "フォーマットでスクリーンショットが要求された場合のスクリーンショットURL。スクリーンショットは24時間後に有効期限が切れ、それ以降はダウンロードできません。"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string",
                                    "description": "リクエストされた元の URL。リダイレクトが発生した場合、ページの最終的な URL と異なることがあります。"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "すべてのリダイレクトをフォローした後の、ページの最終的な URL。"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "検索結果。利用可能な配列は、リクエストで指定したソースに応じて変わります。デフォルトでは `web` 配列が返されます。"
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "何らかの問題が発生した場合の警告メッセージ"
                    },
                    "id": {
                      "type": "string",
                      "description": "検索ジョブのID"
                    },
                    "creditsUsed": {
                      "type": "integer",
                      "description": "検索で使用されたクレジット数"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "リクエストのタイムアウト",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/browser": {
      "post": {
        "summary": "ブラウザセッションを作成",
        "operationId": "createBrowserSession",
        "tags": [
          "Browser"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ttl": {
                    "type": "integer",
                    "default": 300,
                    "minimum": 30,
                    "maximum": 3600,
                    "description": "ブラウザセッションの総有効期間（秒）"
                  },
                  "activityTtl": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 3600,
                    "description": "非アクティブ状態によりセッションが破棄されるまでの時間（秒）"
                  },
                  "streamWebView": {
                    "type": "boolean",
                    "default": true,
                    "description": "ブラウザのライブビューをストリーミングするかどうか"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ブラウザセッションが正常に作成されました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "description": "一意のセッション識別子"
                    },
                    "cdpUrl": {
                      "type": "string",
                      "description": "Chrome DevTools Protocol にアクセスするための WebSocket URL"
                    },
                    "liveViewUrl": {
                      "type": "string",
                      "description": "ブラウザーセッションをリアルタイムで表示するための URL"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "TTL に基づくセッションの有効期限"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "支払いが必要",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "ブラウザセッションを一覧取得",
        "operationId": "listBrowserSessions",
        "tags": [
          "Browser"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "destroyed"
              ]
            },
            "description": "セッションをステータスでフィルタリング"
          }
        ],
        "responses": {
          "200": {
            "description": "ブラウザーセッションの一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "destroyed"
                            ]
                          },
                          "cdpUrl": {
                            "type": "string"
                          },
                          "liveViewUrl": {
                            "type": "string"
                          },
                          "streamWebView": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastActivity": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "支払いが必要",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/browser/{sessionId}/execute": {
      "post": {
        "summary": "ブラウザセッション内でコードを実行",
        "operationId": "executeBrowserCode",
        "tags": [
          "Browser"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ブラウザーセッション ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100000,
                    "description": "ブラウザーサンドボックス内で実行するコード"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "python",
                      "node",
                      "bash"
                    ],
                    "default": "node",
                    "description": "実行するコードの言語。JavaScript の場合は `node`、agent-browser の CLI コマンドの場合は `bash` を指定してください。"
                  },
                  "timeout": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 300,
                    "description": "実行タイムアウト（秒）"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "コードは正常に実行されました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stdout": {
                      "type": "string",
                      "nullable": true,
                      "description": "コード実行時の標準出力"
                    },
                    "result": {
                      "type": "string",
                      "nullable": true,
                      "description": "標準出力（stdout の別名）"
                    },
                    "stderr": {
                      "type": "string",
                      "nullable": true,
                      "description": "コード実行時の標準エラー出力"
                    },
                    "exitCode": {
                      "type": "integer",
                      "nullable": true,
                      "description": "実行プロセスの終了コード"
                    },
                    "killed": {
                      "type": "boolean",
                      "description": "プロセスがタイムアウトにより強制終了されたかどうか"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "description": "コードが例外をスローした場合のエラーメッセージ"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/browser/{sessionId}": {
      "delete": {
        "summary": "ブラウザセッションを削除",
        "operationId": "deleteBrowserSession",
[...]
