{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v0",
    "description": "用于与 Firecrawl 服务交互并执行网页抓取和爬取任务的 API。",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v0"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "抓取单个 URL，并可选使用 LLM 进行信息抽取",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "要抓取的 URL 地址"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "随请求发送的请求头。可用于传递 cookies、User-Agent 等信息。"
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "在页面中包含该内容的 HTML 版本。响应中会返回一个名为 html 的字段。",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "在响应中包含页面的原始 HTML 内容。响应中将包含一个 rawHtml 字段。",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "在最终输出中只包含页面中已有的标签、class 和 id。使用逗号分隔的值。示例：'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "只返回页面的主体内容，不包括页眉、导航栏、页脚等。",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "要从页面中移除的标签、class 和 id。使用逗号分隔多个值。示例：'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "将所有图像和链接中的相对路径替换为绝对路径",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "请附上一张所抓取页面顶部的截图。",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "附上你正在抓取页面的整页截图。",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "等待页面加载指定的毫秒时间后再获取内容",
                        "default": 0
                      }
                    }
                  },
                  "extractorOptions": {
                    "type": "object",
                    "description": "用于从页面内容中提取结构化信息的选项。注意：基于 LLM 的提取不会自动执行，只有在显式配置时才会运行。“markdown” 模式仅返回抓取到的 Markdown 内容，是抓取时的默认模式。",
                    "default": {},
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "markdown",
                          "llm-extraction",
                          "llm-extraction-from-raw-html",
                          "llm-extraction-from-markdown"
                        ],
                        "description": "要使用的提取模式。'markdown'：返回抓取到的 Markdown 内容，不执行 LLM 提取。'llm-extraction'：使用 LLM 从清洗和解析后的内容中提取信息。'llm-extraction-from-raw-html'：使用 LLM 直接从原始 HTML 中提取信息。'llm-extraction-from-markdown'：使用 LLM 从 Markdown 内容中提取信息。"
                      },
                      "extractionPrompt": {
                        "type": "string",
                        "description": "用于描述应从页面中提取哪些信息的提示，在 LLM 提取模式下使用。"
                      },
                      "extractionSchema": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "要提取数据的 schema，仅在 LLM 提取模式下才需要。",
                        "required": [
                          "company_mission",
                          "supports_sso",
                          "is_open_source"
                        ]
                      }
                    }
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "请求超时时间（毫秒）",
                    "default": 30000
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求次数过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "基于选项抓取多个 URL",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "用于开始爬取的基础 URL"
                  },
                  "crawlerOptions": {
                    "type": "object",
                    "properties": {
                      "includes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "要包含的 URL 模式"
                      },
                      "excludes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "需排除的 URL 模式"
                      },
                      "generateImgAltText": {
                        "type": "boolean",
                        "description": "使用 LLM 为图像生成替代文本（需付费套餐）",
                        "default": false
                      },
                      "returnOnlyUrls": {
                        "type": "boolean",
                        "description": "如果为 true，则在抓取状态中仅返回 URL 列表。注意：返回的响应数据中包含的是一个由 URL 组成的列表，而不是文档列表。",
                        "default": false
                      },
                      "maxDepth": {
                        "type": "integer",
                        "description": "相对于输入 URL 的最大抓取深度。maxDepth 为 0 时仅抓取该 URL。maxDepth 为 1 时抓取该 URL 以及所有一层深度的页面。maxDepth 为 2 时抓取该 URL 以及所有最多两层深度的页面。更大的取值以此类推。"
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "default",
                          "fast"
                        ],
                        "description": "要使用的爬取模式。Fast 模式在没有 sitemap 的网站上爬取速度可提升约 4 倍，但结果可能不够准确，且不应在大量依赖 JS 渲染的网站上使用。",
                        "default": "default"
                      },
                      "ignoreSitemap": {
                        "type": "boolean",
                        "description": "抓取时忽略网站站点地图",
                        "default": false
                      },
                      "limit": {
                        "type": "integer",
                        "description": "最多爬取页面数",
                        "default": 10000
                      },
                      "allowBackwardCrawling": {
                        "type": "boolean",
                        "description": "使爬虫能够从特定 URL 导航到之前已链接的页面。例如，从 “example.com/product/123” 跳转回 “example.com/product”。",
                        "default": false
                      },
                      "allowExternalContentLinks": {
                        "type": "boolean",
                        "description": "使爬虫可以跟随链接跳转到外部网站。",
                        "default": false
                      }
                    }
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "在请求中携带的请求头。可用于发送 Cookies、User-Agent 等信息。"
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "在页面中包含内容的 HTML 版本。响应中会返回一个名为 html 的键。",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "在响应中包含页面的原始 HTML 内容。响应中将返回一个名为 rawHtml 的键。",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "最终输出中仅包含页面中存在的标签、class 和 id。使用逗号分隔的值。示例：'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "仅返回页面的主要内容，不包括页眉、导航栏、页脚等部分。",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "要从页面中移除的标签、类和 ID。使用逗号分隔的值。示例：'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "将所有图片和链接中的相对路径替换为绝对路径",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "请附上一张你要抓取的页面顶部截图。",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "请附上你正在抓取页面的全页截图。",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "在获取内容前，先等待页面加载指定的毫秒数",
                        "default": 0
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "在 Google 中搜索关键词，返回排名靠前的页面结果，并为每个页面提供对应的 Markdown 内容",
        "operationId": "searchGoogle",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "format": "uri",
                    "description": "要执行的搜索查询"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "仅返回页面的主要内容，不包括页眉、导航栏、页脚等。",
                        "default": false
                      },
                      "fetchPageContent": {
                        "type": "boolean",
                        "description": "获取每个页面的内容。如果为 false，则退回使用基础的快速 SERP API。",
                        "default": true
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "在页面中包含内容的 HTML 版本。响应中会包含一个名为 html 的字段。",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "在结果中包含页面的原始 HTML 内容。响应中将返回一个 rawHtml 键。",
                        "default": false
                      }
                    }
                  },
                  "searchOptions": {
                    "type": "object",
                    "properties": {
                      "limit": {
                        "type": "integer",
                        "description": "结果数量上限。测试阶段最大为 20。"
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/status/{jobId}": {
      "get": {
        "tags": [
          "Crawl"
        ],
        "summary": "获取爬取任务状态",
        "operationId": "getCrawlStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "抓取任务 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "任务状态（已完成、进行中、失败、已暂停）"
                    },
                    "current": {
                      "type": "integer",
                      "description": "当前页码"
                    },
                    "total": {
                      "type": "integer",
                      "description": "页面总数"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "任务返回的数据（执行中时为 null）"
                    },
                    "partial_data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "在爬取过程中会以流式方式返回部分文档。**此功能当前处于 alpha 阶段——可能会有不兼容变更**。当某个页面准备就绪时，它会被追加到 `partial_data` 数组中，因此无需等待整个网站全部爬取完成。当爬取结束时，`partial_data` 将变为空，完整结果会出现在 `data` 中。数组响应最多包含 50 个元素；当有新元素加入数组时，最旧的元素（数组开头）会被移除。"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/cancel/{jobId}": {
      "delete": {
        "tags": [
          "Crawl"
        ],
        "summary": "取消抓取任务",
        "operationId": "cancelCrawlJob",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "爬取任务 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "退货已取消。"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "当 `includeHtml` 为 true 时，该页面内容的 HTML 版本"
              },
              "rawHtml": {
                "type": "string",
                "nullable": true,
                "description": "如果 `includeRawHtml` 为 true，则为页面的原始 HTML 内容"
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "sourceURL": {
                    "type": "string",
                    "format": "uri"
                  },
                  "<any other metadata> ": {
                    "type": "string"
                  },
                  "pageStatusCode": {
                    "type": "integer",
                    "description": "页面状态码"
                  },
                  "pageError": {
                    "type": "string",
                    "nullable": true,
                    "description": "页面错误信息"
                  }
                }
              },
              "llm_extraction": {
                "type": "object",
                "description": "在使用 LLM Extraction 功能时显示。页面中根据已定义的 schema 提取出的数据。",
                "nullable": true
              },
              "warning": {
                "type": "string",
                "nullable": true,
                "description": "可在使用 LLM 提取时显示。警告消息会提示你提取过程中的任何问题。"
              }
            }
          }
        }
      },
      "CrawlStatusResponseObj": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "nullable": true,
            "description": "当 `includeHtml` 为 true 时，页面内容的 HTML 版本"
          },
          "rawHtml": {
            "type": "string",
            "nullable": true,
            "description": "如果 `includeRawHtml` 为 true，则返回页面的原始 HTML 内容"
          },
          "index": {
            "type": "integer",
            "description": "已抓取页面的编号。对于 `partial_data` 特别有用，这样你就能知道数据来自第几页。"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "language": {
                "type": "string",
                "nullable": true
              },
              "sourceURL": {
                "type": "string",
                "format": "uri"
              },
              "<any other metadata> ": {
                "type": "string"
              },
              "pageStatusCode": {
                "type": "integer",
                "description": "页面状态码"
              },
              "pageError": {
                "type": "string",
                "nullable": true,
                "description": "页面错误信息"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "markdown": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "sourceURL": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}