{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v1",
    "description": "API para interactuar con los servicios de Firecrawl y realizar tareas de scraping y rastreo web.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v1"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Realiza scraping de una única URL y, opcionalmente, extrae información usando un LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "La URL que se va a rastrear"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Si se establece en true, se habilitará la no conservación de datos para esta extracción. Para activar esta función, ponte en contacto con help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "Realiza scraping de varias URL y, opcionalmente, extrae información con un LLM",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "La URL que se va a rastrear"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Objeto de especificación de webhook.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "La URL a la que se enviará el webhook. Se activará cuando se inicie un scraping por lotes (batch_scrape.started), para cada página extraída (batch_scrape.page) y cuando el scraping por lotes haya finalizado (batch_scrape.completed o batch_scrape.failed). La respuesta será la misma que la del endpoint `/scrape`."
                          },
                          "headers": {
                            "type": "object",
                            "description": "Encabezados que se envían a la URL del webhook.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Metadatos personalizados que se incluirán en todos los payloads de webhook de este rastreo",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Tipo de eventos que se enviarán a la URL del webhook (por defecto: todos).",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "Número máximo de scrapes simultáneos. Este parámetro te permite establecer un límite de concurrencia para este scrape por lotes. Si no se especifica, el scrape por lotes se ajustará al límite de concurrencia de tu equipo."
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": false,
                        "description": "Si se especifican URL no válidas en el array urls, se ignorarán. En lugar de que falle toda la solicitud, se creará un scraping por lotes con las URL válidas restantes y las URL no válidas se devolverán en el campo invalidURLs de la respuesta."
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Si es true, no se conservarán datos de esta extracción por lotes. Para habilitar esta función, ponte en contacto con help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID del trabajo de scraping por lotes",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtén el estado de un trabajo de scraping por lotes",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar una tarea de extracción por lotes",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelación exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tarea de scraping por lotes no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID del trabajo de scraping por lotes",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtener los errores de un trabajo de rastreo por lotes",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID de la tarea de rastreo",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtener el estado de una tarea de rastreo",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar un trabajo de rastreo",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelación exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el trabajo de rastreo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID de la tarea de rastreo",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtener los errores de un trabajo de rastreo",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Rastrear varias URL en función de opciones",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "La URL base desde la que se iniciará el rastreo"
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Patrones de expresiones regulares para el pathname de la URL que excluyen del rastreo las URL que coincidan. Por ejemplo, si configuras `\"excludePaths\": [\"blog/.*\"]` para la URL base firecrawl.dev, se excluirán todos los resultados que coincidan con ese patrón, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Patrones regex de rutas de URL que determinan qué URLs se incluyen en el rastreo. Solo las rutas que coincidan con los patrones especificados se incluirán en la respuesta. Por ejemplo, si configuras `\"includePaths\": [\"blog/.*\"]` para la URL base firecrawl.dev, solo se incluirán los resultados que coincidan con ese patrón, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "regexOnFullURL": {
                    "type": "boolean",
                    "description": "Cuando es true, los patrones regex de includePaths y excludePaths se comparan con la URL completa (incluidos los parámetros de consulta), en lugar de solo con la ruta (pathname) de la URL. Es útil cuando necesitas filtrar URLs en función de las cadenas de consulta (query strings).",
                    "default": false
                  },
                  "maxDepth": {
                    "type": "integer",
                    "description": "Profundidad absoluta máxima de rastreo desde la base de la URL introducida. Básicamente, es el número máximo de barras diagonales (/) que puede contener el pathname de una URL rastreada.",
                    "default": 10
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "Profundidad máxima de rastreo basada en el orden de descubrimiento. El sitio raíz y las páginas del mapa del sitio tienen una profundidad de descubrimiento de 0. Por ejemplo, si la configuras en 1 y habilitas ignoreSitemap, solo se rastreará la URL ingresada y todas las URL que estén enlazadas en esa página."
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Ignorar el sitemap del sitio web durante el rastreo",
                    "default": false
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "No vuelvas a hacer scraping de la misma ruta con distintos parámetros de consulta (o sin parámetros)",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de páginas a rastrear. El límite por defecto es 10.000.",
                    "default": 10000
                  },
                  "allowBackwardLinks": {
                    "type": "boolean",
                    "description": "⚠️ EN DESUSO: Usa 'crawlEntireDomain' en su lugar. Permite que el rastreador siga enlaces internos a URL hermanas o superiores, no solo a rutas hijas.",
                    "default": false,
                    "deprecated": true
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "Permite que el rastreador siga enlaces internos a URLs del mismo nivel o superiores, no solo rutas hijas.\n\nfalse: Solo rastrea URLs más profundas (hijas).\n→ p. ej. /features/feature-1 → /features/feature-1/tips ✅\n→ No seguirá /pricing ni / ❌\n\ntrue: Rastrea cualquier enlace interno, incluyendo del mismo nivel y superiores.\n→ p. ej. /features/feature-1 → /pricing, /, etc. ✅\n\nUsa true para lograr una cobertura interna más amplia, más allá de rutas anidadas.",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "Permite que el rastreador siga enlaces a sitios web externos.",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "Permite que el rastreador siga enlaces a subdominios del dominio principal.",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "Pausa en segundos entre scrapes. Esto ayuda a respetar los límites de tasa del sitio web."
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "Número máximo de scrapes concurrentes. Este parámetro te permite establecer un límite de concurrencia para este rastreo. Si no se especifica, el rastreo se ajusta al límite de concurrencia de tu equipo."
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Un objeto de especificación de un webhook.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "La URL a la que se enviará el webhook. Este se activará cuando se inicie el rastreo (crawl.started), en cada página rastreada (crawl.page) y cuando el rastreo se complete (crawl.completed o crawl.failed). La respuesta será la misma que la del endpoint `/scrape`."
                      },
                      "headers": {
                        "type": "object",
                        "description": "Cabeceras HTTP que se enviarán a la URL del webhook.",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadatos personalizados que se incluirán en todos los payloads de webhook de este rastreo",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "Tipo de eventos que se enviarán a la URL del webhook (valor predeterminado: todos).",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "Si se establece en true, no se conservarán datos de este rastreo. Para activar esta función, ponte en contacto con help@firecrawl.dev."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pago requerido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "Mapear varias URL en función de las opciones",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "La URL base desde la que se iniciará el rastreo"
                  },
                  "search": {
                    "type": "string",
                    "description": "Consulta de búsqueda que se utilizará para el mapeo. Durante la fase alfa, la parte «inteligente» de la funcionalidad de búsqueda está limitada a 500 resultados. Sin embargo, si map encuentra más resultados, no se impone ningún límite."
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Ignorar el mapa del sitio web al rastrear.",
                    "default": true
                  },
                  "sitemapOnly": {
                    "type": "boolean",
                    "description": "Devuelve únicamente los enlaces encontrados en el mapa del sitio web",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Incluir subdominios del sitio web",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de enlaces que se devolverán",
                    "default": 5000,
                    "maximum": 30000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tiempo de espera en milisegundos. No hay tiempo de espera por defecto."
                  },
                  "location": {
                    "type": "object",
                    "description": "Configuración de ubicación de la solicitud. Si se especifica, usará un proxy adecuado si está disponible y emulará la configuración de idioma y zona horaria correspondientes. De forma predeterminada, se usa 'US' si no se especifica.",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "Código de país ISO 3166-1 alfa-2 (por ejemplo, \"US\", \"AU\", \"DE\", \"JP\")",
                        "pattern": "^[A-Z]{2}$",
                        "default": "US"
                      },
                      "languages": {
                        "type": "array",
                        "description": "Idiomas y configuraciones regionales preferidos de la solicitud, en orden de prioridad. Por defecto, se usa el idioma de la ubicación especificada. Consulta https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                        "items": {
                          "type": "string",
                          "example": "en-US"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas peticiones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extrae datos estructurados de páginas web usando LLMs",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "Las URL de las que se va a extraer datos. Las URL deben estar en formato glob."
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt que guía el proceso de extracción"
                  },
                  "schema": {
                    "type": "object",
                    "description": "Esquema para definir la estructura de los datos extraídos. Debe ajustarse a [JSON Schema](https://json-schema.org/)."
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "Cuando está establecido en true, la extracción utilizará la búsqueda web para encontrar datos adicionales",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Si se establece en true, se ignorarán los archivos sitemap.xml durante el rastreo del sitio web",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Si es true, también se escanearán los subdominios de las URL proporcionadas",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "Si es `true`, las fuentes utilizadas para extraer los datos se incluirán en la respuesta en la clave `sources`.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": false,
                    "description": "Si se especifican URLs no válidas en el array urls, se ignorarán. En lugar de hacer que falle toda la solicitud, se realizará una extracción con las URLs válidas restantes y las URLs no válidas se devolverán en el campo invalidURLs de la respuesta."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracción exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud no válida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID del trabajo de extracción",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Consultar el estado de una tarea de extracción",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "Obtener todos los rastreos activos para el equipo autenticado",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "El identificador único de la rastreada"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "El ID del equipo al que pertenece el rastreo"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL de origen del rastreo"
                          },
                          "options": {
                            "type": "object",
                            "description": "Opciones del rastreador utilizadas en este rastreo",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deep-research": {
      "post": {
        "summary": "Iniciar una operación de investigación profunda sobre una consulta",
        "operationId": "startDeepResearch",
        "tags": [
          "Research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Consulta para investigar"
                  },
                  "maxDepth": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12,
                    "default": 7,
                    "description": "Profundidad máxima de iteraciones de investigación"
                  },
                  "timeLimit": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 600,
                    "default": 300,
                    "description": "Límite de tiempo en segundos"
                  },
                  "maxUrls": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 20,
                    "description": "Número máximo de URL a analizar"
                  },
                  "analysisPrompt": {
                    "type": "string",
                    "description": "El prompt que se utilizará para el análisis final. Útil para formatear el markdown del análisis final de una forma específica."
                  },
                  "systemPrompt": {
                    "type": "string",
                    "description": "El prompt de sistema que se usará para el agente de investigación. Útil para orientar al agente de investigación en una dirección concreta."
                  },
                  "formats": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "markdown",
                        "json"
                      ],
                      "default": [
                        "markdown"
                      ]
                    }
                  },
                  "jsonOptions": {
                    "type": "object",
                    "description": "Opciones de salida JSON",
                    "properties": {
                      "schema": {
                        "type": "object",
                        "description": "El esquema que se utilizará para la salida en formato JSON. Debe ajustarse a [JSON Schema](https://json-schema.org/)."
                      },
                      "systemPrompt": {
                        "type": "string",
                        "description": "El prompt del sistema que se debe usar para la salida en formato JSON"
                      },
                      "prompt": {
                        "type": "string",
                        "description": "El prompt que se usará para la salida en formato JSON"
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tarea de investigación iniciada correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID de la tarea de investigación"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de solicitud no válidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters provided"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deep-research/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID del trabajo de investigación",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtén el estado y los resultados de una operación de investigación profunda",
        "operationId": "getDeepResearchStatus",
        "tags": [
          "Research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "finalAnalysis": {
                          "type": "string"
                        },
                        "json": {
                          "type": "object",
                          "description": "Se muestra cuando se usa el formato JSON",
                          "nullable": true
                        },
                        "activities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "depth": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "title": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Título extraído de la página, puede ser una cadena de texto o un array de cadenas"
                              },
                              "description": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Descripción extraída de la página, puede ser un string o un array de strings"
                              },
                              "favicon": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "processing",
                            "completed",
                            "failed"
                          ]
                        },
                        "error": {
                          "type": "string"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "currentDepth": {
                          "type": "integer"
                        },
                        "maxDepth": {
                          "type": "integer"
                        },
                        "totalUrls": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el trabajo de investigación",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Research job not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "Obtener los créditos restantes del equipo autenticado",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remaining_credits": {
                          "type": "number",
                          "description": "Número de créditos restantes del equipo",
                          "example": 1000
                        },
                        "plan_credits": {
                          "type": "number",
                          "description": "Número de créditos del plan. Esto no incluye créditos por cupones, paquetes de créditos ni créditos de recarga automática.",
                          "example": 500000
                        },
                        "billing_period_start": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de inicio del período de facturación. null si se utiliza el plan gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billing_period_end": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de finalización del periodo de facturación. null si se utiliza el plan gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información sobre el uso de créditos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "Obtén el historial de uso de créditos del equipo autenticado",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obtener el uso histórico de créditos por clave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de inicio del periodo de facturación",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de fin del periodo de facturación",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nombre de la clave de API usada durante el período de facturación. null si byApiKey es false (valor predeterminado)",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "Número total de créditos utilizados en el periodo de facturación",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "Obtener los tokens restantes para el equipo autenticado (solo Extract)",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remaining_tokens": {
                          "type": "number",
                          "description": "Cantidad de tokens restantes del equipo",
                          "example": 1000
                        },
                        "plan_tokens": {
                          "type": "number",
                          "description": "Número de tokens incluidos en el plan. No incluye los tokens de cupones.",
                          "example": 500000
                        },
                        "billing_period_start": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de inicio del periodo de facturación. null si se utiliza el plan gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billing_period_end": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de fin del período de facturación. null si se utiliza el plan gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información sobre el uso de tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "Obtener el uso histórico de tokens del equipo autenticado (solo Extract)",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obtener el historial de uso de tokens por clave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de inicio del período de facturación",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de fin del período de facturación",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nombre de la clave de API utilizada para el período de facturación. null si byApiKey es false (valor predeterminado)",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "Número total de tokens utilizados en el periodo de facturación",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/queue-status": {
      "get": {
        "summary": "Métricas sobre la cola de scraping de tu equipo",
        "operationId": "getQueueStatus",
        "tags": [
          "Miscellaneous"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "jobsInQueue": {
                      "type": "number",
                      "description": "Número de trabajos que hay actualmente en tu cola"
                    },
                    "activeJobsInQueue": {
                      "type": "number",
                      "description": "Número de trabajos activos en este momento"
                    },
                    "waitingJobsInQueue": {
                      "type": "number",
                      "description": "Número de tareas en espera actualmente"
                    },
                    "maxConcurrency": {
                      "type": "number",
                      "description": "Número máximo de tareas activas simultáneas según tu plan"
                    },
                    "mostRecentSuccess": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Marca de tiempo del último trabajo exitoso",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Buscar y, opcionalmente, hacer scraping de los resultados de búsqueda",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Consulta de búsqueda"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de resultados que se devolverán",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "tbs": {
                    "type": "string",
                    "description": "Parámetro de búsqueda temporal. Admite intervalos de tiempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) y rangos de fechas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)."
                  },
                  "location": {
                    "type": "string",
                    "description": "Parámetro de ubicación para los resultados de búsqueda"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tiempo de espera en milisegundos",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "Excluye de los resultados de búsqueda las URLs que no son válidas para otros endpoints de Firecrawl. Esto ayuda a reducir errores si canalizas datos de la búsqueda hacia otros endpoints de la API de Firecrawl.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/BaseScrapeOptions"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "formats": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "markdown",
                                "html",
                                "rawHtml",
                                "links",
                                "screenshot",
                                "screenshot@fullPage",
                                "json",
                                "extract"
                              ]
                            },
                            "default": []
                          }
                        }
                      }
                    ],
                    "description": "Opciones para extraer resultados de búsqueda",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Título del resultado de la búsqueda"
                          },
                          "description": {
                            "type": "string",
                            "description": "Descripción del resultado de la búsqueda"
                          },
                          "url": {
                            "type": "string",
                            "description": "URL del resultado de la búsqueda"
                          },
                          "markdown": {
                            "type": "string",
                            "nullable": true,
                            "description": "Contenido en formato Markdown si se solicitó scraping"
                          },
                          "html": {
                            "type": "string",
                            "nullable": true,
                            "description": "Contenido HTML si se solicita en los formatos"
                          },
                          "rawHtml": {
                            "type": "string",
                            "nullable": true,
                            "description": "Contenido HTML sin procesar si se solicita en los formatos"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Enlaces encontrados si se solicitan en los formatos"
                          },
                          "screenshot": {
                            "type": "string",
                            "nullable": true,
                            "description": "URL de la captura de pantalla si se ha solicitado en formatos. Las capturas de pantalla caducan después de 24 horas y dejan de estar disponibles para su descarga."
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Título extraído de la página; puede ser una cadena o una matriz de cadenas"
                              },
                              "description": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                ],
                                "description": "Descripción extraída de la página; puede ser una cadena o una matriz de cadenas"
                              },
                              "sourceURL": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "integer"
                              },
                              "error": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "Mensaje de advertencia si ocurre algún problema"
                    },
                    "id": {
                      "type": "string",
                      "description": "El ID de la tarea de búsqueda"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Tiempo de espera de la solicitud excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llmstxt": {
      "post": {
        "summary": "Generar el archivo LLMs.txt para un sitio web",
        "operationId": "generateLLMsTxt",
        "tags": [
          "LLMs.txt"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "La URL a partir de la cual generar LLMs.txt"
                  },
                  "maxUrls": {
                    "type": "integer",
                    "description": "Número máximo de URL a analizar",
                    "default": 2
                  },
                  "showFullText": {
                    "type": "boolean",
                    "description": "Incluye el texto completo en la respuesta",
                    "default": false
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "El trabajo de generación de LLMs.txt se ha iniciado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID de la tarea de generación de LLMs.txt"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de la solicitud no válidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters provided"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llmstxt/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID de la tarea de generación de LLMs.txt",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtén el estado y los resultados de una tarea de generación de LLMs.txt",
        "operationId": "getLLMsTxtStatus",
        "tags": [
          "LLMs.txt"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "llmstxt": {
                          "type": "string",
                          "description": "El contenido generado del archivo LLMs.txt"
                        },
                        "llmsfulltxt": {
                          "type": "string",
                          "description": "El contenido de texto completo cuando showFullText es true"
                        }
                      }
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Cuándo vence el contenido generado"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el trabajo de generación de LLMs.txt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "LLMs.txt generation job not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BaseScrapeOptions": {
        "type": "object",
        "properties": {
          "onlyMainContent": {
            "type": "boolean",
            "description": "Devuelve únicamente el contenido principal de la página, excluyendo encabezados, elementos de navegación, pies de página, etc.",
            "default": true
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Etiquetas que se deben incluir en la salida."
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Etiquetas que se excluirán de la salida."
          },
          "maxAge": {
            "type": "integer",
            "description": "Devuelve una versión en caché de la página si su antigüedad es menor que este valor, en milisegundos. Si la versión en caché de la página es más antigua que este valor, la página se volverá a scrapear. Si no necesitas datos extremadamente recientes, activar esta opción puede acelerar tus procesos de scraping hasta un 500 %. El valor predeterminado es 0, lo que desactiva la caché.",
            "default": 0
          },
          "headers": {
            "type": "object",
            "description": "Cabeceras que se enviarán con la solicitud. Pueden usarse para enviar cookies, user-agent, etc."
          },
          "waitFor": {
            "type": "integer",
            "description": "Especifica un retraso, en milisegundos, antes de obtener el contenido, permitiendo que la página tenga tiempo suficiente para cargarse.",
            "default": 0
          },
          "mobile": {
            "type": "boolean",
            "description": "Configúralo en `true` si quieres emular el scraping desde un dispositivo móvil. Es útil para probar páginas responsive y tomar capturas de pantalla en dispositivos móviles.",
            "default": false
          },
          "skipTlsVerification": {
            "type": "boolean",
            "description": "Omitir la verificación del certificado TLS al realizar solicitudes",
            "default": false
          },
          "timeout": {
            "type": "integer",
            "description": "Tiempo de espera de la solicitud en milisegundos",
            "default": 30000
          },
          "parsePDF": {
            "type": "boolean",
            "description": "Controla cómo se procesan los archivos PDF durante el scraping. Cuando es true, el contenido del PDF se extrae y se convierte al formato Markdown, y la facturación se basa en el número de páginas (1 crédito por página). Cuando es false, el archivo PDF se devuelve codificado en base64 con una tarifa plana total de 1 crédito.",
            "default": true
          },
          "jsonOptions": {
            "type": "object",
            "description": "Objeto de opciones JSON",
            "properties": {
              "schema": {
                "type": "object",
                "description": "El esquema que se utilizará para la extracción (opcional). Debe ajustarse a [JSON Schema](https://json-schema.org/)."
              },
              "systemPrompt": {
                "type": "string",
                "description": "El prompt del sistema que se usará para la extracción (opcional)"
              },
              "prompt": {
                "type": "string",
                "description": "El prompt que se utilizará para la extracción sin esquema (opcional)"
              }
            }
          },
          "actions": {
            "type": "array",
            "description": "Acciones que se ejecutarán en la página antes de extraer el contenido",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "title": "Wait",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "Espera una cantidad de milisegundos especificada"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "Número de milisegundos que se debe esperar"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Selector de búsqueda para encontrar el elemento por",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Screenshot",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "screenshot"
                      ],
                      "description": "Haz una captura de pantalla. Los enlaces estarán en el array `actions.screenshots` de la respuesta."
                    },
                    "fullPage": {
                      "type": "boolean",
                      "description": "Indica si se debe capturar una captura de pantalla de toda la página o solo del viewport actual.",
                      "default": false
                    },
                    "quality": {
                      "type": "integer",
                      "description": "La calidad de la captura de pantalla, de 1 a 100; 100 es la máxima calidad."
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Click",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "click"
                      ],
                      "description": "Haz clic en un elemento"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Selector de consulta para buscar el elemento por",
                      "example": "#load-more-button"
                    },
                    "all": {
                      "type": "boolean",
                      "description": "Hace clic en todos los elementos que coinciden con el selector, no solo en el primero. No genera un error si ningún elemento coincide con el selector.",
                      "default": false
                    }
                  },
                  "required": [
                    "type",
                    "selector"
                  ]
                },
                {
                  "type": "object",
                  "title": "Write text",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "write"
                      ],
                      "description": "Escribe texto en un campo de entrada, área de texto o elemento contenteditable. Nota: primero debes poner el foco en el elemento usando una acción de «clic» antes de escribir. El texto se tecleará carácter por carácter para simular la entrada por teclado."
                    },
                    "text": {
                      "type": "string",
                      "description": "Texto a escribir",
                      "example": "Hello, world!"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "title": "Press a key",
                  "description": "Pulsa una tecla en esta página. Consulta https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html para ver los códigos de teclado.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "press"
                      ],
                      "description": "Pulsa una tecla en la página"
                    },
                    "key": {
                      "type": "string",
                      "description": "Tecla a pulsar",
                      "example": "Enter"
                    }
                  },
                  "required": [
                    "type",
                    "key"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scroll",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scroll"
                      ],
                      "description": "Desplazar la página o un elemento específico"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "Dirección de desplazamiento",
                      "default": "down"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Selector (query selector) del elemento que se desplazará",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scrape",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scrape"
                      ],
                      "description": "Extrae el contenido de la página actual y devuelve la URL y el HTML."
                    }
                  },
                  "required": [
[...]
