{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v2",
    "description": "用于与 Firecrawl 服务交互，以执行网页抓取和爬取任务的 API。",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "抓取单个 URL，并可选择使用 LLM 提取信息",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "要抓取的 URL"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "如果设为 true，将为本次抓取启用零数据保留。要开启此功能，请联系 help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求次数过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "抓取多个 URL，并可选用 LLM 进行信息抽取",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "要抓取的 URL"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Webhook 规范对象。",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "用于接收 webhook 的目标 URL。它会在批量抓取开始时触发（batch_scrape.started）、每抓取一个页面时触发（batch_scrape.page），以及批量抓取完成时触发（batch_scrape.completed 或 batch_scrape.failed）。响应内容与 `/scrape` 端点相同。"
                          },
                          "headers": {
                            "type": "object",
                            "description": "要发送到 Webhook URL 的请求头。",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "将包含在本次抓取所有 webhook 负载中的自定义元数据",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "要发送到该 webhook URL 的事件类型。（默认：全部）",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "最大并发抓取数。此参数用于为本次批量抓取设置并发上限。如未指定，批量抓取将采用你团队的并发上限。"
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": true,
                        "description": "如果在 urls 数组中指定了无效 URL，这些 URL 将被忽略。它们不会导致整个请求失败，而是会基于剩余的有效 URL 创建一个批量抓取任务，并在响应的 invalidURLs 字段中返回这些无效的 URL。"
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "如果为 true，将为本次批量抓取启用零数据留存。要启用此功能，请联系 help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "批量抓取任务的 ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "获取批量抓取作业的状态",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "取消批量抓取任务",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "已成功取消",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到批量爬取作业",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "批量抓取任务的 ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "获取批量抓取作业的错误信息",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "需要支付",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求次数过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "爬取任务 ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "获取爬取任务状态",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "取消抓取任务",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "取消成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到抓取任务",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "抓取任务 ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "获取抓取任务的错误",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "根据选项抓取多个 URL",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "用于开始爬取的起始 URL"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "用于根据自然语言生成爬虫选项（下方所有参数）的提示。显式指定的参数会覆盖生成的对应参数。"
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "用于在爬取过程中排除匹配 URL 的 URL 路径正则表达式模式。例如，如果你为基础 URL firecrawl.dev 设置 `\"excludePaths\": [\"blog/.*\"]`，那么任何与该模式匹配的结果都会被排除，例如：https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap。"
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "用于在爬取过程中指定要包含的 URL 的路径名正则表达式模式。只有与这些指定模式匹配的路径才会包含在响应中。例如，如果为基础 URL firecrawl.dev 设置 `\"includePaths\": [\"blog/.*\"]`，则只会返回与该模式匹配的结果，例如：https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap。"
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "基于发现顺序的最大爬取深度。根站点以及 sitemap 中的页面的发现深度为 0。比如，如果你将该值设置为 1，并且将 ignoreSitemap 设为 true，则只会爬取你输入的 URL 以及该页面上从中链接到的所有 URL。"
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include"
                    ],
                    "description": "Sitemap 抓取模式。若将其设置为「skip」，爬虫将忽略网站的 sitemap，只抓取你输入的 URL，并从该页面开始继续发现和抓取后续页面。",
                    "default": "include"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "不要在同一路径上仅通过修改（或省略）查询参数来重复抓取",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "要爬取的最大页面数。默认上限为 10000。",
                    "default": 10000
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "允许爬虫不仅跟随子路径，还能跟随同级或父级的站内链接。\n\nfalse：只爬取更深层级（子级）URL。\n→ 例如：/features/feature-1 → /features/feature-1/tips ✅\n→ 不会跟随 /pricing 或 / ❌\n\ntrue：会爬取任意站内链接，包括同级和父级。\n→ 例如：/features/feature-1 → /pricing、/ 等 ✅\n\n在需要覆盖嵌套路径之外更广泛的站内链接时，将其设置为 true。",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "允许爬虫跟随链接跳转至外部网站。",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "允许爬虫通过链接访问主域的各个子域名。",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "两次抓取之间的延迟时间（秒）。有助于遵守网站的请求频率限制。"
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "最大并发抓取数。此参数用于为本次抓取任务设置并发上限。如果未指定，将遵循你所在团队的并发限制。"
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Webhook 规范对象。",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "用于发送 webhook 的 URL。该 webhook 会在爬取开始时（crawl.started）、每个页面被爬取时（crawl.page），以及爬取完成（crawl.completed）或失败（crawl.failed）时触发。其响应内容与 `/scrape` 端点相同。"
                      },
                      "headers": {
                        "type": "object",
                        "description": "发送到 webhook URL 的请求头。",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "将添加到本次抓取所有 webhook 负载中的自定义元数据",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "应发送到 webhook URL 的事件类型。（默认：全部）",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "如果设为 true，将对本次爬取启用零数据保留（不存储任何数据）。如需启用此功能，请联系 help@firecrawl.dev"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求次数过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "基于选项对多个 URL 进行映射",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "用于开始爬取的起始 URL"
                  },
                  "search": {
                    "type": "string",
                    "description": "用于映射的搜索查询。在 Alpha 阶段，搜索功能中的「智能」部分最多只会使用 500 条搜索结果。但如果 map 找到更多结果，则不会对结果数量进行限制。"
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "映射（mapping）时的 sitemap 模式。如果设置为 `skip`，则不会使用 sitemap 来查找 URL。如果设置为 `only`，则只会返回 sitemap 中包含的 URL。默认情况下（`include`），会同时使用 sitemap 和其他方法来查找 URL。",
                    "default": "include"
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "包含此网站的子域名",
                    "default": true
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "不要返回包含查询参数的 URL",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "要返回的最大链接数",
                    "default": 5000,
                    "maximum": 30000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "超时时间（毫秒）。默认不设置超时。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求次数过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "使用 LLM 从页面中提取结构化数据",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "要从中提取数据的 URL。URL 应使用 glob 格式。"
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "用于引导提取过程的提示"
                  },
                  "schema": {
                    "type": "object",
                    "description": "用于定义提取后数据结构的 Schema。必须符合 [JSON Schema](https://json-schema.org/) 规范。"
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "为 true 时，提取过程将通过网页搜索获取更多数据",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "为 true 时，进行网站扫描时将忽略 sitemap.xml 文件",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "设为 true 时，也会扫描提供的 URL 的子域名",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "为 true 时，用于提取数据的来源将以 `sources` 键的形式包含在响应中",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": true,
                    "description": "如果在 urls 数组中指定了无效的 URL，这些 URL 将会被忽略。请求不会因此整体失败，系统会改为基于剩余的有效 URL 执行提取操作，并在响应的 invalidURLs 字段中返回这些无效的 URL。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提取成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "无效请求",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "提取任务的 ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "获取提取任务状态",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "获取当前认证团队的所有进行中的爬取任务",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "此爬取任务的唯一标识符"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "此抓取任务所属的团队 ID"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "抓取任务的起始 URL"
                          },
                          "options": {
                            "type": "object",
                            "description": "本次抓取使用的爬虫配置选项",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "需要付费",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求过多",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "获取已认证团队的剩余可用额度",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingCredits": {
                          "type": "number",
                          "description": "团队剩余额度",
                          "example": 1000
                        },
                        "planCredits": {
                          "type": "number",
                          "description": "套餐中包含的可用额度总数。不包括优惠券额度、额度包或自动充值获得的额度。",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "计费周期的起始日期。如果使用免费套餐，则为 null",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "计费周期的结束日期。如果使用免费方案，则为 null",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "找不到额度使用信息",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "获取当前已认证团队的历史额度使用记录",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "按 API 密钥获取历史额度使用情况",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "计费周期开始日期",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "计费周期结束日期",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "在该计费周期中使用的 API 密钥名称。若 byApiKey 为 false（默认值），则为 null",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "账单周期内使用的总额度",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "获取当前认证团队的剩余 token 数（仅 Extract）",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingTokens": {
                          "type": "number",
                          "description": "团队剩余的可用 token 数",
                          "example": 1000
                        },
                        "planTokens": {
                          "type": "number",
                          "description": "方案所含的代币数量。不包括优惠券赠送的代币。",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "计费周期的开始日期。若使用免费计划，则为 null",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "计费周期的结束日期。若使用免费方案，则为 null",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到 Token 使用信息",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "获取已认证团队的历史 Token 使用量（仅限 Extract）",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "获取指定 API 密钥的历史 Token 用量",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "计费周期开始日期",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "账单周期结束日期",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "在该计费周期中使用的 API 密钥名称。若 byApiKey 为 false（默认），则为 null",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "在计费周期内使用的总 token 数",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "搜索，并可选择抓取搜索结果",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "搜索查询语句"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "返回的最大结果数",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Web",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "web"
                              ]
                            },
                            "tbs": {
                              "type": "string",
                              "description": "基于时间的搜索参数。支持预设时间范围（`qdr:h`、`qdr:d`、`qdr:w`、`qdr:m`、`qdr:y`）以及自定义日期范围（`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`）"
                            },
                            "location": {
                              "type": "string",
                              "description": "搜索结果的 location 参数"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Images",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "images"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "News",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "news"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "搜索的来源。将决定响应中可用的数组。",
                    "default": [
                      "web"
                    ]
                  },
                  "tbs": {
                    "type": "string",
                    "description": "基于时间的搜索参数。支持预定义时间范围（`qdr:h`、`qdr:d`、`qdr:w`、`qdr:m`、`qdr:y`）和自定义日期范围（`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`）。"
                  },
                  "location": {
                    "type": "string",
                    "description": "搜索结果的 location 参数"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "超时时间（毫秒）",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "从搜索结果中排除对其他 Firecrawl 端点无效的 URL。这有助于在将搜索结果数据传输到其他 Firecrawl API 端点时减少错误。",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ScrapeOptions"
                      }
                    ],
                    "description": "搜索结果抓取选项",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "web": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "搜索结果标题"
                              },
                              "description": {
                                "type": "string",
                                "description": "搜索结果描述"
                              },
                              "url": {
                                "type": "string",
                                "description": "搜索结果的 URL"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "如果请求了抓取，则返回的 Markdown 内容"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "在 formats 中请求时返回的 HTML 内容"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "如在 formats 中请求时，返回原始 HTML 内容"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "如果在 formats 中请求，则会返回找到的链接"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "如果在 formats 中请求，则返回截图 URL"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "来自搜索结果的标题"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "图片 URL"
                              },
                              "imageWidth": {
                                "type": "integer",
                                "description": "图片宽度"
                              },
                              "imageHeight": {
                                "type": "integer",
                                "description": "图片高度"
                              },
                              "url": {
                                "type": "string",
                                "description": "搜索结果的 URL"
                              },
                              "position": {
                                "type": "integer",
                                "description": "搜索结果位置"
                              }
                            }
                          }
                        },
                        "news": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "文章标题"
                              },
                              "snippet": {
                                "type": "string",
                                "description": "文章节选"
                              },
                              "url": {
                                "type": "string",
                                "description": "文章 URL"
                              },
                              "date": {
                                "type": "string",
                                "description": "文章日期"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "文章图片 URL"
                              },
                              "position": {
                                "type": "integer",
                                "description": "文章位置"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "如果请求了抓取时返回的 Markdown 内容"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "在 formats 中请求时返回 HTML 内容"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "在 formats 中请求时返回原始 HTML 内容"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "仅在通过 formats 请求时返回的链接"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "如果在 formats 中被请求，则返回截图 URL"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "搜索结果。可用的数组取决于你在请求中指定的数据源。默认情况下会返回 `web` 数组。"
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "发生问题时显示的警告信息"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "请求超时",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Formats": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "title": "Markdown",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "markdown"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "html"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Raw HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "rawHtml"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Links",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "links"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Screenshot",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "screenshot"
                  ]
                },
                "fullPage": {
                  "type": "boolean",
                  "description": "是否捕获整页截图，或仅截取当前视口。",
                  "default": false
                },
                "quality": {
                  "type": "integer",
                  "description": "截图质量，取值范围为 1 到 100，100 为最高质量。"
                },
                "viewport": {
                  "type": "object",
                  "properties": {
                    "width": {
                      "type": "integer",
                      "description": "视口宽度（像素）"
                    },
                    "height": {
                      "type": "integer",
                      "description": "视口高度（以像素为单位）"
                    }
                  },
                  "required": [
                    "width",
                    "height"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "JSON",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "json"
                  ]
                },
                "schema": {
                  "type": "object",
                  "description": "用于 JSON 输出的模式定义。必须符合 [JSON Schema](https://json-schema.org/) 规范。"
                },
                "prompt": {
                  "type": "string",
                  "description": "用于生成 JSON 输出的提示"
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Change Tracking",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "changeTracking"
                  ]
                },
                "modes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "git-diff",
                      "json"
                    ]
                  },
                  "description": "用于跟踪变更的模式。`git-diff` 会提供详细的差异信息，而 `json` 则会比较提取出的 JSON 数据。"
                },
                "schema": {
                  "type": "object",
                  "description": "在使用“json”模式进行 JSON 提取时所用的 schema，用于定义要提取和对比的数据结构。必须符合 [JSON Schema](https://json-schema.org/) 规范。"
                },
                "prompt": {
                  "type": "string",
                  "description": "在使用“json”模式进行变更跟踪时所用的提示词。如果未提供，则会使用默认提示词。"
                },
                "tag": {
                  "type": "string",
                  "nullable": true,
                  "default": null,
                  "description": "用于变更跟踪的标签。标签可以将变更跟踪历史划分为不同的“分支”，带有特定标签的变更跟踪只会与同一标签下的抓取记录进行比较。如果未提供，将使用默认标签（null）。"
                }
              },
              "required": [
                "type"
              ]
            }
          ]
        },
        "description": "要在响应中包含的输出 formats。你可以指定一个或多个 formats，可以是字符串（例如 `'markdown'`），也可以是带有附加选项的对象（例如 `{ type: 'json', schema: {...} }`）。某些 formats 需要设置特定的选项。示例：`['markdown', { type: 'json', schema: {...} }]`。",
        "default": [
          "markdown"
        ]
      },
      "ScrapeOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "$ref": "#/components/schemas/Formats"
          },
          "onlyMainContent": {
            "type": "boolean",
            "description": "仅返回页面的主要内容，不包括页眉、导航栏、页脚等。",
            "default": true
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "在输出中需要包含的标签。"
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要在输出中排除的标签。"
          },
          "maxAge": {
            "type": "integer",
            "description": "如果页面的缓存版本距离现在的时间未超过此处指定的毫秒数，则返回该缓存页面；如果缓存版本早于该时间阈值，则会重新抓取页面。如果你不需要极其最新的数据，启用此选项可以将抓取速度提升至原来的 5 倍。默认值为 2 天。",
            "default": 172800000
          },
          "headers": {
            "type": "object",
            "description": "随请求一同发送的 Headers，可用于携带 cookies、User-Agent 等信息。"
          },
          "waitFor": {
            "type": "integer",
            "description": "指定在获取内容前的延迟时间（毫秒），以便页面有足够时间加载完成。",
            "default": 0
          },
          "mobile": {
            "type": "boolean",
            "description": "若要模拟在移动设备上的抓取，请将其设置为 true。适用于测试响应式页面并获取移动端截图。",
            "default": false
          },
          "skipTlsVerification": {
            "type": "boolean",
            "description": "在发送请求时跳过 TLS 证书验证",
            "default": true
          },
          "timeout": {
            "type": "integer",
            "description": "请求超时时间（毫秒）。"
          },
          "parsers": {
            "type": "array",
            "description": "控制在抓取过程中如何处理文件。当包含 \"pdf\"（默认）时，会提取 PDF 内容并转换为 Markdown 格式，按页数计费（每页 1 个积分）。当传入空数组时，PDF 文件将以 base64 编码形式返回，统一收取 1 个积分。",
            "items": {
              "type": "string",
              "enum": [
                "pdf"
              ]
            },
            "default": [
              "pdf"
            ]
          },
          "actions": {
            "type": "array",
            "description": "在抓取页面内容之前需要执行的 actions",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "title": "Wait",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "等待指定的毫秒数"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "等待的毫秒数"
                    },
                    "selector": {
                      "type": "string",
                      "description": "用于定位该元素的查询选择器",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Screenshot",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "screenshot"
                      ],
                      "description": "进行截图。链接将位于响应的 `actions.screenshots` 数组中。"
                    },
                    "fullPage": {
                      "type": "boolean",
                      "description": "是否捕获整页截图，还是仅限当前视口。",
                      "default": false
                    },
                    "quality": {
                      "type": "integer",
                      "description": "截图质量，取值范围为 1 到 100，100 表示最高质量。"
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "description": "视口的宽度（像素）"
                        },
                        "height": {
                          "type": "integer",
                          "description": "视口高度（以像素为单位）"
                        }
                      },
                      "required": [
                        "width",
                        "height"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Click",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "click"
                      ],
                      "description": "单击某个元素"
                    },
                    "selector": {
                      "type": "string",
                      "description": "用于定位该元素的查询选择器",
                      "example": "#load-more-button"
                    },
                    "all": {
                      "type": "boolean",
                      "description": "点击所有与选择器匹配的元素，而不仅仅是第一个。如果没有元素匹配该选择器，也不会抛出错误。",
                      "default": false
                    }
                  },
                  "required": [
                    "type",
                    "selector"
                  ]
                },
                {
                  "type": "object",
                  "title": "Write text",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "write"
                      ],
                      "description": "在输入框、文本区域或 contenteditable 元素中写入文本。注意：在输入前，必须先通过“click”操作使该元素获得焦点。文本将按字符逐个输入，以模拟键盘输入。"
                    },
                    "text": {
                      "type": "string",
                      "description": "要输入的文本",
                      "example": "Hello, world!"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "title": "Press a key",
                  "description": "在页面上按下一个按键。按键代码请参见：https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html。",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "press"
                      ],
                      "description": "在页面上按下任意键"
                    },
                    "key": {
                      "type": "string",
                      "description": "按下的键",
                      "example": "Enter"
                    }
                  },
                  "required": [
                    "type",
                    "key"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scroll",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scroll"
                      ],
                      "description": "滚动整个页面或某个特定元素"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "滚动方向",
                      "default": "down"
                    },
                    "selector": {
                      "type": "string",
                      "description": "用于滚动目标元素的查询选择器",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scrape",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scrape"
                      ],
                      "description": "抓取当前页面的内容，并返回其 URL 和 HTML。"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Execute JavaScript",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "executeJavascript"
                      ],
                      "description": "在页面上执行 JavaScript 代码"
                    },
                    "script": {
                      "type": "string",
                      "description": "要运行的 JavaScript 代码",
                      "example": "document.querySelector('.button').click();"
                    }
                  },
                  "required": [
                    "type",
                    "script"
                  ]
                },
                {
                  "type": "object",
                  "title": "Generate PDF",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "pdf"
                      ],
                      "description": "生成当前页面的 PDF 文件。该 PDF 文件会在响应的 `actions.pdfs` 数组中返回。"
                    },
                    "format": {
                      "type": "string",
                      "enum": [
                        "A0",
                        "A1",
                        "A2",
                        "A3",
                        "A4",
                        "A5",
                        "A6",
                        "Letter",
                        "Legal",
                        "Tabloid",
                        "Ledger"
                      ],
                      "description": "生成的 PDF 的页面大小",
                      "default": "Letter"
                    },
                    "landscape": {
                      "type": "boolean",
                      "description": "是否以横向页面生成 PDF",
                      "default": false
                    },
                    "scale": {
                      "type": "number",
                      "description": "生成的 PDF 的缩放倍数",
                      "default": 1
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              ]
            }
          },
          "location": {
            "type": "object",
            "description": "请求的地域设置。指定后，如果可用，将使用合适的代理，并模拟对应的语言和时区设置。如果未指定，默认值为“US”。",
            "properties": {
              "country": {
                "type": "string",
                "description": "ISO 3166-1 alpha-2 两字母国家代码（例如：'US'、'AU'、'DE'、'JP'）",
                "pattern": "^[A-Z]{2}$",
                "default": "US"
              },
              "languages": {
                "type": "array",
                "description": "按优先级排序的请求首选语言和区域设置。默认为指定位置的语言。详见 https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                "items": {
                  "type": "string",
                  "example": "en-US"
                }
              }
            }
          },
          "removeBase64Images": {
            "type": "boolean",
            "description": "从输出中移除所有 base64 图片，因为它们可能非常长。图片的 alt 文本会保留在输出中，但其 URL 会被占位符替代。",
            "default": true
          },
          "blockAds": {
            "type": "boolean",
            "description": "启用广告拦截和 Cookie 弹窗拦截功能。",
            "default": true
          },
          "proxy": {
            "type": "string",
            "enum": [
              "basic",
              "enhanced",
              "auto"
            ],
            "description": "指定要使用的代理类型。\n\n- **basic**：基础代理，适用于没有或只有基础反爬虫机制的网站。速度快，通常可用性较高。\n- **enhanced**：增强代理，适用于具备高级反爬虫机制的网站。速度较慢，但在部分站点上更可靠。每次请求最多消耗 5 个积分。\n- **auto**：自动模式。如果使用 basic 代理抓取失败，Firecrawl 会自动切换为 enhanced 代理重试抓取。如果 enhanced 重试成功，该次抓取将扣除 5 个积分；如果第一次使用 basic 即成功，则仅按标准费用计费。\n\n如果未指定代理类型，Firecrawl 将默认使用 auto。",
            "default": "auto"
          },
          "storeInCache": {
            "type": "boolean",
            "description": "如果为 true，该页面会存储到 Firecrawl 的索引和缓存中。当您的抓取活动可能涉及数据保护问题时，将其设置为 false 会很有用。使用与敏感抓取相关的一些参数（actions、headers）时，会被强制将该参数设为 false。",
            "default": true
          }
        }
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "summary": {
                "type": "string",
                "nullable": true,
                "description": "如果 `formats` 中包含 `summary`，则返回页面摘要"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "当 `formats` 中包含 `html` 时的页面内容 HTML 版本"
              },
              "rawHtml": {
                "type": "string",
                "nullable": true,
                "description": "如果 `formats` 中包含 `rawHtml`，则返回页面的原始 HTML 内容"
              },
              "screenshot": {
                "type": "string",
                "nullable": true,
                "description": "当 `formats` 中包含 `screenshot` 时的页面截图"
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "如果 `formats` 中包含 `links`，则为页面上的链接列表"
              },
              "actions": {
                "type": "object",
                "nullable": true,
                "description": "`actions` 参数中指定的 actions 执行结果。仅当请求中包含 `actions` 参数时才会返回",
                "properties": {
                  "screenshots": {
                    "type": "array",
                    "description": "截图 URL，按提供的 screenshot actions 的顺序排列。",
                    "items": {
                      "type": "string",
                      "format": "url"
                    }
                  },
                  "scrapes": {
                    "type": "array",
                    "description": "按照提供的 actions 顺序依次抓取内容。",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "html": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "javascriptReturns": {
                    "type": "array",
                    "description": "按提供的 executeJavascript actions 顺序排列的 JavaScript 返回值。",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {}
                      }
                    }
                  },
                  "pdfs": {
                    "type": "array",
                    "description": "生成的 PDF 文件，其顺序与提供的 pdf actions 保持一致。",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "sourceURL": {
                    "type": "string",
                    "format": "uri"
                  },
                  "<any other metadata> ": {
                    "type": "string"
                  },
                  "statusCode": {
                    "type": "integer",
                    "description": "页面状态码"
                  },
                  "error": {
                    "type": "string",
                    "nullable": true,
                    "description": "页面错误信息"
                  }
                }
              },
              "warning": {
                "type": "string",
                "nullable": true,
                "description": "在使用 LLM Extraction 时可以显示。警告信息会告知你在提取过程中出现的任何问题。"
              },
              "changeTracking": {
                "type": "object",
                "nullable": true,
                "description": "如果在 `formats` 中包含 `changeTracking`，则会提供变更追踪信息。仅在请求 `changeTracking` 格式时才会返回。",
                "properties": {
                  "previousScrapeAt": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "当前页面要对比的上一次抓取的时间戳。如果不存在之前的抓取，则为 Null。"
                  },
                  "changeStatus": {
                    "type": "string",
                    "enum": [
                      "new",
                      "same",
                      "changed",
                      "removed"
                    ],
                    "description": "两个页面版本比较的结果。`new` 表示该页面之前不存在，`same` 表示内容没有变化，`changed` 表示内容发生了变化，`removed` 表示该页面已被移除。"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "visible",
                      "hidden"
                    ],
                    "description": "当前页面/URL 的可见性。\"visible\" 表示该 URL 是通过自然途径（链接或 sitemap）发现的，\"hidden\" 表示该 URL 是通过此前抓取结果的记忆中发现的。"
                  },
                  "diff": {
                    "type": "string",
                    "nullable": true,
                    "description": "在使用“git-diff”模式时的 Git 风格变更 diff。仅在模式设为“git-diff”时才会出现。"
                  },
                  "json": {
                    "type": "object",
                    "nullable": true,
                    "description": "在使用 `json` 模式时的 JSON 比较结果。仅当模式设置为 `json` 时才会提供。它会根据 `schema` 中定义的类型，输出 `previous` 和 `current` 抓取结果中所有键及其对应值的列表。示例见[此处](/features/change-tracking)。"
                  }
                }
              }
            }
          }
        }
      },
      "CrawlStatusResponseObj": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "当前爬取任务的状态。可能为 `scraping`、`completed` 或 `failed`。"
          },
          "total": {
            "type": "integer",
            "description": "尝试爬取的页面总数。"
          },
          "completed": {
            "type": "integer",
            "description": "已成功爬取的页面数量。"
          },
          "creditsUsed": {
            "type": "integer",
            "description": "本次爬取消耗的积分数量。"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "抓取任务失效的日期和时间。"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "用于获取下一个 10MB 数据块的 URL。如果抓取尚未完成，或响应大于 10MB，则会返回该字段。"
          },
          "data": {
            "type": "array",
            "description": "爬取结果数据。",
            "items": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string"
                },
                "html": {
                  "type": "string",
                  "nullable": true,
                  "description": "当 `includeHtml` 为 true 时，返回页面内容的 HTML 版本"
                },
                "rawHtml": {
                  "type": "string",
                  "nullable": true,
                  "description": "如果 `includeRawHtml` 为 true，则为页面的原始 HTML 内容"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "页面上的链接列表（当 `includeLinks` 为 true 时）"
                },
                "screenshot": {
                  "type": "string",
                  "nullable": true,
                  "description": "`includeScreenshot` 为 true 时的页面截图"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "sourceURL": {
                      "type": "string",
                      "format": "uri"
                    },
                    "<any other metadata> ": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "页面状态码"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "description": "页面错误信息"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CrawlErrorsResponseObj": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "description": "抓取任务错误及其详细信息",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "nullable": true,
                  "description": "失败时的 ISO 时间戳"
                },
                "url": {
                  "type": "string",
                  "description": "已抓取 URL"
                },
                "error": {
                  "type": "string",
                  "description": "错误信息"
                }
              }
            }
          },
          "robotsBlocked": {
            "type": "array",
            "description": "在抓取过程中尝试访问但被 robots.txt 拦截的 URL 列表",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BatchScrapeStatusResponseObj": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "批量抓取任务的当前状态。可能为 `scraping`、`completed` 或 `failed`。"
          },
          "total": {
            "type": "integer",
            "description": "尝试爬取的页面总数。"
          },
          "completed": {
            "type": "integer",
            "description": "已成功抓取的页面数量。"
          },
          "creditsUsed": {
            "type": "integer",
            "description": "本次批量抓取消耗的积分数量。"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "批量抓取的到期日期和时间。"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "用于获取下一段 10MB 数据的 URL。当批量抓取尚未完成，或响应内容大于 10MB 时，会返回该字段。"
          },
          "data": {
            "type": "array",
            "description": "批量爬取的数据。",
            "items": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string"
                },
                "html": {
                  "type": "string",
                  "nullable": true,
                  "description": "当 `includeHtml` 为 true 时，页面内容的 HTML 版本"
                },
                "rawHtml": {
                  "type": "string",
                  "nullable": true,
                  "description": "如果 `includeRawHtml` 为 true，则页面的原始 HTML 内容"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "`includeLinks` 为 true 时返回的页面链接列表"
                },
                "screenshot": {
                  "type": "string",
[...]
