{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v2",
    "description": "API para interagir com os serviços da Firecrawl e realizar tarefas de web scraping e crawling.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Raspar uma única URL e, opcionalmente, extrair informações usando um LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "A URL a ser coletada"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se definido como true, isso ativará nenhuma retenção de dados para esta coleta. Para habilitar este recurso, entre em contato com help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "Raspe várias URLs e, opcionalmente, extraia informações usando um LLM",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "A URL a ser raspada"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Um objeto de especificação de Webhook.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "A URL para a qual o webhook será enviado. O webhook será acionado quando a raspagem em lote for iniciada (batch_scrape.started), a cada página raspada (batch_scrape.page) e quando a raspagem em lote for concluída (batch_scrape.completed ou batch_scrape.failed). A resposta será a mesma do endpoint `/scrape`."
                          },
                          "headers": {
                            "type": "object",
                            "description": "Cabeçalhos a serem enviados para a URL do webhook.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Metadados personalizados que serão incluídos em todos os payloads de webhook deste rastreamento",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Tipos de eventos que devem ser enviados para a URL do webhook. (padrão: todos)",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "Número máximo de raspagens simultâneas. Este parâmetro permite definir um limite de concorrência para este lote de raspagem. Se não for definido, o lote seguirá o limite de concorrência da sua equipe."
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": true,
                        "description": "Se URLs inválidas forem especificadas no array urls, elas serão ignoradas. Em vez de fazer toda a requisição falhar, será criado um scrape em lote com as URLs válidas restantes, e as URLs inválidas serão retornadas no campo invalidURLs da resposta."
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se definido como true, isso fará com que nenhum dado seja retido para esta operação de scraping em lote. Para habilitar esse recurso, entre em contato com help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de raspagem em lote",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Consultar o status de um job de raspagem em lote",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar um job de scraping em lote",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelamento concluído com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job de scraping em lote não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de scraping em lote",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter os erros de uma tarefa de raspagem em lote",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de rastreamento",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status de um job de rastreamento",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar um job de rastreamento",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelamento realizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tarefa de rastreamento não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de rastreamento",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter erros de uma tarefa de rastreamento",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Rastrear várias URLs de acordo com opções",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A URL base para iniciar o rastreamento"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Um prompt para gerar as opções do crawler (todos os parâmetros abaixo) em linguagem natural. Parâmetros definidos explicitamente substituirão os equivalentes gerados."
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Padrões de regex para o pathname da URL que excluem do crawl as URLs correspondentes. Por exemplo, se você definir `\"excludePaths\": [\"blog/.*\"]` para a URL base firecrawl.dev, quaisquer resultados que corresponderem a esse padrão serão excluídos, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Padrões regex de pathname de URL que determinam quais URLs serão incluídas no crawl. Somente os caminhos que corresponderem aos padrões especificados serão incluídos na resposta. Por exemplo, se você definir `\"includePaths\": [\"blog/.*\"]` para a URL base firecrawl.dev, apenas resultados que correspondam a esse padrão serão incluídos, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "Profundidade máxima de crawl com base na ordem de descoberta. O site raiz e as páginas presentes no sitemap têm profundidade de descoberta 0. Por exemplo, se você definir esse valor como 1 e configurar ignoreSitemap, você só fará o crawl da URL informada e de todas as URLs que estão linkadas nessa página."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include"
                    ],
                    "description": "Modo de sitemap ao rastrear. Se você definir como 'skip', o crawler vai ignorar o sitemap do site e rastrear apenas a URL informada, descobrindo páginas a partir daí.",
                    "default": "include"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Não faça scraping novamente no mesmo caminho usando parâmetros de consulta diferentes (ou sem nenhum).",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de páginas a rastrear. O limite padrão é 10000.",
                    "default": 10000
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "Permite que o crawler siga links internos para URLs irmãs ou superiores, não apenas caminhos filhos.\n\nfalse: Só rastreia URLs mais profundas (filhas).\n→ ex.: /features/feature-1 → /features/feature-1/tips ✅\n→ Não seguirá /pricing ou / ❌\n\ntrue: Rastreia qualquer link interno, incluindo URLs irmãs e superiores.\n→ ex.: /features/feature-1 → /pricing, /, etc. ✅\n\nUse true para uma cobertura interna mais ampla, além de caminhos aninhados.",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "Permite que o rastreador siga links para sites externos.",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "Permite que o rastreador siga links para subdomínios do domínio principal.",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "Atraso, em segundos, entre as coletas. Isso ajuda a respeitar os limites de acesso do site."
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "Número máximo de coletas simultâneas. Este parâmetro permite definir um limite de concorrência para este crawl. Se não for definido, o crawl respeita o limite de concorrência da sua equipe."
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Objeto de especificação de webhook.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "A URL para a qual o webhook será enviado. Ele será acionado quando o rastreamento for iniciado (crawl.started), para cada página rastreada (crawl.page) e quando o rastreamento for concluído (crawl.completed ou crawl.failed). A resposta será a mesma do endpoint `/scrape`."
                      },
                      "headers": {
                        "type": "object",
                        "description": "Cabeçalhos HTTP a serem enviados para a URL do webhook.",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadados personalizados que serão incluídos em todos os payloads de webhook deste rastreamento",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "Tipo de eventos que devem ser enviados para a URL do webhook. (padrão: todos)",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se definido como true, isso desativará a retenção de dados para este rastreamento. Para habilitar esse recurso, entre em contato com help@firecrawl.dev"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "Mapear várias URLs de acordo com as opções",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL base para iniciar o rastreamento"
                  },
                  "search": {
                    "type": "string",
                    "description": "Consulta de pesquisa a ser usada no mapeamento. Durante a fase Alfa, a parte “inteligente” da funcionalidade de pesquisa é limitada a 500 resultados. No entanto, se o mapeamento encontrar mais resultados, nenhum limite será aplicado."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "Modo de sitemap ao mapear. Se você definir como `skip`, o sitemap não será usado para encontrar URLs. Se você definir como `only`, apenas URLs que estiverem no sitemap serão retornadas. Por padrão (`include`), o sitemap e outros métodos serão usados em conjunto para encontrar URLs.",
                    "default": "include"
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Incluir subdomínios deste site",
                    "default": true
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Não retorne URLs com parâmetros de consulta",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de links retornados",
                    "default": 5000,
                    "maximum": 30000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tempo limite em milissegundos. Não há tempo limite definido por padrão."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extraia dados estruturados de páginas da web usando LLMs",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "As URLs das quais extrair os dados. As URLs devem estar no formato glob."
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt para guiar o processo de extração"
                  },
                  "schema": {
                    "type": "object",
                    "description": "Esquema que define a estrutura dos dados extraídos. Deve estar em conformidade com o padrão [JSON Schema](https://json-schema.org/)."
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "Quando definido como true, a extração usará a busca na web para encontrar dados adicionais",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Quando definido como `true`, os arquivos sitemap.xml serão ignorados durante a varredura do site",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Quando definido como true, os subdomínios das URLs fornecidas também serão varridos",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "Quando definido como `true`, as fontes usadas para extrair os dados serão incluídas na resposta sob a chave `sources`",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": true,
                    "description": "Se URLs inválidas forem especificadas no array urls, elas serão ignoradas. Em vez de fazer com que toda a requisição falhe, será feita uma extração usando as URLs válidas restantes, e as URLs inválidas serão retornadas no campo invalidURLs da resposta."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extração bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitação inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "O ID da tarefa de extração",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obter o status de um job de extração",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "Obter todos os crawls ativos da equipe autenticada",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "O identificador exclusivo do rastreamento"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "ID da equipe proprietária do rastreamento"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "A URL de origem do rastreamento"
                          },
                          "options": {
                            "type": "object",
                            "description": "Opções do rastreador usadas neste rastreamento",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "Obter os créditos restantes da equipe autenticada",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingCredits": {
                          "type": "number",
                          "description": "Número de créditos restantes da equipe",
                          "example": 1000
                        },
                        "planCredits": {
                          "type": "number",
                          "description": "Número de créditos do plano. Isso não inclui créditos provenientes de cupons, pacotes de créditos ou créditos de recarga automática.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de início do período de faturamento. null se você estiver usando o plano gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de término do período de cobrança. null se estiver usando o plano gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Informações sobre o uso de créditos não encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "Obter o histórico de uso de créditos da equipe autenticada",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obter histórico de uso de créditos por chave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de início do período de faturamento",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de término do período de cobrança",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nome da chave de API utilizada no período de cobrança. null se byApiKey for false (padrão)",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "Número total de créditos utilizados no período de faturamento",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "Obter tokens restantes da equipe autenticada (somente Extract)",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta de sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingTokens": {
                          "type": "number",
                          "description": "Número de tokens restantes da equipe",
                          "example": 1000
                        },
                        "planTokens": {
                          "type": "number",
                          "description": "Quantidade de tokens do plano. Não inclui tokens de cupom.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de início do período de faturamento. null se estiver usando o plano gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Data de término do período de faturamento. null se estiver usando o plano gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Informações de uso de tokens não foram encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "Obter uso histórico de tokens da equipe autenticada (somente Extract)",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obter histórico de uso de tokens por chave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de início do período de faturamento",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de término do período de faturamento",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nome da chave de API utilizada no período de cobrança. null se byApiKey for false (padrão)",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "Número total de tokens utilizados no período de faturamento",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Pesquisar e, opcionalmente, fazer scraping dos resultados de busca",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Consulta de pesquisa"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de resultados a serem retornados",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Web",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "web"
                              ]
                            },
                            "tbs": {
                              "type": "string",
                              "description": "Parâmetro de pesquisa temporal. Suporta intervalos de tempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) e intervalos de datas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)"
                            },
                            "location": {
                              "type": "string",
                              "description": "Parâmetro de localização para resultados de pesquisa"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Images",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "images"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "News",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "news"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "Fontes a serem pesquisadas. Isso determinará quais arrays estarão disponíveis na resposta.",
                    "default": [
                      "web"
                    ]
                  },
                  "tbs": {
                    "type": "string",
                    "description": "Parâmetro de pesquisa temporal. Suporta intervalos de tempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) e intervalos de datas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)."
                  },
                  "location": {
                    "type": "string",
                    "description": "Parâmetro de localização para resultados de pesquisa"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tempo limite em milissegundos",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "Exclui dos resultados de pesquisa as URLs que são inválidas para outros endpoints do Firecrawl. Isso ajuda a reduzir erros ao encaminhar dados da pesquisa para outros endpoints da API do Firecrawl.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ScrapeOptions"
                      }
                    ],
                    "description": "Opções para scraping de resultados de busca",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "web": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título do resultado da pesquisa"
                              },
                              "description": {
                                "type": "string",
                                "description": "Descrição do resultado de pesquisa"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL do resultado da pesquisa"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo em Markdown se a raspagem de dados tiver sido solicitada"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML quando solicitado nos formatos"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML bruto, quando solicitado em formatos"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Links encontrados, se solicitado, nos formatos"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL da captura de tela, se solicitada entre os formatos"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título do resultado de pesquisa"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL da imagem"
                              },
                              "imageWidth": {
                                "type": "integer",
                                "description": "Largura da imagem"
                              },
                              "imageHeight": {
                                "type": "integer",
                                "description": "Altura da imagem"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL do resultado da pesquisa"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Posição do resultado de busca"
                              }
                            }
                          }
                        },
                        "news": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título do artigo"
                              },
                              "snippet": {
                                "type": "string",
                                "description": "Trecho do artigo"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL do artigo"
                              },
                              "date": {
                                "type": "string",
                                "description": "Data do artigo"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL da imagem do artigo"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Posição do artigo"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo em Markdown, caso a raspagem tenha sido solicitada"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML, se solicitado em formatos"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Conteúdo HTML bruto, se incluído entre os formatos solicitados"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Links encontrados, se solicitado em formatos"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL da captura de tela, se solicitada entre os formatos"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "Os resultados da pesquisa. Os arrays disponíveis dependem das fontes que você especificou na requisição. Por padrão, o array `web` será retornado."
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "Mensagem de aviso caso ocorra algum problema"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Tempo de requisição esgotado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Formats": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "title": "Markdown",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "markdown"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "html"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Raw HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "rawHtml"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Links",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "links"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Screenshot",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "screenshot"
                  ]
                },
                "fullPage": {
                  "type": "boolean",
                  "description": "Define se a captura de tela será da página inteira ou apenas da área visível atual (viewport).",
                  "default": false
                },
                "quality": {
                  "type": "integer",
                  "description": "A qualidade da captura de tela vai de 1 a 100. 100 é a qualidade máxima."
                },
                "viewport": {
                  "type": "object",
                  "properties": {
                    "width": {
                      "type": "integer",
                      "description": "A largura da viewport em pixels"
                    },
                    "height": {
                      "type": "integer",
                      "description": "Altura da viewport em pixels"
                    }
                  },
                  "required": [
                    "width",
                    "height"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "JSON",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "json"
                  ]
                },
                "schema": {
                  "type": "object",
                  "description": "O esquema a ser usado na saída JSON. Deve estar em conformidade com o [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "O prompt a ser usado para a saída em formato JSON"
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Change Tracking",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "changeTracking"
                  ]
                },
                "modes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "git-diff",
                      "json"
                    ]
                  },
                  "description": "O modo de controle de alterações a ser usado. `git-diff` fornece um diff detalhado e `json` compara os dados JSON extraídos."
                },
                "schema": {
                  "type": "object",
                  "description": "Esquema para extração de JSON ao usar o modo `json`. Define a estrutura dos dados que serão extraídos e comparados. Deve estar em conformidade com o [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "Prompt a ser usado para rastreamento de alterações ao usar o modo `json`. Se não for fornecido, o prompt padrão será utilizado."
                },
                "tag": {
                  "type": "string",
                  "nullable": true,
                  "default": null,
                  "description": "Tag a ser usada para rastreamento de alterações. As tags podem separar o histórico de alterações em “ramificações” (“branches”) distintas, em que o rastreamento com uma tag específica só irá comparar com scrapes feitos com a mesma tag. Se não for fornecida, a tag padrão (null) será usada."
                }
              },
              "required": [
                "type"
              ]
            }
          ]
        },
        "description": "Formatos de saída a serem incluídos na resposta. Você pode especificar um ou mais formatos, tanto como strings (por exemplo, `'markdown'`) quanto como objetos com opções adicionais (por exemplo, `{ type: 'json', schema: {...} }`). Alguns formatos exigem que opções específicas sejam configuradas. Exemplo: `['markdown', { type: 'json', schema: {...} }]`.",
        "default": [
          "markdown"
        ]
      },
      "ScrapeOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "$ref": "#/components/schemas/Formats"
          },
          "onlyMainContent": {
            "type": "boolean",
            "description": "Retorne somente o conteúdo principal da página, excluindo cabeçalhos, menus de navegação, rodapés, etc.",
            "default": true
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags que devem ser incluídas na saída."
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags a serem excluídas da saída."
          },
          "maxAge": {
            "type": "integer",
            "description": "Retorna uma versão em cache da página se ela tiver menos do que esse tempo em milissegundos. Se a versão em cache da página for mais antiga do que esse valor, a página será raspada novamente. Se você não precisar de dados extremamente atualizados, ativar essa opção pode acelerar suas raspagens em até 500%. O padrão é de 2 dias.",
            "default": 172800000
          },
          "headers": {
            "type": "object",
            "description": "Cabeçalhos a serem enviados na requisição. Podem ser usados para enviar cookies, user-agent etc."
          },
          "waitFor": {
            "type": "integer",
            "description": "Especifique um atraso, em milissegundos, antes de buscar o conteúdo, permitindo que a página tenha tempo suficiente para carregar.",
            "default": 0
          },
          "mobile": {
            "type": "boolean",
            "description": "Defina como `true` para simular scraping a partir de um dispositivo móvel. Útil para testar páginas responsivas e fazer capturas de tela em modo mobile.",
            "default": false
          },
          "skipTlsVerification": {
            "type": "boolean",
            "description": "Ignorar a verificação do certificado TLS ao fazer requisições",
            "default": true
          },
          "timeout": {
            "type": "integer",
            "description": "Tempo limite da requisição, em milissegundos."
          },
          "parsers": {
            "type": "array",
            "description": "Controla como os arquivos são processados durante o scraping. Quando \"pdf\" é incluído (padrão), o conteúdo do PDF é extraído e convertido para markdown, com cobrança baseada no número de páginas (1 crédito por página). Quando um array vazio é passado, o arquivo PDF é retornado em codificação base64 com uma taxa fixa de 1 crédito no total.",
            "items": {
              "type": "string",
              "enum": [
                "pdf"
              ]
            },
            "default": [
              "pdf"
            ]
          },
          "actions": {
            "type": "array",
            "description": "Ações a serem realizadas na página antes de capturar o conteúdo",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "title": "Wait",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "Aguarde por uma quantidade específica de milissegundos"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "Número de milissegundos de espera"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Seletor de consulta para encontrar o elemento por",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Screenshot",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "screenshot"
                      ],
                      "description": "Tire uma captura de tela. Os links estarão no array `actions.screenshots` da resposta."
                    },
                    "fullPage": {
                      "type": "boolean",
                      "description": "Indica se a captura de tela será da página inteira ou apenas do viewport atual.",
                      "default": false
                    },
                    "quality": {
                      "type": "integer",
                      "description": "Qualidade da captura de tela, de 1 a 100; 100 é a mais alta qualidade."
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "description": "A largura da viewport, em pixels"
                        },
                        "height": {
                          "type": "integer",
                          "description": "A altura da viewport em pixels"
                        }
                      },
                      "required": [
                        "width",
                        "height"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Click",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "click"
                      ],
                      "description": "Clique em um elemento"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Seletor de consulta para localizar o elemento por",
                      "example": "#load-more-button"
                    },
                    "all": {
                      "type": "boolean",
                      "description": "Clica em todos os elementos que correspondem ao seletor, não apenas no primeiro. Não gera erro se nenhum elemento corresponder ao seletor.",
                      "default": false
                    }
                  },
                  "required": [
                    "type",
                    "selector"
                  ]
                },
                {
                  "type": "object",
                  "title": "Write text",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "write"
                      ],
                      "description": "Digite um texto em um campo de entrada, área de texto ou elemento contenteditable. Observação: primeiro é necessário colocar o foco no elemento usando uma ação de clique antes de escrever. O texto será digitado caractere por caractere para simular a digitação pelo teclado."
                    },
                    "text": {
                      "type": "string",
                      "description": "Texto para digitar",
                      "example": "Hello, world!"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "title": "Press a key",
                  "description": "Pressione uma tecla nesta página. Consulte https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html para obter os códigos de tecla.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "press"
                      ],
                      "description": "Pressione uma tecla nesta página"
                    },
                    "key": {
                      "type": "string",
                      "description": "Tecla para pressionar",
                      "example": "Enter"
                    }
                  },
                  "required": [
                    "type",
                    "key"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scroll",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scroll"
                      ],
                      "description": "Rolar a página ou um elemento específico"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "Sentido da rolagem",
                      "default": "down"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Query selector do elemento a ser rolado",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scrape",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scrape"
                      ],
                      "description": "Realiza o scraping do conteúdo da página atual e retorna a URL e o HTML."
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Execute JavaScript",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "executeJavascript"
                      ],
                      "description": "Executar código JavaScript na página"
                    },
                    "script": {
                      "type": "string",
                      "description": "Código JavaScript a ser executado",
                      "example": "document.querySelector('.button').click();"
                    }
                  },
                  "required": [
                    "type",
                    "script"
                  ]
                },
                {
                  "type": "object",
                  "title": "Generate PDF",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "pdf"
                      ],
                      "description": "Gerar um PDF da página atual. O PDF será retornado no array `actions.pdfs` da resposta."
                    },
                    "format": {
                      "type": "string",
                      "enum": [
                        "A0",
                        "A1",
                        "A2",
                        "A3",
                        "A4",
                        "A5",
                        "A6",
                        "Letter",
                        "Legal",
                        "Tabloid",
                        "Ledger"
                      ],
                      "description": "O tamanho da página do PDF resultante",
                      "default": "Letter"
                    },
                    "landscape": {
                      "type": "boolean",
                      "description": "Se o PDF deve ser gerado em modo paisagem",
                      "default": false
                    },
                    "scale": {
                      "type": "number",
                      "description": "Fator de escala do PDF gerado",
                      "default": 1
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              ]
            }
          },
          "location": {
            "type": "object",
            "description": "Configurações de localização da requisição. Quando definido, será usado um proxy apropriado, se disponível, e serão emuladas as configurações correspondentes de idioma e fuso horário. O padrão é “US” se não for especificado.",
            "properties": {
              "country": {
                "type": "string",
                "description": "Código de país ISO 3166-1 alfa-2 (por exemplo, \"US\", \"AU\", \"DE\", \"JP\")",
                "pattern": "^[A-Z]{2}$",
                "default": "US"
              },
              "languages": {
                "type": "array",
                "description": "Idiomas e localidades preferenciais da requisição, em ordem de prioridade. Por padrão, é usado o idioma da localização especificada. Consulte https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                "items": {
                  "type": "string",
                  "example": "en-US"
                }
              }
            }
          },
          "removeBase64Images": {
            "type": "boolean",
            "description": "Remove todas as imagens em base64 da saída, que podem deixá-la excessivamente longa. O texto alternativo (`alt`) da imagem é mantido na saída, mas a URL é substituída por um placeholder.",
            "default": true
          },
          "blockAds": {
            "type": "boolean",
            "description": "Habilita o bloqueio de anúncios e de pop-ups de cookies.",
            "default": true
          },
          "proxy": {
            "type": "string",
            "enum": [
              "basic",
              "stealth",
              "auto"
            ],
            "description": "Especifica o tipo de proxy a ser usado.\n\n - **basic**: Proxies para scraping em sites com soluções anti-bot inexistentes ou básicas. Rápido e geralmente funciona.\n - **stealth**: Proxies stealth para scraping em sites com soluções anti-bot avançadas. Mais lento, mas mais confiável em certos sites. Custa até 5 créditos por requisição.\n - **auto**: O Firecrawl tentará automaticamente refazer o scraping com proxies stealth se o proxy basic falhar. Se a nova tentativa com stealth for bem-sucedida, 5 créditos serão cobrados pelo scraping. Se a primeira tentativa com basic for bem-sucedida, apenas o custo normal será cobrado.\n\nSe você não especificar um proxy, o Firecrawl usará auto por padrão.",
            "default": "auto"
          },
          "storeInCache": {
            "type": "boolean",
            "description": "Se definido como true, a página será armazenada no índice e no cache do Firecrawl. Definir como false é útil se sua atividade de scraping puder gerar preocupações com proteção de dados. O uso de alguns parâmetros associados a scraping sensível (ações, headers) fará com que esse parâmetro seja definido como false.",
            "default": true
          }
        }
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "summary": {
                "type": "string",
                "nullable": true,
                "description": "Resumo da página se `summary` estiver em `formats`"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "Versão em HTML do conteúdo da página se `html` estiver em `formats`"
[...]
