{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v0",
    "description": "API para interagir com os serviços da Firecrawl e executar tarefas de raspagem e rastreamento da web.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v0"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Raspe os dados de uma única URL e, opcionalmente, extraia informações usando um LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL a ser coletada"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "Cabeçalhos a serem enviados com a requisição. Podem ser usados para enviar cookies, user-agent etc."
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Incluir a versão HTML do conteúdo na página. Será retornada uma chave html na resposta.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Inclui o conteúdo HTML bruto da página. Gera uma chave rawHtml na resposta.",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Inclua apenas as tags, classes e IDs da página na saída final. Use valores separados por vírgula. Exemplo: 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Retorne somente o conteúdo principal da página, excluindo cabeçalhos, menus de navegação, rodapés etc.",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Tags, classes e IDs a serem removidos da página. Use valores separados por vírgulas. Exemplo: 'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "Substitua todos os caminhos relativos de imagens e links por caminhos absolutos",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "Inclua uma captura de tela do topo da página que você está raspando.",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "Inclua uma captura de tela completa da página da qual você está extraindo dados.",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "Aguarde x milissegundos para a página carregar antes de buscar o conteúdo",
                        "default": 0
                      }
                    }
                  },
                  "extractorOptions": {
                    "type": "object",
                    "description": "Opções para extração de informações estruturadas do conteúdo da página. Observação: a extração baseada em LLM não é executada automaticamente e só ocorre quando configurada explicitamente. O modo `markdown` simplesmente retorna o markdown raspado e é o modo padrão de scraping.",
                    "default": {},
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "markdown",
                          "llm-extraction",
                          "llm-extraction-from-raw-html",
                          "llm-extraction-from-markdown"
                        ],
                        "description": "O modo de extração a ser usado. 'markdown': Retorna o conteúdo em markdown coletado, não realiza extração por LLM. 'llm-extraction': Extrai informações do conteúdo limpo e analisado usando LLM. 'llm-extraction-from-raw-html': Extrai informações diretamente do HTML bruto usando LLM. 'llm-extraction-from-markdown': Extrai informações do conteúdo em markdown usando LLM."
                      },
                      "extractionPrompt": {
                        "type": "string",
                        "description": "Um prompt que descreve quais informações extrair da página, aplicável aos modos de extração com LLM."
                      },
                      "extractionSchema": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "O esquema de dados a serem extraídos, obrigatório apenas para os modos de extração com LLM.",
                        "required": [
                          "company_mission",
                          "supports_sso",
                          "is_open_source"
                        ]
                      }
                    }
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tempo limite da requisição, em milissegundos",
                    "default": 30000
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Rastrear várias URLs com base nas opções",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL base a partir da qual o rastreamento deve começar"
                  },
                  "crawlerOptions": {
                    "type": "object",
                    "properties": {
                      "includes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Padrões de URL para incluir"
                      },
                      "excludes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Padrões de URL a excluir"
                      },
                      "generateImgAltText": {
                        "type": "boolean",
                        "description": "Gerar texto alternativo para imagens com LLMs (é necessário um plano pago)",
                        "default": false
                      },
                      "returnOnlyUrls": {
                        "type": "boolean",
                        "description": "Se definido como true, retorna apenas as URLs como uma lista no status do crawl. Atenção: a resposta será uma lista de URLs dentro de data, e não uma lista de documentos.",
                        "default": false
                      },
                      "maxDepth": {
                        "type": "integer",
                        "description": "Profundidade máxima de rastreamento em relação à URL informada. Um maxDepth de 0 coleta apenas a URL informada. Um maxDepth de 1 coleta a URL informada e todas as páginas a um nível abaixo. Um maxDepth de 2 coleta a URL informada e todas as páginas até dois níveis abaixo. Valores maiores seguem o mesmo padrão."
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "default",
                          "fast"
                        ],
                        "description": "O modo de rastreamento a ser utilizado. O modo rápido rastreia sites sem sitemap até 4x mais rápido, mas pode não ser tão preciso e não deve ser usado em sites com uso intenso de renderização em JavaScript.",
                        "default": "default"
                      },
                      "ignoreSitemap": {
                        "type": "boolean",
                        "description": "Ignorar o sitemap do site durante o rastreamento",
                        "default": false
                      },
                      "limit": {
                        "type": "integer",
                        "description": "Número máximo de páginas para rastrear",
                        "default": 10000
                      },
                      "allowBackwardCrawling": {
                        "type": "boolean",
                        "description": "Permite que o crawler navegue de uma URL específica de volta para páginas que a referenciaram anteriormente. Por exemplo, de 'example.com/product/123' de volta para 'example.com/product'",
                        "default": false
                      },
                      "allowExternalContentLinks": {
                        "type": "boolean",
                        "description": "Permite que o rastreador siga links para sites externos.",
                        "default": false
                      }
                    }
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "description": "Cabeçalhos para enviar na requisição. Podem ser usados para enviar cookies, user agent etc."
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Inclui a versão HTML do conteúdo da página. Retornará uma chave html na resposta.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Inclui o conteúdo HTML bruto da página. Gera uma chave rawHtml na resposta.",
                        "default": false
                      },
                      "onlyIncludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Inclua apenas as tags, classes e IDs da página na saída final. Use valores separados por vírgulas. Exemplo: 'script, .ad, #footer'"
                      },
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Retorne apenas o conteúdo principal da página, excluindo cabeçalhos, menus de navegação, rodapés etc.",
                        "default": false
                      },
                      "removeTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Tags, classes e IDs a serem removidos da página. Use valores separados por vírgula. Exemplo: 'script, .ad, #footer'"
                      },
                      "replaceAllPathsWithAbsolutePaths": {
                        "type": "boolean",
                        "description": "Substitua todos os caminhos relativos por caminhos absolutos em imagens e links",
                        "default": false
                      },
                      "screenshot": {
                        "type": "boolean",
                        "description": "Inclua uma captura de tela do topo da página da qual você está extraindo dados.",
                        "default": false
                      },
                      "fullPageScreenshot": {
                        "type": "boolean",
                        "description": "Inclua uma captura de tela em tamanho completo da página da qual você está extraindo dados.",
                        "default": false
                      },
                      "waitFor": {
                        "type": "integer",
                        "description": "Aguarde x milissegundos para que a página carregue antes de buscar o conteúdo",
                        "default": 0
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Busca uma palavra-chave no Google e retorna as principais páginas com o conteúdo em Markdown de cada uma",
        "operationId": "searchGoogle",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "format": "uri",
                    "description": "A consulta de pesquisa"
                  },
                  "pageOptions": {
                    "type": "object",
                    "properties": {
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "Retorne apenas o conteúdo principal da página, excluindo cabeçalhos, menus de navegação, rodapés etc.",
                        "default": false
                      },
                      "fetchPageContent": {
                        "type": "boolean",
                        "description": "Busca o conteúdo de cada página. Se definido como false, o padrão é usar uma API SERP básica e rápida.",
                        "default": true
                      },
                      "includeHtml": {
                        "type": "boolean",
                        "description": "Incluir a versão HTML do conteúdo na página. Isso fará com que a resposta inclua uma chave html.",
                        "default": false
                      },
                      "includeRawHtml": {
                        "type": "boolean",
                        "description": "Inclui o conteúdo HTML bruto da página. Vai gerar uma chave rawHtml na resposta.",
                        "default": false
                      }
                    }
                  },
                  "searchOptions": {
                    "type": "object",
                    "properties": {
                      "limit": {
                        "type": "integer",
                        "description": "Quantidade máxima de resultados. O limite é 20 durante o beta."
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "402": {
            "description": "Pagamento necessário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/status/{jobId}": {
      "get": {
        "tags": [
          "Crawl"
        ],
        "summary": "Obtenha o status de uma tarefa de rastreamento",
        "operationId": "getCrawlStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "ID da tarefa de rastreamento",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status da tarefa (concluída, ativa, com falha, pausada)"
                    },
                    "current": {
                      "type": "integer",
                      "description": "Número da página atual"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total de páginas"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "Dados retornados pelo job (null enquanto estiver em execução)"
                    },
                    "partial_data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlStatusResponseObj"
                      },
                      "description": "Documentos parciais são retornados enquanto o site está sendo rastreado (streaming). **Este recurso está atualmente em fase alpha – espere mudanças incompatíveis.** Quando uma página estiver pronta, ela será adicionada ao array `partial_data`, então não é necessário esperar que todo o site seja rastreado. Quando o rastreamento terminar, `partial_data` ficará vazio e o resultado estará disponível em `data`. Há um máximo de 50 itens na resposta em forma de array. O item mais antigo (no topo do array) será removido quando um novo item for adicionado ao array."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/cancel/{jobId}": {
      "delete": {
        "tags": [
          "Crawl"
        ],
        "summary": "Cancelar um job de rastreamento",
        "operationId": "cancelCrawlJob",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "ID da tarefa de rastreamento",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Devoluções canceladas."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Pagamento obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Muitas solicitações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "Versão em HTML do conteúdo da página quando `includeHtml` for true"
              },
              "rawHtml": {
                "type": "string",
                "nullable": true,
                "description": "Conteúdo HTML bruto da página, quando `includeRawHtml` é true"
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "sourceURL": {
                    "type": "string",
                    "format": "uri"
                  },
                  "<any other metadata> ": {
                    "type": "string"
                  },
                  "pageStatusCode": {
                    "type": "integer",
                    "description": "O código de status da página"
                  },
                  "pageError": {
                    "type": "string",
                    "nullable": true,
                    "description": "Mensagem de erro da página"
                  }
                }
              },
              "llm_extraction": {
                "type": "object",
                "description": "Exibido ao usar LLM Extraction. Dados extraídos da página de acordo com o esquema definido.",
                "nullable": true
              },
              "warning": {
                "type": "string",
                "nullable": true,
                "description": "Pode ser exibida ao usar a extração por LLM. A mensagem de aviso informará sobre quaisquer problemas com a extração."
              }
            }
          }
        }
      },
      "CrawlStatusResponseObj": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "nullable": true,
            "description": "Versão em HTML do conteúdo da página se `includeHtml` estiver definido como `true`"
          },
          "rawHtml": {
            "type": "string",
            "nullable": true,
            "description": "Conteúdo HTML bruto da página, se `includeRawHtml` for true"
          },
          "index": {
            "type": "integer",
            "description": "O número da página que foi rastreada. Isso é útil em `partial_data`, para que você saiba de qual página os dados são."
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "language": {
                "type": "string",
                "nullable": true
              },
              "sourceURL": {
                "type": "string",
                "format": "uri"
              },
              "<any other metadata> ": {
                "type": "string"
              },
              "pageStatusCode": {
                "type": "integer",
                "description": "O código de status da página"
              },
              "pageError": {
                "type": "string",
                "nullable": true,
                "description": "A mensagem de erro da página"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "markdown": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "sourceURL": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}