{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v2",
    "description": "API para interactuar con los servicios de Firecrawl y realizar tareas de scraping y rastreo web.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Rastrea una sola URL y, opcionalmente, extrae información con un LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "La URL que se va a rastrear"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Si es true, se desactivará la retención de datos para este scrape. Para activar esta función, ponte en contacto con help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "Realiza scraping de varias URL y, opcionalmente, extrae información con un LLM",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "La URL que se va a extraer"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Objeto de especificación de webhook.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "La URL a la que se enviará el webhook. Se activará cuando se inicie el scraping por lotes (batch_scrape.started), en cada página procesada (batch_scrape.page) y cuando el scraping por lotes finalice (batch_scrape.completed o batch_scrape.failed). La respuesta será la misma que la del endpoint `/scrape`."
                          },
                          "headers": {
                            "type": "object",
                            "description": "Encabezados que se deben enviar a la URL del webhook.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Metadatos personalizados que se incluirán en todos los payloads de webhook de este rastreo",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Tipo de eventos que se enviarán a la URL del webhook. (por defecto: todos)",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "Número máximo de extracciones concurrentes. Este parámetro te permite establecer un límite de concurrencia para este lote de extracción. Si no se especifica, el lote de extracción se ajusta al límite de concurrencia de tu equipo."
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": true,
                        "description": "Si se especifican URL no válidas en el arreglo urls, se ignorarán. En lugar de que provoquen el fallo de toda la solicitud, se creará un scraping por lotes usando las URL válidas restantes, y las URL no válidas se devolverán en el campo invalidURLs de la respuesta."
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Si se establece en true, no se conservarán datos de este scraping por lotes. Para activar esta función, ponte en contacto con help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID del proceso de scraping por lotes",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtén el estado de un trabajo de scraping por lotes",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar un trabajo de scraping en lote",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelación completada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró el trabajo de scraping por lotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID del proceso de scraping por lotes",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtener los errores de una tarea de scraping por lotes",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID de la tarea de rastreo",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtén el estado de una tarea de rastreo",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancelar una tarea de rastreo",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelación correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Trabajo de rastreo no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID de la tarea de rastreo",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtener los errores de una tarea de rastreo",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Rastrear varias URL según las opciones proporcionadas",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "La URL base desde la que comenzar el rastreo"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Un prompt que se usará para generar las opciones del crawler (todos los parámetros de abajo) a partir de lenguaje natural. Los parámetros establecidos explícitamente tendrán prioridad sobre los equivalentes generados."
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Patrones de expresiones regulares para rutas (pathname) de URL que excluyen del rastreo las URL coincidentes. Por ejemplo, si defines `\"excludePaths\": [\"blog/.*\"]` para la URL base firecrawl.dev, se excluirán todos los resultados que coincidan con ese patrón, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Patrones de expresiones regulares para el pathname de la URL que determinan qué URLs se incluyen en el rastreo. Solo las rutas que coincidan con los patrones especificados se incluirán en la respuesta. Por ejemplo, si configuras `\"includePaths\": [\"blog/.*\"]` para la URL base firecrawl.dev, solo se incluirán los resultados que coincidan con ese patrón, como https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "Profundidad máxima de rastreo basada en el orden de descubrimiento. El sitio raíz y las páginas del sitemap tienen una profundidad de descubrimiento de 0. Por ejemplo, si la configuras en 1 y activas ignoreSitemap, solo se rastreará la URL introducida y todas las URL que estén enlazadas en esa página."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include"
                    ],
                    "description": "Modo de sitemap durante el rastreo. Si lo configuras en «skip», el rastreador ignorará el sitemap del sitio web y solo rastreará la URL introducida y descubrirá páginas a partir de ahí.",
                    "default": "include"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "No vuelvas a hacer scraping de la misma ruta con distintos parámetros de consulta (o sin parámetros).",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de páginas para rastrear. El límite predeterminado es 10.000.",
                    "default": 10000
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "Permite que el crawler siga enlaces internos a URLs hermanas o padre, no solo a rutas hijas.\n\nfalse: Solo rastrea URLs más profundas (hijas).\n→ p. ej. /features/feature-1 → /features/feature-1/tips ✅\n→ No seguirá /pricing ni / ❌\n\ntrue: Rastrea cualquier enlace interno, incluidas URLs hermanas y padre.\n→ p. ej. /features/feature-1 → /pricing, /, etc. ✅\n\nUsa true para obtener una cobertura interna más amplia, más allá de rutas anidadas.",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "Permite que el rastreador siga enlaces a sitios externos.",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "Permite que el rastreador siga enlaces a subdominios del dominio principal.",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "Intervalo en segundos entre scrapes. Ayuda a respetar los límites de frecuencia del sitio web."
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "Número máximo de scrapes simultáneos. Este parámetro te permite definir un límite de concurrencia para este rastreo. Si no se especifica, el rastreo se ajusta al límite de concurrencia de tu equipo."
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Un objeto de especificación de un webhook.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "La URL a la que se enviará el webhook. Este se activará cuando se inicie el rastreo (crawl.started), por cada página rastreada (crawl.page) y cuando se complete el rastreo (crawl.completed o crawl.failed). La respuesta será la misma que la del endpoint `/scrape`."
                      },
                      "headers": {
                        "type": "object",
                        "description": "Encabezados que se enviarán a la URL del webhook.",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadatos personalizados que se incluirán en todos los payloads de webhook de este rastreo",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "Tipo de eventos que se enviarán a la URL del webhook. (valor predeterminado: todos)",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "Si se establece en true, se desactivará la retención de datos para este rastreo. Para habilitar esta función, ponte en contacto con help@firecrawl.dev"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "Mapear múltiples URL según las opciones",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "La URL base desde la que se iniciará el rastreo"
                  },
                  "search": {
                    "type": "string",
                    "description": "Consulta de búsqueda que se utilizará para el mapeo. Durante la fase alfa, la parte “inteligente” de la funcionalidad de búsqueda está limitada a 500 resultados. Sin embargo, si map encuentra más resultados, no se aplica ningún límite."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "Modo de sitemap al mapear. Si lo configuras en `skip`, no se utilizará el sitemap para encontrar URL. Si lo configuras en `only`, solo se devolverán las URL que estén en el sitemap. De forma predeterminada (`include`), el sitemap y otros métodos se utilizarán conjuntamente para encontrar URL.",
                    "default": "include"
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Incluir subdominios del sitio",
                    "default": true
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "No devolver URLs con parámetros de consulta",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de enlaces que se devolverán",
                    "default": 5000,
                    "maximum": 30000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tiempo de espera en milisegundos. De forma predeterminada, no hay tiempo de espera."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas solicitudes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extrae datos estructurados de páginas con LLMs",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "Las URL de las que se extraerán datos. Las URL deben estar en formato glob."
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt que guía el proceso de extracción"
                  },
                  "schema": {
                    "type": "object",
                    "description": "Esquema que define la estructura de los datos extraídos. Debe ajustarse a [JSON Schema](https://json-schema.org/)."
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "Cuando sea true, la extracción utilizará la búsqueda web para encontrar datos adicionales",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Si es true, se ignorarán los archivos sitemap.xml durante el escaneo del sitio web",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Si se establece en true, también se rastrearán los subdominios de las URL proporcionadas",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "Cuando es `true`, las fuentes utilizadas para extraer los datos se incluirán en la respuesta como la clave `sources`.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": true,
                    "description": "Si se especifican URLs no válidas en el array urls, se ignorarán. En lugar de hacer que falle toda la solicitud, se realizará una extracción con las URLs válidas restantes y las URLs no válidas se devolverán en el campo invalidURLs de la respuesta."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracción exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud no válida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "El ID del trabajo de extracción",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtener el estado de una tarea de extracción",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "Obtener todos los rastreos activos del equipo autenticado",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "El identificador único del rastreo"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "ID del equipo propietario del rastreo"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "La URL de inicio del rastreo"
                          },
                          "options": {
                            "type": "object",
                            "description": "Opciones del rastreador usadas en este rastreo",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Se requiere pago",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Demasiadas peticiones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "Obtener los créditos restantes del equipo autenticado",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingCredits": {
                          "type": "number",
                          "description": "Créditos restantes del equipo",
                          "example": 1000
                        },
                        "planCredits": {
                          "type": "number",
                          "description": "Número de créditos del plan. Esto no incluye créditos provenientes de cupones, paquetes de créditos ni créditos de recarga automática.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de inicio del período de facturación. null si utilizas el plan gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de finalización del período de facturación. null si se utiliza el plan gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Información sobre el uso de créditos no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "Obtener el historial de uso de créditos del equipo autenticado",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obtener el historial de uso de créditos por clave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de inicio del período de facturación",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de fin del período de facturación",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nombre de la clave de API utilizada en el período de facturación. null si byApiKey es false (predeterminado)",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "Total de créditos consumidos durante el período de facturación",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "Obtener tokens restantes para el equipo autenticado (solo Extract)",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingTokens": {
                          "type": "number",
                          "description": "Número de tokens restantes del equipo",
                          "example": 1000
                        },
                        "planTokens": {
                          "type": "number",
                          "description": "Número de tokens del plan. Esto no incluye los tokens de cupones.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de inicio del período de facturación. null si utilizas el plan gratuito",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Fecha de fin del período de facturación. null si se usa el plan gratuito",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información sobre el uso de tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "Obtener el uso histórico de tokens del equipo autenticado (solo Extract)",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Obtener el uso histórico de tokens por clave de API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de inicio del periodo de facturación",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fecha de fin del período de facturación",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nombre de la clave de API utilizada durante el período de facturación. null si byApiKey es false (valor predeterminado)",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "Número total de tokens utilizados en el período de facturación",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Buscar y, opcionalmente, extraer datos de los resultados de búsqueda",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "La consulta de búsqueda"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de resultados a devolver",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Web",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "web"
                              ]
                            },
                            "tbs": {
                              "type": "string",
                              "description": "Parámetro de búsqueda basado en el tiempo. Permite intervalos de tiempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) y rangos de fechas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)"
                            },
                            "location": {
                              "type": "string",
                              "description": "Parámetro de ubicación para resultados de búsqueda"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Images",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "images"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "News",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "news"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "Fuentes en las que buscar. Determinan los arrays disponibles en la respuesta.",
                    "default": [
                      "web"
                    ]
                  },
                  "tbs": {
                    "type": "string",
                    "description": "Parámetro de búsqueda basado en el tiempo. Admite intervalos de tiempo predefinidos (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) e intervalos de fechas personalizados (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)."
                  },
                  "location": {
                    "type": "string",
                    "description": "Parámetro de ubicación para resultados de búsqueda"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Tiempo de espera en milisegundos",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "Excluye de los resultados de búsqueda las URL que no son válidas para otros endpoints de Firecrawl. Esto ayuda a reducir errores si canalizas datos desde la búsqueda a otros endpoints de la API de Firecrawl.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ScrapeOptions"
                      }
                    ],
                    "description": "Opciones para scrapear resultados de búsqueda",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "web": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título del resultado de la búsqueda"
                              },
                              "description": {
                                "type": "string",
                                "description": "Descripción del resultado de la búsqueda"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL del resultado de la búsqueda"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenido en Markdown si se ha solicitado scraping"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenido HTML si se solicita en los formatos"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenido HTML sin procesar si se solicita en los formatos"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Enlaces encontrados si se solicitan en los formatos"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL de la captura de pantalla si se solicita en los formatos"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título del resultado de la búsqueda"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL de la imagen"
                              },
                              "imageWidth": {
                                "type": "integer",
                                "description": "Ancho de la imagen"
                              },
                              "imageHeight": {
                                "type": "integer",
                                "description": "Altura de la imagen"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL del resultado de la búsqueda"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Posición del resultado de la búsqueda"
                              }
                            }
                          }
                        },
                        "news": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Título del artículo"
                              },
                              "snippet": {
                                "type": "string",
                                "description": "Fragmento del artículo"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL del artículo"
                              },
                              "date": {
                                "type": "string",
                                "description": "Fecha del artículo"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL de la imagen del artículo"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Posición del artículo"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenido en formato Markdown si se solicitó scraping"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenido HTML si se solicita en los formatos"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenido HTML sin procesar, si se solicita en los formatos"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Enlaces encontrados si se solicitan en los formatos correspondientes"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL de la captura de pantalla si se solicita en los formatos"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "Los resultados de la búsqueda. Los arrays disponibles dependerán de las fuentes especificadas en la solicitud. De forma predeterminada, se devolverá el array `web`."
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "Mensaje de advertencia si se produce algún problema"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Tiempo de espera de la solicitud excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Formats": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "title": "Markdown",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "markdown"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "html"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Raw HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "rawHtml"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Links",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "links"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Screenshot",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "screenshot"
                  ]
                },
                "fullPage": {
                  "type": "boolean",
                  "description": "Indica si se debe tomar una captura de pantalla de toda la página o solo del viewport actual.",
                  "default": false
                },
                "quality": {
                  "type": "integer",
                  "description": "La calidad de la captura de pantalla, de 1 a 100; 100 es la máxima calidad."
                },
                "viewport": {
                  "type": "object",
                  "properties": {
                    "width": {
                      "type": "integer",
                      "description": "El ancho del viewport en píxeles"
                    },
                    "height": {
                      "type": "integer",
                      "description": "La altura del viewport en píxeles"
                    }
                  },
                  "required": [
                    "width",
                    "height"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "JSON",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "json"
                  ]
                },
                "schema": {
                  "type": "object",
                  "description": "El esquema que se utilizará para la salida en JSON. Debe ajustarse al estándar [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "El prompt que se usará para la salida en formato JSON"
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Change Tracking",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "changeTracking"
                  ]
                },
                "modes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "git-diff",
                      "json"
                    ]
                  },
                  "description": "El modo que se utilizará para el seguimiento de cambios. 'git-diff' proporciona un diff detallado y 'json' compara los datos JSON extraídos."
                },
                "schema": {
                  "type": "object",
                  "description": "Esquema para extraer JSON al usar el modo `json`. Define la estructura de los datos que se deben extraer y comparar. Debe ajustarse a [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "Prompt que se usará para el seguimiento de cambios cuando se utilice el modo `json`. Si no se proporciona, se utilizará el prompt predeterminado."
                },
                "tag": {
                  "type": "string",
                  "nullable": true,
                  "default": null,
                  "description": "Etiqueta que se usará para el seguimiento de cambios. Las etiquetas pueden separar el historial de seguimiento de cambios en “ramas” independientes, donde el seguimiento de cambios con una etiqueta específica solo se comparará con scrapes realizados con la misma etiqueta. Si no se proporciona, se usará la etiqueta por defecto (null)."
                }
              },
              "required": [
                "type"
              ]
            }
          ]
        },
        "description": "Formatos de salida que incluir en la respuesta. Puedes especificar uno o varios formatos, ya sea como cadenas de texto (por ejemplo, `'markdown'`) o como objetos con opciones adicionales (por ejemplo, `{ type: 'json', schema: {...} }`). Algunos formatos requieren que se configuren opciones específicas. Ejemplo: `['markdown', { type: 'json', schema: {...} }]`.",
        "default": [
          "markdown"
        ]
      },
      "ScrapeOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "$ref": "#/components/schemas/Formats"
          },
          "onlyMainContent": {
            "type": "boolean",
            "description": "Devuelve únicamente el contenido principal de la página, excluyendo encabezados, navegación, pies de página, etc.",
            "default": true
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Etiquetas que incluir en la salida."
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Etiquetas que se excluirán de la salida."
          },
          "maxAge": {
            "type": "integer",
            "description": "Devuelve una versión en caché de la página si su antigüedad es menor que este valor en milisegundos. Si la versión en caché de la página es más antigua que este valor, la página se volverá a extraer. Si no necesitas datos extremadamente recientes, activar esta opción puede acelerar tus extracciones hasta un 500 %. El valor predeterminado es 2 días.",
            "default": 172800000
          },
          "headers": {
            "type": "object",
            "description": "Encabezados que se enviarán con la solicitud. Pueden usarse para enviar cookies, user-agent, etc."
          },
          "waitFor": {
            "type": "integer",
            "description": "Especifica un retardo en milisegundos antes de obtener el contenido, permitiendo que la página tenga tiempo suficiente para cargarse.",
            "default": 0
          },
          "mobile": {
            "type": "boolean",
            "description": "Configúralo en `true` si quieres emular el scraping desde un dispositivo móvil. Útil para probar páginas responsive y tomar capturas de pantalla de la versión móvil.",
            "default": false
          },
          "skipTlsVerification": {
            "type": "boolean",
            "description": "Omitir la verificación de certificados TLS al realizar solicitudes",
            "default": true
          },
          "timeout": {
            "type": "integer",
            "description": "Tiempo de espera de la solicitud en milisegundos."
          },
          "parsers": {
            "type": "array",
            "description": "Controla cómo se procesan los archivos durante el scraping. Cuando se incluye \"pdf\" (valor predeterminado), el contenido del PDF se extrae y se convierte al formato Markdown, con la facturación basada en el número de páginas (1 crédito por página). Cuando se pasa un array vacío, el archivo PDF se devuelve en codificación base64 con una tarifa plana de 1 crédito en total.",
            "items": {
              "type": "string",
              "enum": [
                "pdf"
              ]
            },
            "default": [
              "pdf"
            ]
          },
          "actions": {
            "type": "array",
            "description": "Acciones que se ejecutarán en la página antes de extraer el contenido",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "title": "Wait",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "Espera un número determinado de milisegundos"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "Número de milisegundos de espera"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Selector para encontrar el elemento por",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Screenshot",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "screenshot"
                      ],
                      "description": "Toma una captura de pantalla. Los enlaces estarán disponibles en el array `actions.screenshots` de la respuesta."
                    },
                    "fullPage": {
                      "type": "boolean",
                      "description": "Indica si se debe capturar una captura de pantalla de la página completa o solo del viewport actual.",
                      "default": false
                    },
                    "quality": {
                      "type": "integer",
                      "description": "La calidad de la captura de pantalla, de 1 a 100. 100 es la máxima calidad."
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "description": "El ancho del viewport en píxeles"
                        },
                        "height": {
                          "type": "integer",
                          "description": "La altura del viewport en píxeles"
                        }
                      },
                      "required": [
                        "width",
                        "height"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Click",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "click"
                      ],
                      "description": "Haz clic en un elemento"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Selector de consulta para buscar el elemento por",
                      "example": "#load-more-button"
                    },
                    "all": {
                      "type": "boolean",
                      "description": "Hace clic en todos los elementos que coinciden con el selector, no solo en el primero. No produce un error si ningún elemento coincide con el selector.",
                      "default": false
                    }
                  },
                  "required": [
                    "type",
                    "selector"
                  ]
                },
                {
                  "type": "object",
                  "title": "Write text",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "write"
                      ],
                      "description": "Escribe texto en un campo de texto, área de texto o elemento con contenido editable (contenteditable). Nota: primero debes enfocar el elemento haciendo clic en él antes de escribir. El texto se escribirá carácter por carácter para simular la entrada desde el teclado."
                    },
                    "text": {
                      "type": "string",
                      "description": "Texto para escribir",
                      "example": "Hello, world!"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "title": "Press a key",
                  "description": "Pulsa una tecla en la página. Consulta https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html para ver los códigos de teclas.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "press"
                      ],
                      "description": "Pulsa una tecla en la página"
                    },
                    "key": {
                      "type": "string",
                      "description": "Tecla que se debe pulsar",
                      "example": "Enter"
                    }
                  },
                  "required": [
                    "type",
                    "key"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scroll",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scroll"
                      ],
                      "description": "Desplazar la página o un elemento específico"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "Dirección de desplazamiento",
                      "default": "down"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Selector de consulta para el elemento que se va a desplazar",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scrape",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scrape"
                      ],
                      "description": "Obtiene el contenido de la página actual y devuelve la URL y el HTML."
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Execute JavaScript",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "executeJavascript"
                      ],
                      "description": "Ejecutar código JavaScript en la página"
                    },
                    "script": {
                      "type": "string",
                      "description": "Código JavaScript a ejecutar",
                      "example": "document.querySelector('.button').click();"
                    }
                  },
                  "required": [
                    "type",
                    "script"
                  ]
                },
                {
                  "type": "object",
                  "title": "Generate PDF",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "pdf"
                      ],
                      "description": "Genera un PDF de la página actual. El PDF se devolverá en el array `actions.pdfs` de la respuesta."
                    },
                    "format": {
                      "type": "string",
                      "enum": [
                        "A0",
                        "A1",
                        "A2",
                        "A3",
                        "A4",
                        "A5",
                        "A6",
                        "Letter",
                        "Legal",
                        "Tabloid",
                        "Ledger"
                      ],
                      "description": "El tamaño de página del PDF generado",
                      "default": "Letter"
                    },
                    "landscape": {
                      "type": "boolean",
                      "description": "Define si se debe generar el PDF en orientación horizontal",
                      "default": false
                    },
                    "scale": {
                      "type": "number",
                      "description": "El factor de escala del PDF resultante",
                      "default": 1
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              ]
            }
          },
          "location": {
            "type": "object",
            "description": "Configuración de ubicación para la solicitud. Cuando se especifica, usará un proxy adecuado si está disponible y emulará la configuración de idioma y zona horaria correspondientes. Si no se especifica, su valor predeterminado es \"US\".",
            "properties": {
              "country": {
                "type": "string",
                "description": "Código de país ISO 3166-1 alfa-2 (p. ej., «US», «AU», «DE», «JP»)",
                "pattern": "^[A-Z]{2}$",
                "default": "US"
              },
              "languages": {
                "type": "array",
                "description": "Idiomas y configuraciones regionales preferidos para la solicitud en orden de prioridad. De forma predeterminada, se usa el idioma correspondiente a la ubicación especificada. Consulta https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                "items": {
                  "type": "string",
                  "example": "en-US"
                }
              }
            }
          },
          "removeBase64Images": {
            "type": "boolean",
            "description": "Elimina todas las imágenes en base 64 de la salida, ya que pueden resultar excesivamente largas. El texto alternativo de la imagen se mantiene en la salida, pero la URL se reemplaza por un marcador de posición.",
            "default": true
          },
          "blockAds": {
            "type": "boolean",
            "description": "Permite el bloqueo de anuncios y de avisos emergentes de cookies.",
            "default": true
          },
          "proxy": {
            "type": "string",
            "enum": [
              "basic",
              "enhanced",
              "auto"
            ],
            "description": "Especifica el tipo de proxy que se va a usar.\n\n - **basic**: Proxies para hacer scraping de sitios con soluciones anti‑bot nulas o básicas. Son rápidos y normalmente funcionan.\n - **enhanced**: Proxies mejorados para hacer scraping de sitios con soluciones anti‑bot avanzadas. Son más lentos, pero más fiables en ciertos sitios. Pueden costar hasta 5 créditos por solicitud.\n - **auto**: Firecrawl reintentará automáticamente el scraping con proxies mejorados si el proxy básico falla. Si el reintento con **enhanced** tiene éxito, se facturarán 5 créditos por la operación de scraping. Si el primer intento con **basic** tiene éxito, solo se facturará el coste normal.\n\nSi no especificas un proxy, Firecrawl usará **auto** por defecto.",
            "default": "auto"
          },
          "storeInCache": {
            "type": "boolean",
[...]
