{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v1",
    "description": "Firecrawl のサービスと連携し、ウェブスクレイピングやクローリング処理を実行するための API です。",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v1"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "1つのURLをスクレイピングし、必要に応じてLLMを用いて情報を抽出する",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "スクレイピングするURL"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "true にすると、このスクレイピングではデータを一切保存しないゼロデータ保持モードが有効になります。この機能を有効化するには、help@firecrawl.dev までお問い合わせください。"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "複数のURLをスクレイピングし、必要に応じてLLMを使って情報を抽出する",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "スクレイプ対象のURL"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Webhook の仕様を表すオブジェクト。",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Webhook を送信する URL。バッチスクレイピングの開始時（batch_scrape.started）、各ページのスクレイピング完了時（batch_scrape.page）、およびバッチスクレイピング完了時（batch_scrape.completed または batch_scrape.failed）にトリガーされます。レスポンスは `/scrape` エンドポイントと同じになります。"
                          },
                          "headers": {
                            "type": "object",
                            "description": "Webhook URL に送信するリクエストヘッダー。",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "このクロールのすべての webhook ペイロードに含めるカスタムメタデータ",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Webhook URL に送信するイベントの種類。（デフォルト：all）",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "同時スクレイプ数の上限。このパラメータで、このバッチスクレイプに対する同時実行数の上限を設定できます。指定しない場合、バッチスクレイプはチームに設定されている同時実行数の上限に従います。"
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": false,
                        "description": "urls 配列に無効な URL が指定されている場合、それらは無視されます。無効な URL が原因でリクエスト全体が失敗するのではなく、有効な URL のみを用いてバッチスクレイプが作成され、無効な URL はレスポンスの invalidURLs フィールドで返されます。"
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "true の場合、このバッチスクレイプではゼロデータ保持が有効になり、データは一切保存されません。この機能を有効にするには、help@firecrawl.dev までご連絡ください。"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "バッチスクレイプジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "バッチスクレイピングジョブのステータスを取得する",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "バッチスクレイピングジョブをキャンセルする",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "キャンセルが完了しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "バッチスクレイピングジョブが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "バッチスクレイピングジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "バッチスクレイピングジョブのエラーを取得する",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "クロールジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "クロールジョブの状態を取得する",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエストが多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "クロールジョブをキャンセルする",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "キャンセルが完了しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "クロールジョブが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "クロールジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "クロールジョブのエラーを取得する",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "オプションに応じて複数のURLをクロールする",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "クロールの開始地点となるベースURL"
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "クロールから除外するURLパス名を指定するための正規表現パターンです。たとえば、ベースURLを firecrawl.dev として \"excludePaths\": [\"blog/.*\"] を設定すると、https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap のようにそのパターンにマッチする結果はすべてクロール対象から除外されます。"
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "クロールに含めるURLを指定するためのURLパス名の正規表現パターンです。指定したパターンに一致するパスのみがレスポンスに含まれます。たとえば、ベースURLを firecrawl.dev とし、\"includePaths\": [\"blog/.*\"] を設定した場合、そのパターンに一致する結果のみが含まれます（例: https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap）。"
                  },
                  "maxDepth": {
                    "type": "integer",
                    "description": "入力されたURLを基点としてクロールできる最大の絶対深度です。基本的には、スクレイピング対象のURLのパス名に含めることができるスラッシュの最大数を意味します。",
                    "default": 10
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "検出順に基づいてクロールする最大深度です。ルートサイトとサイトマップで見つかったページの検出深度は 0 です。たとえば、この値を 1 に設定し、かつ ignoreSitemap を有効にした場合、入力した URL と、そのページ上からリンクされているすべての URL のみをクロールします。"
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "クロール時にサイトマップを無視する",
                    "default": false
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "同じパスに対して、クエリパラメータを変えたり（または付けずに）再度スクレイピングしないでください",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "クロールするページ数の上限です。デフォルトでは 10,000 ページに設定されています。",
                    "default": 10000
                  },
                  "allowBackwardLinks": {
                    "type": "boolean",
                    "description": "⚠️ 非推奨: 代わりに 'crawlEntireDomain' を使用してください。クローラーが子パスだけでなく、同一ドメイン内の親URLや同階層のURLへの内部リンクもたどれるようにします。",
                    "default": false,
                    "deprecated": true
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "クローラーが子パスだけでなく、同一階層（兄弟）や親URLへの内部リンクもたどれるようにします。\n\nfalse: より深い（子）URL だけをクロールします。\n→ 例: /features/feature-1 → /features/feature-1/tips ✅\n→ /pricing や / には移動しません ❌\n\ntrue: 兄弟や親を含む、あらゆる内部リンクをクロールします。\n→ 例: /features/feature-1 → /pricing, / など ✅\n\nネストされたパス以外も含めて、より広くサイト内をクロールしたい場合は true を使用してください。",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "クローラーが外部のウェブサイトへのリンクをたどることを許可します。",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "クローラーがメインドメイン配下のサブドメインへのリンクもたどれるようにします。",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "スクレイプ間の遅延時間（秒）。ウェブサイトのレート制限を尊重するための設定です。"
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "同時スクレイプ数の上限。このパラメータで、このクロールに対する同時実行数の上限を設定できます。指定しない場合、クロールはチームに設定されている同時実行数の上限に従います。"
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Webhook 仕様オブジェクト。",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "Webhook の送信先となる URL です。クロール開始時 (crawl.started)、各ページのクロール時 (crawl.page)、およびクロールが完了したとき (crawl.completed または crawl.failed) にトリガーされます。レスポンスは `/scrape` エンドポイントと同じです。"
                      },
                      "headers": {
                        "type": "object",
                        "description": "Webhook URL に送信するヘッダー。",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "このクロールのすべての Webhook ペイロードに含まれるカスタムメタデータ",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "webhook URL に送信するイベントの種類（デフォルト: all）",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "true に設定すると、このクロールではデータが一切保存されません（ゼロデータ保持）。この機能を有効にするには、help@firecrawl.dev までご連絡ください。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "オプションに基づいて複数のURLをマップする",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "クロールを開始するためのベースURL"
                  },
                  "search": {
                    "type": "string",
                    "description": "マッピングに使用する検索クエリです。Alpha フェーズ中は、検索機能の「スマート」な部分は検索結果 500 件までに制限されます。ただし、map によってそれ以上の結果が見つかった場合でも、その件数には上限はありません。"
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "クロール時にサイトマップを無視します。",
                    "default": true
                  },
                  "sitemapOnly": {
                    "type": "boolean",
                    "description": "ウェブサイトのサイトマップ内にあるリンクのみを返します",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "このサイトのサブドメインを含める",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "返されるリンクの最大数",
                    "default": 5000,
                    "maximum": 30000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "ミリ秒単位のタイムアウト。デフォルトではタイムアウトはありません。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト回数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "LLMを使ってページから構造化データを抽出",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "データを抽出する対象のURLです。URLはglob形式で指定してください。"
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "抽出プロセスを指示するプロンプト"
                  },
                  "schema": {
                    "type": "object",
                    "description": "抽出されたデータの構造を定義するスキーマ。[JSON Schema](https://json-schema.org/) に準拠する必要があります。"
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "true にすると、抽出時に Web 検索を使用して追加データを取得します",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "true の場合、ウェブサイトのスキャン時に sitemap.xml ファイルは無視されます。",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "true の場合は、指定した URL のサブドメインもスキャンされます",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "true の場合、データ抽出に使用されたソースが、レスポンス内の `sources` キーに含まれます",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": false,
                    "description": "urls 配列内に無効な URL が指定されている場合、それらは無視されます。無効な URL を原因としてリクエスト全体が失敗することはなく、有効な URL のみを使って抽出処理が実行され、無効な URL はレスポンスの invalidURLs フィールドで返されます。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "抽出が成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "無効なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "抽出ジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "抽出ジョブのステータスを確認する",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "認証済みチームのアクティブなクロールをすべて取得します",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "正常なレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "クロールの一意な識別子"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "このクロールを所有するチームのID"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "クロールの起点となるURL"
                          },
                          "options": {
                            "type": "object",
                            "description": "このクロールで使用したクローラーのオプション",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "お支払いが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "リクエスト数が多すぎます",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deep-research": {
      "post": {
        "summary": "クエリに対する詳細な調査を開始する",
        "operationId": "startDeepResearch",
        "tags": [
          "Research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "調査対象のクエリ"
                  },
                  "maxDepth": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12,
                    "default": 7,
                    "description": "調査反復の最大深度"
                  },
                  "timeLimit": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 600,
                    "default": 300,
                    "description": "制限時間（秒）"
                  },
                  "maxUrls": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 20,
                    "description": "解析対象URLの最大数"
                  },
                  "analysisPrompt": {
                    "type": "string",
                    "description": "最終分析で使用するプロンプトです。最終分析のMarkdownを特定の形式で整形するのに役立ちます。"
                  },
                  "systemPrompt": {
                    "type": "string",
                    "description": "リサーチエージェント向けのシステムプロンプトです。リサーチエージェントの挙動を特定の方向に調整するのに使用します。"
                  },
                  "formats": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "markdown",
                        "json"
                      ],
                      "default": [
                        "markdown"
                      ]
                    }
                  },
                  "jsonOptions": {
                    "type": "object",
                    "description": "JSON 出力のオプション",
                    "properties": {
                      "schema": {
                        "type": "object",
                        "description": "JSON出力に使用するスキーマ。 [JSON Schema](https://json-schema.org/) に準拠している必要があります。"
                      },
                      "systemPrompt": {
                        "type": "string",
                        "description": "JSON出力用のシステムプロンプト"
                      },
                      "prompt": {
                        "type": "string",
                        "description": "JSON出力用のプロンプト"
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "リサーチジョブの開始に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "リサーチジョブの ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "リクエストパラメーターが不正です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters provided"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deep-research/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "リサーチジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "ディープリサーチ処理の状態と結果を取得する",
        "operationId": "getDeepResearchStatus",
        "tags": [
          "Research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "finalAnalysis": {
                          "type": "string"
                        },
                        "json": {
                          "type": "object",
                          "description": "JSON 形式のときに表示されます",
                          "nullable": true
                        },
                        "activities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "depth": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "favicon": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "processing",
                            "completed",
                            "failed"
                          ]
                        },
                        "error": {
                          "type": "string"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "currentDepth": {
                          "type": "integer"
                        },
                        "maxDepth": {
                          "type": "integer"
                        },
                        "totalUrls": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Research ジョブが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Research job not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "認証済みのチームの残りのクレジット数を取得",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remaining_credits": {
                          "type": "number",
                          "description": "チームの残りクレジット",
                          "example": 1000
                        },
                        "plan_credits": {
                          "type": "number",
                          "description": "プランに含まれるクレジット数です。クーポンクレジット、クレジットパック、自動チャージによるクレジットは含まれません。",
                          "example": 500000
                        },
                        "billing_period_start": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の開始日。無料プランを利用している場合は null です",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billing_period_end": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の終了日。無料プランを利用している場合は null です",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "クレジットの利用状況が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "認証済みのチームの過去のクレジット使用量を取得します",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "APIキーごとのクレジット使用履歴を取得",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の開始日",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の終了日",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "請求期間に使用された API キー名。byApiKey が false（デフォルト）の場合は null です",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "請求期間中に使用したクレジットの合計",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "認証済みチームの残りトークン数を取得（Extract 専用）",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remaining_tokens": {
                          "type": "number",
                          "description": "チームの残りトークン数",
                          "example": 1000
                        },
                        "plan_tokens": {
                          "type": "number",
                          "description": "プランに含まれるトークン数です。クーポンで付与されたトークンは含まれません。",
                          "example": 500000
                        },
                        "billing_period_start": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の開始日。無料プラン利用時は null です",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billing_period_end": {
                          "type": "string",
                          "format": "date-time",
                          "description": "請求期間の終了日。無料プラン利用時は null です",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "トークン使用状況の情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "認証済みのチームのトークン使用履歴を取得（Extract のみ）",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "APIキー別のトークン使用履歴を取得",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の開始日",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "請求期間の終了日",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "請求期間中に使用された API キーの名前。byApiKey が false（デフォルト）の場合は null。",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "請求期間内に使用されたトークンの合計数",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "検索し、必要に応じて検索結果をスクレイピングします",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "検索クエリ"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "返される結果の最大件数",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "tbs": {
                    "type": "string",
                    "description": "時間を基準とした検索パラメータ。事前定義された時間範囲（`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`）と、カスタム日付範囲（`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`）をサポートします。"
                  },
                  "location": {
                    "type": "string",
                    "description": "検索結果用の location パラメータ"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "タイムアウト時間（ミリ秒）",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "他の Firecrawl エンドポイントで無効となる URL を検索結果から除外します。検索結果のデータを他の Firecrawl API エンドポイントへ渡して利用する場合のエラーを減らすのに役立ちます。",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/BaseScrapeOptions"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "formats": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "markdown",
                                "html",
                                "rawHtml",
                                "links",
                                "screenshot",
                                "screenshot@fullPage",
                                "json",
                                "extract"
                              ]
                            },
                            "default": []
                          }
                        }
                      }
                    ],
                    "description": "検索結果スクレイピングのオプション",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "検索結果のタイトル"
                          },
                          "description": {
                            "type": "string",
                            "description": "検索結果の説明"
                          },
                          "url": {
                            "type": "string",
                            "description": "検索結果のURL"
                          },
                          "markdown": {
                            "type": "string",
                            "nullable": true,
                            "description": "スクレイピングがリクエストされた場合の Markdown コンテンツ"
                          },
                          "html": {
                            "type": "string",
                            "nullable": true,
                            "description": "フォーマットでリクエストされた場合の HTML コンテンツ"
                          },
                          "rawHtml": {
                            "type": "string",
                            "nullable": true,
                            "description": "フォーマットで要求された場合の生の HTML コンテンツ"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "フォーマットを指定してリクエストした場合に検出されるリンク"
                          },
                          "screenshot": {
                            "type": "string",
                            "nullable": true,
                            "description": "フォーマットで要求された場合のスクリーンショットのURL"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "sourceURL": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "integer"
                              },
                              "error": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "問題発生時の警告メッセージ"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "リクエストタイムアウト",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llmstxt": {
      "post": {
        "summary": "ウェブサイト向けの LLMs.txt を生成する",
        "operationId": "generateLLMsTxt",
        "tags": [
          "LLMs.txt"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "LLMs.txt を生成する URL"
                  },
                  "maxUrls": {
                    "type": "integer",
                    "description": "解析する URL の最大数",
                    "default": 2
                  },
                  "showFullText": {
                    "type": "boolean",
                    "description": "レスポンスにテキストの全文を含める",
                    "default": false
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LLMs.txt の生成ジョブが正常に開始されました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "LLMs.txt 生成ジョブの ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "リクエストパラメータが不正です",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters provided"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/llmstxt/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "LLMs.txt生成ジョブのID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "LLMs.txt 生成ジョブのステータスと結果を取得",
        "operationId": "getLLMsTxtStatus",
        "tags": [
          "LLMs.txt"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功時のレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "llmstxt": {
                          "type": "string",
                          "description": "生成された LLMs.txt ファイルの内容"
                        },
                        "llmsfulltxt": {
                          "type": "string",
                          "description": "showFullText が true の場合の全文テキストコンテンツ"
                        }
                      }
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "生成されたコンテンツが失効するタイミング"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "LLMs.txt の生成ジョブが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "LLMs.txt generation job not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BaseScrapeOptions": {
        "type": "object",
        "properties": {
          "onlyMainContent": {
            "type": "boolean",
            "description": "ヘッダーやナビゲーション、フッターなどを除き、ページのメインコンテンツのみを返します。",
            "default": true
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "出力に含めるタグ。"
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "出力結果から除外するタグ。"
          },
          "maxAge": {
            "type": "integer",
            "description": "ページのキャッシュがこの値（ミリ秒）より新しい場合は、そのキャッシュ済みページを返します。キャッシュ済みページがこの値より古い場合は、ページを再スクレイピングします。常に最新のデータを必要としない場合は、これを有効にすることでスクレイピングを最大 5 倍高速化できます。デフォルトは 0 で、この場合キャッシュは無効になります。",
            "default": 0
          },
          "headers": {
            "type": "object",
            "description": "リクエストに付与するヘッダー。Cookie や User-Agent などを送信するために使用できます。"
          },
          "waitFor": {
            "type": "integer",
            "description": "ページが十分に読み込まれるまでの待機時間を、コンテンツ取得前にミリ秒単位で指定します。",
            "default": 0
          },
          "mobile": {
            "type": "boolean",
            "description": "モバイル端末からのスクレイピングをエミュレートしたい場合は、true に設定します。レスポンシブページのテストやモバイル向けスクリーンショットの取得に便利です。",
            "default": false
          },
          "skipTlsVerification": {
            "type": "boolean",
            "description": "リクエスト送信時に TLS 証明書の検証をスキップする",
            "default": false
          },
          "timeout": {
            "type": "integer",
            "description": "リクエストのタイムアウト（ミリ秒単位）",
            "default": 30000
          },
          "parsePDF": {
            "type": "boolean",
            "description": "スクレイピング時に PDF ファイルをどのように処理するかを制御します。true の場合、PDF の内容が抽出されて Markdown 形式に変換され、ページ数に応じて課金されます（1 ページあたり 1 クレジット）。false の場合、PDF ファイルは Base64 エンコードされた状態で返され、合計 1 クレジットの固定料金となります。",
            "default": true
          },
          "jsonOptions": {
            "type": "object",
            "description": "JSON オプションオブジェクト",
            "properties": {
              "schema": {
                "type": "object",
                "description": "抽出に使用するスキーマ（任意）。[JSON Schema](https://json-schema.org/) に準拠している必要があります。"
              },
              "systemPrompt": {
                "type": "string",
                "description": "抽出時に使用するシステムプロンプト（任意）"
              },
              "prompt": {
                "type": "string",
                "description": "スキーマを使用しない抽出で使うプロンプト（任意）"
              }
            }
          },
          "actions": {
            "type": "array",
            "description": "コンテンツを取得する前にページで実行するアクション",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "title": "Wait",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "指定したミリ秒間待機します"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "待機時間（ミリ秒）"
                    },
                    "selector": {
                      "type": "string",
                      "description": "要素を検索するためのクエリセレクタ",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Screenshot",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "screenshot"
                      ],
                      "description": "スクリーンショットを撮影します。リンクはレスポンスの `actions.screenshots` 配列に格納されます。"
                    },
                    "fullPage": {
                      "type": "boolean",
                      "description": "ページ全体のスクリーンショットを取得するか、現在のビューポートのみに限定するかを指定します。",
                      "default": false
                    },
                    "quality": {
                      "type": "integer",
                      "description": "スクリーンショットの画質を1〜100で指定します。100が最高画質です。"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Click",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "click"
                      ],
                      "description": "要素をクリック"
                    },
                    "selector": {
                      "type": "string",
                      "description": "要素を取得するためのクエリセレクター",
                      "example": "#load-more-button"
                    },
                    "all": {
                      "type": "boolean",
                      "description": "セレクターに一致した最初の要素だけでなく、すべての要素をクリックします。セレクターに一致する要素が存在しない場合でも、エラーはスローされません。",
                      "default": false
                    }
                  },
                  "required": [
                    "type",
                    "selector"
                  ]
                },
                {
                  "type": "object",
                  "title": "Write text",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "write"
                      ],
                      "description": "入力フィールド、テキストエリア、または contenteditable 要素にテキストを入力します。注意: テキストを入力する前に、必ず「click」アクションでその要素にフォーカスを当ててください。テキストはキーボード入力をシミュレートするため、1文字ずつ入力されます。"
                    },
                    "text": {
                      "type": "string",
                      "description": "入力テキスト",
                      "example": "Hello, world!"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "title": "Press a key",
                  "description": "このページ上でキーボードのキーを押してください。キーコードについては https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html を参照してください。",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "press"
                      ],
                      "description": "ページ上のキーを押してください"
                    },
                    "key": {
                      "type": "string",
                      "description": "押下キー",
                      "example": "Enter"
                    }
                  },
                  "required": [
                    "type",
                    "key"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scroll",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scroll"
                      ],
                      "description": "ページまたは特定の要素をスクロールする"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "スクロール方向",
                      "default": "down"
                    },
                    "selector": {
                      "type": "string",
                      "description": "スクロールする要素を指定するクエリセレクター",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scrape",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scrape"
                      ],
                      "description": "現在のページのコンテンツをスクレイピングして、URL と HTML を返します。"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Execute JavaScript",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "executeJavascript"
                      ],
                      "description": "ページ上でJavaScriptコードを実行する"
                    },
                    "script": {
                      "type": "string",
                      "description": "実行するJavaScriptコード",
                      "example": "document.querySelector('.button').click();"
                    }
                  },
                  "required": [
                    "type",
                    "script"
                  ]
                },
                {
                  "type": "object",
                  "title": "Generate PDF",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "pdf"
                      ],
                      "description": "現在のページのPDFを生成します。生成されたPDFは、レスポンス内の `actions.pdfs` 配列で返されます。"
                    },
                    "format": {
                      "type": "string",
                      "enum": [
                        "A0",
                        "A1",
                        "A2",
                        "A3",
                        "A4",
                        "A5",
                        "A6",
                        "Letter",
                        "Legal",
                        "Tabloid",
                        "Ledger"
                      ],
                      "description": "生成されるPDFのページサイズ",
                      "default": "Letter"
                    },
                    "landscape": {
                      "type": "boolean",
                      "description": "PDF を横向きで生成するかどうか",
                      "default": false
                    },
                    "scale": {
                      "type": "number",
                      "description": "生成されるPDFの倍率",
                      "default": 1
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              ]
            }
          },
          "location": {
            "type": "object",
            "description": "リクエストのロケーション設定です。指定した場合、利用可能であれば適切なプロキシを使用し、対応する言語およびタイムゾーン設定をエミュレートします。指定がない場合は、デフォルトで「US」が使用されます。",
            "properties": {
              "country": {
                "type": "string",
                "description": "ISO 3166-1 alpha-2 形式の国コード（例: 「US」「AU」「DE」「JP」）",
                "pattern": "^[A-Z]{2}$",
                "default": "US"
              },
              "languages": {
                "type": "array",
                "description": "このリクエストに対して優先される言語およびロケールを、優先度の高い順に指定します。デフォルトは、指定された location に対応する言語になります。詳細は https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language を参照してください。",
                "items": {
                  "type": "string",
                  "example": "en-US"
                }
              }
            }
          },
          "removeBase64Images": {
            "type": "boolean",
            "description": "出力から、非常に長大になり得るすべての base64 画像を削除します。画像の alt テキストは出力内に残りますが、URL はプレースホルダーに置き換えられます。",
            "default": true
          },
          "blockAds": {
            "type": "boolean",
            "description": "広告ブロックとクッキー同意ポップアップのブロックを有効にします。",
            "default": true
          },
          "proxy": {
            "type": "string",
            "enum": [
              "basic",
              "stealth",
              "auto"
            ],
            "description": "使用するプロキシの種類を指定します。\n\n - **basic**: ボット対策がない、または基本的なボット対策のみが導入されているサイト向けのプロキシです。高速で、通常は問題なく動作します。\n - **stealth**: 高度なボット対策が導入されているサイト向けのステルスプロキシです。basic より遅くなりますが、特定のサイトではより安定して動作します。1 リクエストあたり最大 5 クレジットかかります。\n - **auto**: basic プロキシでスクレイピングに失敗した場合、Firecrawl が自動的にステルスプロキシで再試行します。ステルスでの再試行が成功した場合、そのスクレイピングには 5 クレジットが請求されます。最初の basic での試行が成功した場合は、通常のコストのみが請求されます。\n\nプロキシを指定しない場合、Firecrawl は basic をデフォルトで使用します。"
          },
          "storeInCache": {
            "type": "boolean",
            "description": "true の場合、そのページは Firecrawl のインデックスとキャッシュに保存されます。スクレイピングによってデータ保護上の懸念が生じる可能性がある場合は、これを false に設定すると有用です。機微なスクレイピングに関連する一部のパラメータ（アクション、ヘッダー）を使用すると、このパラメータは強制的に false に設定されます。",
            "default": true
          }
        }
      },
      "ScrapeOptions": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseScrapeOptions"
          },
          {
            "type": "object",
            "properties": {
              "formats": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "markdown",
                    "html",
                    "rawHtml",
                    "links",
                    "screenshot",
                    "screenshot@fullPage",
                    "json",
                    "changeTracking"
                  ]
                },
                "description": "出力に含めるフォーマットを指定します。",
                "default": [
                  "markdown"
                ]
              },
              "changeTrackingOptions": {
                "type": "object",
                "description": "changeTracking 用のオプション（ベータ版）。フォーマットに 'changeTracking' が含まれている場合にのみ適用されます。changeTracking を使用する際は、'markdown' フォーマットも必ず指定する必要があります。",
                "properties": {
                  "modes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "git-diff",
                        "json"
                      ]
                    },
                    "description": "変更追跡に使用するモードです。`git-diff` は詳細な差分を提供し、`json` は抽出された JSON データを比較します。"
                  },
                  "schema": {
                    "type": "object",
                    "description": "「json」モードで JSON 抽出を行う際のスキーマです。抽出および比較するデータ構造を定義します。[JSON Schema](https://json-schema.org/) に準拠している必要があります。"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "json モードで変更追跡を行う際に使用するプロンプトです。指定しない場合は、デフォルトのプロンプトが使用されます。"
                  },
                  "tag": {
                    "type": "string",
                    "nullable": true,
                    "default": null,
                    "description": "変更追跡に使用するタグです。タグによって変更追跡履歴を別々の「ブランチ」に分割でき、特定のタグでの変更追跡は同じタグで実行されたスクレイプのみを比較対象とします。指定しない場合は、デフォルトタグ（null）が使用されます。"
                  }
                }
              }
            }
          }
        ]
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "markdown": {
                "type": "string"
              },
              "html": {
                "type": "string",
                "nullable": true,
                "description": "`formats` に `html` が含まれている場合のページコンテンツの HTML 版"
              },
              "rawHtml": {
                "type": "string",
                "nullable": true,
                "description": "`formats` に `rawHtml` が含まれている場合の、そのページの生の HTML コンテンツ"
              },
              "screenshot": {
                "type": "string",
                "nullable": true,
                "description": "`formats` に `screenshot` が含まれている場合のページのスクリーンショット"
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "`formats` に `links` が含まれている場合の、そのページ上のリンクの一覧"
              },
              "actions": {
                "type": "object",
                "nullable": true,
                "description": "`actions` パラメータで指定されたアクションの結果。リクエストで `actions` パラメータが指定されている場合にのみ含まれます",
                "properties": {
                  "screenshots": {
                    "type": "array",
                    "description": "スクリーンショットのURL。指定したスクリーンショットアクションと同じ順序です。",
                    "items": {
                      "type": "string",
                      "format": "url"
                    }
                  },
                  "scrapes": {
                    "type": "array",
                    "description": "提供されたスクレイプアクションと同じ順序でコンテンツをスクレイピングします。",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "html": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "javascriptReturns": {
                    "type": "array",
                    "description": "JavaScript の戻り値。指定された executeJavascript アクションの順序どおりに並びます。",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {}
                      }
                    }
                  },
                  "pdfs": {
                    "type": "array",
                    "description": "生成されたPDF。指定されたpdfアクションと同じ順序で生成されます。",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "sourceURL": {
                    "type": "string",
                    "format": "uri"
                  },
                  "<any other metadata> ": {
                    "type": "string"
                  },
                  "statusCode": {
                    "type": "integer",
                    "description": "ページのステータスコード"
                  },
                  "error": {
                    "type": "string",
                    "nullable": true,
                    "description": "ページのエラーメッセージ"
                  }
                }
              },
              "llm_extraction": {
                "type": "object",
                "description": "LLM Extraction 使用時に表示されます。定義されたスキーマに従ってページから抽出されたデータが表示されます。",
                "nullable": true
              },
              "warning": {
                "type": "string",
                "nullable": true,
                "description": "LLM Extraction の使用時に表示されることがあります。警告メッセージによって、抽出処理に関する問題がある場合は通知されます。"
              },
              "changeTracking": {
                "type": "object",
                "nullable": true,
                "description": "`formats` に `changeTracking` が含まれている場合の変更追跡情報です。`changeTracking` フォーマットがリクエストされた場合にのみ含まれます。",
                "properties": {
                  "previousScrapeAt": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "現在のページと比較される前回のスクレイプのタイムスタンプ。前回のスクレイプが存在しない場合は null になります。"
                  },
                  "changeStatus": {
                    "type": "string",
                    "enum": [
                      "new",
                      "same",
                      "changed",
                      "removed"
                    ],
                    "description": "2つのページバージョン間の比較結果です。'new' はこのページが以前は存在しなかったこと、'same' はコンテンツに変更がないこと、'changed' はコンテンツが変更されたこと、'removed' はページが削除されたことを表します。"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "visible",
                      "hidden"
                    ],
                    "description": "現在のページ／URL の可視性を示します。'visible' は、その URL がリンクやサイトマップなどのオーガニックな経路によって発見されたことを意味し、'hidden' は、その URL が過去のクロール結果として保存されたメモリから発見されたことを意味します。"
                  },
                  "diff": {
                    "type": "string",
                    "nullable": true,
                    "description": "「git-diff」モード使用時の Git 形式の差分。モードが「git-diff」に設定されている場合にのみ表示されます。"
                  },
                  "json": {
                    "type": "object",
                    "nullable": true,
                    "description": "「json」モード使用時の JSON 比較結果。モードが「json」に設定されている場合にのみ表示されます。`schema` で定義された型に基づき、`previous` と `current` のスクレイプ結果から取得したすべてのキーとその値のリストを返します。例は[こちら](/features/change-tracking)を参照してください。"
                  }
                }
              }
            }
          }
        }
      },
      "CrawlStatusResponseObj": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "クロールの現在の状態です。`scraping`、`completed`、`failed` のいずれかです。"
          },
          "total": {
            "type": "integer",
            "description": "クロールを試みたページの総数。"
          },
          "completed": {
            "type": "integer",
            "description": "正常にクロールできたページ数。"
          },
          "creditsUsed": {
            "type": "integer",
            "description": "クロールに使用されたクレジット数。"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "クロールが有効期限を迎える日時。"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "次の 10MB 分のデータを取得するための URL。クロールが完了していない場合、またはレスポンスが 10MB を超える場合に返されます。"
          },
          "data": {
            "type": "array",
            "description": "クロール結果のデータ。",
            "items": {
[...]
