{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v2",
    "description": "API pour interagir avec les services Firecrawl afin d’effectuer des tâches de scraping et de crawling web.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Scraper une seule URL et éventuellement en extraire des informations à l’aide d’un LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "L’URL à analyser"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Si ce paramètre est défini sur true, cela désactivera toute conservation des données pour ce scraping. Pour activer cette fonctionnalité, veuillez contacter help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape": {
      "post": {
        "summary": "Effectuer un scraping de plusieurs URL et, en option, en extraire des informations à l’aide d’un LLM",
        "operationId": "scrapeAndExtractFromUrls",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "L’URL à scraper"
                        }
                      },
                      "webhook": {
                        "type": "object",
                        "description": "Un objet représentant une spécification de webhook.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "L’URL à laquelle envoyer le webhook. Ce dernier sera déclenché au démarrage du scraping par lot (batch_scrape.started), pour chaque page scrappée (batch_scrape.page) et lorsque le scraping par lot est terminé (batch_scrape.completed) ou échoue (batch_scrape.failed). La réponse sera identique à celle renvoyée par l’endpoint `/scrape`."
                          },
                          "headers": {
                            "type": "object",
                            "description": "En-têtes à envoyer à l’URL du webhook.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Métadonnées personnalisées qui seront incluses dans tous les payloads de webhook de ce crawl",
                            "additionalProperties": true
                          },
                          "events": {
                            "type": "array",
                            "description": "Type d’événements à envoyer à l’URL du webhook (par défaut : tous).",
                            "items": {
                              "type": "string",
                              "enum": [
                                "completed",
                                "page",
                                "failed",
                                "started"
                              ]
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "maxConcurrency": {
                        "type": "integer",
                        "description": "Nombre maximal de scrapes simultanés. Ce paramètre vous permet de définir une limite de parallélisme pour ce batch de scraping. S’il n’est pas spécifié, le batch de scraping respecte la limite de parallélisme définie pour votre équipe."
                      },
                      "ignoreInvalidURLs": {
                        "type": "boolean",
                        "default": true,
                        "description": "Si des URL non valides sont spécifiées dans le tableau urls, elles seront ignorées. Plutôt que de faire échouer l’ensemble de la requête, un scraping par lot sera lancé avec les URL valides restantes, et les URL non valides seront renvoyées dans le champ invalidURLs de la réponse."
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "zeroDataRetention": {
                        "type": "boolean",
                        "default": false,
                        "description": "Si cette valeur est définie sur true, aucune donnée ne sera conservée pour ce scraping par lot. Pour activer cette option, veuillez contacter help@firecrawl.dev"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "L’ID de la tâche de scraping en lot",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Récupérer le statut d’un job de scraping par lots",
        "operationId": "getBatchScrapeStatus",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchScrapeStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Annuler un job de scraping par lot",
        "operationId": "cancelBatchScrape",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Annulation réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch scrape job successfully cancelled."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tâche de scraping par lots introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Batch scrape job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch/scrape/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "L’ID de la tâche de scraping par lots",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Récupérer les erreurs d'une tâche de scraping par lots",
        "operationId": "getBatchScrapeErrors",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "L’identifiant de la tâche de crawl",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Obtenir le statut d'une tâche de crawl",
        "operationId": "getCrawlStatus",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Annuler un job de crawl",
        "operationId": "cancelCrawl",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Annulation réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ],
                      "example": "cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tâche de crawl introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Crawl job not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl/{id}/errors": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "L’ID de la tâche de crawl",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Récupérer les erreurs d’une tâche de crawl",
        "operationId": "getCrawlErrors",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlErrorsResponseObj"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "summary": "Explorer plusieurs URL selon les options",
        "operationId": "crawlUrls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "L’URL de base à partir de laquelle démarrer l’exploration"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Invite à utiliser pour générer les options du crawler (tous les paramètres ci-dessous) à partir d’une description en langage naturel. Les paramètres définis explicitement auront priorité sur les équivalents générés."
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Des expressions régulières de chemin d’URL qui excluent de l’exploration les URL correspondantes. Par exemple, si vous définissez `\"excludePaths\": [\"blog/.*\"]` pour l’URL de base firecrawl.dev, tous les résultats correspondant à ce modèle seront exclus, comme https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Motifs d’expressions régulières (regex) pour les chemins d’URL qui indiquent quelles URL inclure dans le crawl. Seuls les chemins correspondant aux motifs spécifiés seront inclus dans la réponse. Par exemple, si vous définissez `\"includePaths\": [\"blog/.*\"]` pour l’URL de base firecrawl.dev, seuls les résultats correspondant à ce motif seront inclus, comme https://www.firecrawl.dev/blog/firecrawl-launch-week-1-recap."
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "description": "Profondeur maximale d’exploration en fonction de l’ordre de découverte. Le site racine et les pages provenant du sitemap ont une profondeur de découverte de 0. Par exemple, si vous définissez ce paramètre sur 1 et que vous activez ignoreSitemap, vous n’explorerez que l’URL saisie et toutes les URL liées depuis cette page."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include"
                    ],
                    "description": "Mode sitemap pour l’exploration. Si vous le définissez sur « skip », le crawler ignorera le sitemap du site web et n’explorera que l’URL fournie, puis découvrira les pages à partir de là.",
                    "default": "include"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Ne relancez pas le scraping du même chemin avec des paramètres de requête différents (ou sans paramètres)",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Nombre maximal de pages à explorer. La limite par défaut est de 10 000.",
                    "default": 10000
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "Autorise le crawler à suivre les liens internes vers des URL de même niveau ou parentes, et pas seulement vers les chemins enfants.\n\nfalse : N'explore que les URL plus profondes (enfants).\n→ ex. /features/feature-1 → /features/feature-1/tips ✅\n→ Ne suivra pas /pricing ou / ❌\n\ntrue : Explore tous les liens internes, y compris ceux de même niveau et les parents.\n→ ex. /features/feature-1 → /pricing, /, etc. ✅\n\nUtilisez true pour une couverture interne plus large, au-delà des chemins imbriqués.",
                    "default": false
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "Permet au crawler de suivre les liens vers des sites web externes.",
                    "default": false
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "Autorise le crawler à suivre les liens pointant vers les sous-domaines du domaine principal.",
                    "default": false
                  },
                  "delay": {
                    "type": "number",
                    "description": "Délai en secondes entre chaque opération de scraping. Cela permet de respecter les limites de fréquence des sites web."
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "description": "Nombre maximal d’opérations de scraping simultanées. Ce paramètre vous permet de définir une limite de parallélisme pour ce crawl. S’il n’est pas renseigné, le crawl respecte la limite de parallélisme définie pour votre équipe."
                  },
                  "webhook": {
                    "type": "object",
                    "description": "Un objet de spécification de webhook.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "L’URL à laquelle envoyer le webhook. Celui-ci sera déclenché au démarrage du crawl (crawl.started), pour chaque page explorée (crawl.page) et lorsque le crawl est terminé (crawl.completed ou crawl.failed). La réponse sera identique à celle de l’endpoint `/scrape`."
                      },
                      "headers": {
                        "type": "object",
                        "description": "En-têtes à envoyer à l’URL du webhook.",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Métadonnées personnalisées qui seront incluses dans tous les payloads de webhook de ce crawl",
                        "additionalProperties": true
                      },
                      "events": {
                        "type": "array",
                        "description": "Type d’événements à envoyer à l’URL du webhook. (par défaut : tous)",
                        "items": {
                          "type": "string",
                          "enum": [
                            "completed",
                            "page",
                            "failed",
                            "started"
                          ]
                        }
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "Si la valeur est true, cela activera l’absence totale de conservation des données pour ce crawl. Pour activer cette fonctionnalité, veuillez contacter help@firecrawl.dev"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "Mapper plusieurs URL selon les options",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "L’URL de base à partir de laquelle lancer le crawl"
                  },
                  "search": {
                    "type": "string",
                    "description": "Requête de recherche à utiliser pour la cartographie. Pendant la phase Alpha, la composante « intelligente » de la fonctionnalité de recherche est limitée à 500 résultats de recherche. En revanche, si map trouve davantage de résultats, aucune limite n’est appliquée."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "Mode sitemap lors du mappage. Si vous le réglez sur `skip`, le sitemap ne sera pas utilisé pour trouver des URL. Si vous le réglez sur `only`, seules les URL présentes dans le sitemap seront renvoyées. Par défaut (`include`), le sitemap est utilisé conjointement avec les autres méthodes pour trouver des URL.",
                    "default": "include"
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Inclure les sous-domaines du site",
                    "default": true
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Ne retournez pas d’URL comportant des paramètres de requête",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Nombre maximal de liens à retourner",
                    "default": 5000,
                    "maximum": 30000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Délai d’expiration en millisecondes. Aucun délai d’expiration n’est défini par défaut."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extraire des données structurées à partir de pages à l’aide de modèles de langage (LLM)",
        "operationId": "extractData",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "description": "Les URL à partir desquelles les données seront extraites. Les URL doivent être au format glob."
                    }
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt pour guider le processus d’extraction"
                  },
                  "schema": {
                    "type": "object",
                    "description": "Schéma définissant la structure des données extraites. Doit être conforme à la [spécification JSON Schema](https://json-schema.org/)."
                  },
                  "enableWebSearch": {
                    "type": "boolean",
                    "description": "Lorsque cette option est activée, l’extraction utilisera la recherche web pour trouver des données supplémentaires",
                    "default": false
                  },
                  "ignoreSitemap": {
                    "type": "boolean",
                    "description": "Si cette option est définie sur true, les fichiers sitemap.xml sont ignorés pendant l’analyse du site web",
                    "default": false
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Si la valeur est définie sur true, les sous-domaines des URL fournies seront également explorés",
                    "default": true
                  },
                  "showSources": {
                    "type": "boolean",
                    "description": "Si la valeur est `true`, les sources utilisées pour extraire les données seront incluses dans la réponse sous la clé `sources`.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "$ref": "#/components/schemas/ScrapeOptions"
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "default": true,
                    "description": "Si des URL non valides sont spécifiées dans le tableau urls, elles seront ignorées. Plutôt que de provoquer l’échec de l’ensemble de la requête, une extraction sera effectuée en utilisant uniquement les URL valides restantes, et les URL non valides seront renvoyées dans le champ invalidURLs de la réponse."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extraction réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid input data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID de la tâche d’extraction",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Consulter le statut d’une tâche d’extraction",
        "operationId": "getExtractStatus",
        "tags": [
          "Extraction"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl/active": {
      "get": {
        "summary": "Récupérer tous les crawls actifs de l’équipe authentifiée",
        "operationId": "getActiveCrawls",
        "tags": [
          "Crawling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "crawls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "L’identifiant unique de l’exploration"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "ID de l’équipe propriétaire du crawl"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "L’URL de départ du crawl"
                          },
                          "options": {
                            "type": "object",
                            "description": "Options du crawler utilisées pour ce crawl",
                            "properties": {
                              "scrapeOptions": {
                                "$ref": "#/components/schemas/ScrapeOptions"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "url",
                          "status",
                          "options"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Paiement requis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage": {
      "get": {
        "summary": "Obtenir le nombre de crédits restants de l'équipe authentifiée",
        "operationId": "getCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingCredits": {
                          "type": "number",
                          "description": "Nombre de crédits restants pour l'équipe",
                          "example": 1000
                        },
                        "planCredits": {
                          "type": "number",
                          "description": "Nombre de crédits inclus dans le forfait. Cela n’inclut pas les crédits de coupons, les packs de crédits ni les recharges automatiques.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date de début de la période de facturation. Null si vous utilisez l’offre gratuite",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date de fin de la période de facturation. null si vous utilisez le plan gratuit",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Impossible de trouver les informations sur l’utilisation des crédits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find credit usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/credit-usage/historical": {
      "get": {
        "summary": "Obtenir l’historique d’utilisation des crédits pour l’équipe authentifiée",
        "operationId": "getHistoricalCreditUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Récupérer l’historique d’utilisation des crédits par clé API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de début de la période de facturation",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de fin de la période de facturation",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nom de la clé d’API utilisée pour la période de facturation. null si byApiKey est false (valeur par défaut)",
                            "nullable": true
                          },
                          "totalCredits": {
                            "type": "integer",
                            "description": "Nombre total de crédits utilisés sur la période de facturation",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical credit usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage": {
      "get": {
        "summary": "Obtenir le nombre de jetons restants de l’équipe authentifiée (uniquement pour Extract)",
        "operationId": "getTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "remainingTokens": {
                          "type": "number",
                          "description": "Nombre de jetons restants pour l’équipe",
                          "example": 1000
                        },
                        "planTokens": {
                          "type": "number",
                          "description": "Nombre de jetons inclus dans l’offre. N’inclut pas les jetons issus de coupons.",
                          "example": 500000
                        },
                        "billingPeriodStart": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date de début de la période de facturation. null si vous utilisez le plan gratuit",
                          "example": "2025-01-01T00:00:00Z",
                          "nullable": true
                        },
                        "billingPeriodEnd": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date de fin de la période de facturation. null si le plan gratuit est utilisé",
                          "example": "2025-01-31T23:59:59Z",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Informations sur l’utilisation des jetons introuvables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Could not find token usage information"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/token-usage/historical": {
      "get": {
        "summary": "Obtenir l’historique d’utilisation des jetons pour l’équipe authentifiée (Extract uniquement)",
        "operationId": "getHistoricalTokenUsage",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "byApiKey",
            "in": "query",
            "description": "Récupérer l’historique d’utilisation des jetons par clé API",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de début de la période de facturation",
                            "example": "2025-01-01T00:00:00Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de fin de la période de facturation",
                            "example": "2025-01-31T23:59:59Z"
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "Nom de la clé d’API utilisée pour la période de facturation. null si byApiKey est false (valeur par défaut)",
                            "nullable": true
                          },
                          "totalTokens": {
                            "type": "integer",
                            "description": "Nombre total de jetons utilisés pendant la période de facturation",
                            "example": 1000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error while fetching historical token usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Rechercher et éventuellement scraper les résultats de recherche",
        "operationId": "searchAndScrape",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Requête de recherche"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Nombre maximal de résultats à retourner",
                    "default": 5,
                    "maximum": 100,
                    "minimum": 1
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Web",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "web"
                              ]
                            },
                            "tbs": {
                              "type": "string",
                              "description": "Paramètre de recherche temporel. Prend en charge les plages temporelles prédéfinies (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) ainsi que les plages de dates personnalisées (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)."
                            },
                            "location": {
                              "type": "string",
                              "description": "Paramètre de localisation pour les résultats de recherche"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Images",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "images"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "News",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "news"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "Sources à utiliser pour la recherche. Détermine les tableaux disponibles dans la réponse.",
                    "default": [
                      "web"
                    ]
                  },
                  "tbs": {
                    "type": "string",
                    "description": "Paramètre de recherche temporel. Prend en charge des intervalles de temps prédéfinis (`qdr:h`, `qdr:d`, `qdr:w`, `qdr:m`, `qdr:y`) et des plages de dates personnalisées (`cdr:1,cd_min:MM/DD/YYYY,cd_max:MM/DD/YYYY`)."
                  },
                  "location": {
                    "type": "string",
                    "description": "Paramètre de localisation pour les résultats de recherche"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Délai d’expiration (en millisecondes)",
                    "default": 60000
                  },
                  "ignoreInvalidURLs": {
                    "type": "boolean",
                    "description": "Exclut des résultats de recherche les URL invalides pour d’autres endpoints Firecrawl. Cela permet de réduire les erreurs si vous envoyez les données issues de la recherche vers d’autres endpoints de l’API Firecrawl.",
                    "default": false
                  },
                  "scrapeOptions": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ScrapeOptions"
                      }
                    ],
                    "description": "Options d’extraction des résultats de recherche",
                    "default": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "web": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Titre du résultat de recherche"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description du résultat de recherche"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL du résultat de la recherche"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenu Markdown lorsque le scraping a été demandé"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenu HTML si ce format est demandé"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenu HTML brut si ce format est demandé"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Liens renvoyés si demandés dans les formats"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL de la capture d’écran si ce format est demandé dans formats"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Titre du résultat de la recherche"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL de l’image"
                              },
                              "imageWidth": {
                                "type": "integer",
                                "description": "Largeur de l’image"
                              },
                              "imageHeight": {
                                "type": "integer",
                                "description": "Hauteur de l’image"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL du résultat de la recherche"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Position du résultat de recherche"
                              }
                            }
                          }
                        },
                        "news": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Titre de l’article"
                              },
                              "snippet": {
                                "type": "string",
                                "description": "Extrait de l’article"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL de l’article"
                              },
                              "date": {
                                "type": "string",
                                "description": "Date de l’article"
                              },
                              "imageUrl": {
                                "type": "string",
                                "description": "URL de l'image de l'article"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Position de l’article"
                              },
                              "markdown": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenu Markdown si le scraping a été demandé"
                              },
                              "html": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenu HTML si demandé dans les formats de sortie"
                              },
                              "rawHtml": {
                                "type": "string",
                                "nullable": true,
                                "description": "Contenu HTML brut lorsqu’il est demandé dans les formats"
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Liens trouvés si demandés via formats"
                              },
                              "screenshot": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL de la capture d’écran si ce format est demandé"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "sourceURL": {
                                    "type": "string"
                                  },
                                  "statusCode": {
                                    "type": "integer"
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "Les résultats de la recherche. Les tableaux disponibles dépendront des sources que vous avez spécifiées dans la requête. Par défaut, le tableau `web` sera retourné."
                    },
                    "warning": {
                      "type": "string",
                      "nullable": true,
                      "description": "Message d'avertissement en cas de problème"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Délai d’attente dépassé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Request timed out"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Formats": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "title": "Markdown",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "markdown"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "html"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Raw HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "rawHtml"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Links",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "links"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Screenshot",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "screenshot"
                  ]
                },
                "fullPage": {
                  "type": "boolean",
                  "description": "Indique s’il faut réaliser une capture d’écran de la page entière ou la limiter à la zone actuellement visible (viewport).",
                  "default": false
                },
                "quality": {
                  "type": "integer",
                  "description": "La qualité de la capture d’écran, sur une échelle de 1 à 100. 100 correspond à la qualité maximale."
                },
                "viewport": {
                  "type": "object",
                  "properties": {
                    "width": {
                      "type": "integer",
                      "description": "Largeur du viewport en pixels"
                    },
                    "height": {
                      "type": "integer",
                      "description": "Hauteur du viewport en pixels"
                    }
                  },
                  "required": [
                    "width",
                    "height"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "JSON",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "json"
                  ]
                },
                "schema": {
                  "type": "object",
                  "description": "Le schéma à utiliser pour la sortie au format JSON. Doit être conforme à [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "Le prompt à utiliser pour la sortie JSON"
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Change Tracking",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "changeTracking"
                  ]
                },
                "modes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "git-diff",
                      "json"
                    ]
                  },
                  "description": "Le mode de suivi des modifications à utiliser. « git-diff » fournit un diff détaillé, et « json » compare les données JSON extraites."
                },
                "schema": {
                  "type": "object",
                  "description": "Schéma d’extraction JSON pour le mode « json ». Définit la structure des données à extraire et à comparer. Doit être conforme à [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "Prompt à utiliser pour le suivi des modifications en mode « json ». S’il n’est pas renseigné, le prompt par défaut sera utilisé."
                },
                "tag": {
                  "type": "string",
                  "nullable": true,
                  "default": null,
                  "description": "Tag à utiliser pour le suivi des modifications. Les tags permettent de répartir l’historique du suivi des modifications en « branches » distinctes : le suivi associé à un tag donné ne se comparera qu’aux extractions effectuées avec ce même tag. S’il n’est pas renseigné, le tag par défaut (null) sera utilisé."
                }
              },
              "required": [
                "type"
              ]
            }
          ]
        },
        "description": "Formats de sortie à inclure dans la réponse. Vous pouvez spécifier un ou plusieurs formats, soit sous forme de chaînes de caractères (par exemple, `'markdown'`), soit sous forme d’objets avec des options supplémentaires (par exemple, `{ type: 'json', schema: {...} }`). Certains formats nécessitent la définition d’options spécifiques. Exemple : `['markdown', { type: 'json', schema: {...} }]`.",
        "default": [
          "markdown"
        ]
      },
      "ScrapeOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "$ref": "#/components/schemas/Formats"
          },
          "onlyMainContent": {
            "type": "boolean",
            "description": "Retourner uniquement le contenu principal de la page, en excluant les en-têtes, barres de navigation, pieds de page, etc.",
            "default": true
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Balises à inclure dans le résultat."
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Balises à exclure du résultat."
          },
          "maxAge": {
            "type": "integer",
            "description": "Renvoie une version mise en cache de la page si elle a été mise en cache il y a moins de cette durée (en millisecondes). Si la version mise en cache de la page est plus ancienne que cette valeur, la page sera à nouveau scrapée. Si vous n’avez pas besoin de données extrêmement récentes, activer cette option peut accélérer vos scrapes jusqu’à 500 %. La valeur par défaut est de 2 jours.",
            "default": 172800000
          },
          "headers": {
            "type": "object",
            "description": "En-têtes à envoyer avec la requête. Ils peuvent être utilisés pour envoyer des cookies, un user-agent, etc."
          },
          "waitFor": {
            "type": "integer",
            "description": "Spécifiez un délai en millisecondes avant de récupérer le contenu, afin de laisser à la page suffisamment de temps pour se charger.",
            "default": 0
          },
          "mobile": {
            "type": "boolean",
            "description": "Définissez cette valeur sur true si vous souhaitez simuler le scraping depuis un appareil mobile. Utile pour tester des pages responsives et prendre des captures d’écran sur mobile.",
            "default": false
          },
          "skipTlsVerification": {
            "type": "boolean",
            "description": "Ignorer la vérification du certificat TLS pour les requêtes",
            "default": true
          },
          "timeout": {
            "type": "integer",
            "description": "Délai d'expiration de la requête, en millisecondes."
          },
          "parsers": {
            "type": "array",
            "description": "Contrôle la façon dont les fichiers sont traités lors du scraping. Lorsque « pdf » est inclus (par défaut), le contenu du PDF est extrait et converti au format Markdown, avec une facturation basée sur le nombre de pages (1 crédit par page). Lorsqu’un tableau vide est transmis, le fichier PDF est renvoyé en encodage base64 avec un tarif fixe de 1 crédit au total.",
            "items": {
              "type": "string",
              "enum": [
                "pdf"
              ]
            },
            "default": [
              "pdf"
            ]
          },
          "actions": {
            "type": "array",
            "description": "Actions à effectuer sur la page avant de récupérer le contenu",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "title": "Wait",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "Attendre pendant un nombre spécifié de millisecondes"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "Durée d’attente en millisecondes"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Sélecteur pour trouver l’élément par",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Screenshot",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "screenshot"
                      ],
                      "description": "Prenez une capture d’écran. Les liens seront disponibles dans le tableau `actions.screenshots` de la réponse."
                    },
                    "fullPage": {
                      "type": "boolean",
                      "description": "Indique s’il faut effectuer une capture d’écran de la page entière ou la limiter à la zone de visualisation actuelle (viewport).",
                      "default": false
                    },
                    "quality": {
                      "type": "integer",
                      "description": "La qualité de la capture d’écran, entre 1 et 100, 100 correspondant à la meilleure qualité."
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "description": "Largeur du viewport en pixels"
                        },
                        "height": {
                          "type": "integer",
                          "description": "La hauteur du viewport en pixels"
                        }
                      },
                      "required": [
                        "width",
                        "height"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Click",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "click"
                      ],
                      "description": "Cliquez sur un élément"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Sélecteur de requête permettant de trouver l’élément",
                      "example": "#load-more-button"
                    },
                    "all": {
                      "type": "boolean",
                      "description": "Clique sur tous les éléments qui correspondent au sélecteur, et pas seulement sur le premier. Ne lève pas d’erreur si aucun élément ne correspond au sélecteur.",
                      "default": false
                    }
                  },
                  "required": [
                    "type",
                    "selector"
                  ]
                },
                {
                  "type": "object",
                  "title": "Write text",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "write"
                      ],
                      "description": "Saisissez du texte dans un champ de saisie, une zone de texte ou un élément contenteditable. Remarque : vous devez d’abord donner le focus à l’élément à l’aide d’une action `click` avant d’écrire. Le texte sera saisi caractère par caractère pour simuler une saisie au clavier."
                    },
                    "text": {
                      "type": "string",
                      "description": "Texte à saisir",
                      "example": "Hello, world!"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                {
                  "type": "object",
                  "title": "Press a key",
                  "description": "Appuyez sur une touche du clavier. Consultez https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html pour la liste des codes de touches.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "press"
                      ],
                      "description": "Appuyez sur une touche"
                    },
                    "key": {
                      "type": "string",
                      "description": "Touche à presser",
                      "example": "Enter"
                    }
                  },
                  "required": [
                    "type",
                    "key"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scroll",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scroll"
                      ],
                      "description": "Faire défiler la page ou un élément spécifique"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ],
                      "description": "Sens de défilement",
                      "default": "down"
                    },
                    "selector": {
                      "type": "string",
                      "description": "Sélecteur CSS de l’élément à faire défiler",
                      "example": "#my-element"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Scrape",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "scrape"
                      ],
                      "description": "Extrait le contenu de la page en cours et renvoie l’URL ainsi que le HTML."
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "title": "Execute JavaScript",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "executeJavascript"
                      ],
                      "description": "Exécuter le code JavaScript sur la page"
                    },
                    "script": {
                      "type": "string",
                      "description": "Code JavaScript à exécuter",
                      "example": "document.querySelector('.button').click();"
                    }
                  },
                  "required": [
                    "type",
                    "script"
                  ]
                },
                {
                  "type": "object",
                  "title": "Generate PDF",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "pdf"
                      ],
                      "description": "Générer un PDF de la page actuelle. Le PDF sera renvoyé dans le tableau `actions.pdfs` de la réponse."
                    },
                    "format": {
                      "type": "string",
                      "enum": [
                        "A0",
                        "A1",
                        "A2",
                        "A3",
                        "A4",
                        "A5",
                        "A6",
                        "Letter",
                        "Legal",
                        "Tabloid",
                        "Ledger"
                      ],
                      "description": "La taille de la page du PDF généré",
                      "default": "Letter"
                    },
                    "landscape": {
                      "type": "boolean",
                      "description": "Indique s’il faut générer le PDF au format paysage",
                      "default": false
                    },
                    "scale": {
                      "type": "number",
                      "description": "Le multiplicateur d’échelle du PDF généré",
                      "default": 1
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              ]
            }
          },
          "location": {
            "type": "object",
            "description": "Paramètres de localisation pour la requête. Lorsqu’ils sont définis, un proxy approprié est utilisé, si disponible, et la langue ainsi que le fuseau horaire correspondants sont émulés. La valeur par défaut est « US » si non spécifié.",
            "properties": {
              "country": {
                "type": "string",
                "description": "Code de pays ISO 3166-1 alpha-2 (p. ex. « US », « AU », « DE », « JP »)",
                "pattern": "^[A-Z]{2}$",
                "default": "US"
              },
              "languages": {
                "type": "array",
                "description": "Langues et paramètres régionaux préférés pour la requête, par ordre de priorité. Par défaut, la langue du lieu spécifié est utilisée. Voir https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                "items": {
                  "type": "string",
                  "example": "en-US"
                }
              }
            }
          },
          "removeBase64Images": {
            "type": "boolean",
            "description": "Supprime toutes les images encodées en base64 de la sortie, qui peuvent être excessivement longues. Le texte alternatif de l’image est conservé, mais l’URL est remplacée par un espace réservé.",
            "default": true
          },
          "blockAds": {
            "type": "boolean",
            "description": "Active le blocage des publicités et des fenêtres contextuelles de consentement aux cookies.",
            "default": true
          },
          "proxy": {
            "type": "string",
            "enum": [
              "basic",
              "stealth",
              "auto"
            ],
[...]
